{% extends 'base.twig' %}

{% block content %}
	<div class="main-post-wrapper">
		<div class="back-to-parent">
			<a class="primary-button--plain-back" href="/directory-archive">
				<span class="fas fa-chevron-left"></span> Back to Directory
			</a>
		</div>

		{% if post.bio|length > 120 %}
			<section class="profile-container">
		{% else %}
			<section class="profile-container adjust-bio">
		{% endif %}
			<aside class="profile-information">
				<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}"/>
				{% if post.emp_title %}
					<h4 class="dark-text">{{ post.emp_title }}</h4>
				{% endif %}

				<div class="locations-information">
					{% if post.location_office %}
						{% for office in post.get_field('location_office') %}
							<p><a class="primary-button--plain" href="/office/{{ office.office_link }}">{{ office.office_name }}</a></p>
						{% endfor %}
					{% endif %}

					{# List all Parishes for this person #}
					{% if post.location_parish %}
						{% for parish in post.get_field('location_parish') %}
							<p><a class="primary-button--plain" href="/parish/{{ parish.parish_link }}">{{ parish.parish_name }}</a></p>
						{% endfor %}
					{% endif %}

					{# List all Schools for this person #}
					{% if post.location_school %}
						{% for school in post.get_field('location_school') %}
							<p><a class="primary-button--plain" href="/school/{{ school.school_link }}">{{ school.school_name }}</a></p>
						{% endfor %}
					{% endif %}
				</div> {# /.locations-information #}

				<div> {# holder #}
					{% if post.phone_number and post.phone_extension %}
						<a class="phone" href="tel:{{ post.phone_number }},{{ post.phone_extension }}">
							<span class="fas fa-phone"></span> {{ post.phone_number }}, Ext: {{ post.phone_extension }}
						</a>
					{% elseif post.phone_number and not post.phone_extension %}
						<a class="phone" href="tel:{{ post.phone_number }}"><span class="fas fa-phone"></span> {{ post.phone_number }}</a>
					{% endif %}

					{% if post.email %}
						<a class="email" href="mailto:{{ post.email }}"><span class="fas fa-envelope"></span> {{ post.email }}</a>
					{% endif %}
				</div>
			</aside>

			<div class="profile-posts mb-1">
				{% if not post.bio is empty %}
					<div class="bio">{{ post.bio }}</div>
				{% endif %}

				{% if authored_news %}
					<h1 class="text-lg">
						<div class="inline-block">Articles by</div>
						<div class="inline-block">{{ post.title }}</div>
					</h1>
					<a class="primary-button--plain" href="/news-and-updates/?_global_author={{author }}">
						View All {{ post.title }} Articles <span class="fas fa-chevron-right"></span>
					</a>
					<div class="related-news">
						{% for news in authored_news %}
							<article class="mt-2">
								{% if news.thumbnail %}
									<img src="{{ news.thumbnail }}" class="image mb-1"/>
								{% endif %}
								<div class="font-sans font-bold">{{ news.title }}</div>
								<p class="mt-1">{{ news.preview }}</p>
								<div class="mt-1">
									<a href="{{ news.link }}" class="primary-button--plain">
										Read more
										<span class="fas fa-chevron-right"></span>
									</a>
								</div>
							</article>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</section>
	</div>
{% endblock %}
