{% extends 'base.twig' %}

{% block content %}
<div class="main-post-wrapper">
	<div class="back-to-parent">
		<a class="primary-button--plain-back" href="/schools"><span class="fas fa-chevron-left"></span> Back to School Map</a>
	</div>

	<section class="ps-header-block">
		{% if post.thumbnail.src %}
			<img src="{{ TimberImage( post.thumbnail.src ).src }}" alt="{{ TimberImage( post.thumbnail.alt ).alt }}" />
			<div class="ps-header-block__text">{{ post.content }}</div>
		{% else %}
			<div class="ps-header-block__text-wide">{{ post.content }}</div>
		{% endif %}
	</section>

	<section class="ps-container">

		{# Google Maps URL Builder - opens to directions and user needs to click "Use my location" #}
		{% set gmap_app_url = 'https://www.google.com/maps/dir//' ~ post.school_address ~ ',+' ~ post.school_city ~ ',+KS' ~ '+' ~ post.school_zip %}

		{# Contact and Mass Times #}
		<div class="parish-info">
			<div class="parish-info__contact">
				<h3>Contact Information</h3>
				<p>
					<span class="fas fa-map-marker-alt marker"></span>
					<a class="info-link marker-icon" href="{{ gmap_app_url }}" target="_blank" rel="noreferrer">
						<span>{{ post.school_address }}</span><br/>
						<span>{{ post.school_city }}, KS {{ post.school_zip }}</span>
					</a>
				</p>

				{# phone #}
				{% if post.school_phone_number %}
					<p>
						<span class="fas fa-phone"></span>
						<a class="info-link phone-icon" href="{{ post.school_phone_number }}">{{ post.school_phone_number }}</a>
					</p>
				{% endif %}

				{% if post.school_fax %}
					<p>
						<span class="fas fa-globe"></span>
						{# use nofollow and noopener since most links are http and not https #}
						<a class="info-link globe-icon" href="{{ post.school_website }}" target="_blank" rel="nofollow noopener">
							{{ post.school_website|replace({'https://': '', 'http://': '', '/': ''}) }}
						</a>
					</p>
				{% endif %}

				{% if post.school_fax_number %}
					<p>
						<span class="fas fa-fax"></span>
						<a class="info-link fax-icon" href="{{ post.school_fax_number }}">{{ post.school_fax_number }}</a>
					</p>
				{% endif %}

				{# parish site #}
				{% if post.school_website %}
					<p>
						<span class="fas fa-globe"></span>
						{# use nofollow and noopener since most links are http and not https #}
						<a class="info-link globe-icon" href="{{ post.school_website }}" target="_blank" rel="nofollow noopener">
							{{ post.school_website|replace({'https://': '', 'http://': '', '/': ''}) }}
						</a>
					</p>
				{% endif %}

				<div class="social-icon-row">
					{% if post.school_facebook %}
						<a href="{{ post.school_facebook }}"><span class="fab fa-facebook"></span></a>
					{% endif %}
					{% if post.school_twitter %}
						<a href="{{ post.school_twitter }}"><span class="fab fa-twitter"></span></a>
					{% endif %}
					{% if post.school_youtube %}
						<a href="{{ post.school_youtube }}"><span class="fab fa-youtube"></span></a>
					{% endif %}
					{% if post.school_instagram %}
						<a href="{{ post.school_instagram }}"><span class="fab fa-instagram"></span></a>
					{% endif %}
					{% if post.school_vimeo %}
						<a href="{{ post.school_vimeo }}"><span class="fab fa-vimeo"></span></a>
					{% endif %}
				</div>

				<div class="donate-box">
					{% if post.donate_button_link %}
						<a class="primary-button--border" href="{{ post.donate_button_link }}">Donate</a>
					{% else %}
						<a class="primary-button--border" href="/school-support">Donate</a>
					{% endif %}
				</div>
			</div>

			{% if not post.parishes_served is empty %}
				<div class="mission-parishes mp-schools">
					<h3>Parishes Served</h3>
					{% for p in post.get_field('parishes_served') %}
						<a class="primary-button--plain" href="/{{ p.parish_served_slug }}">{{ p.parish_served_name }}</a><br/>
					{% endfor %}
				</div>
			{% endif %}
		</div>

		{# main directory entry point #}
		{% if not directory is empty %}
			<h3>School Directory</h3>
			<section class="featured-employees">
				{% for emp in directory %}
					{% set e = emp.emp_title %}
					{% if 'Principal' in e %} {# Principal is always first in listing #}
						<a class="featured-employees--listing" href="{{ emp.link }}">
							{% if emp.thumbnail.src %}
								<img src="{{ emp.thumbnail.src }}" alt="{{ emp.thumbnail.alt }}" />
							{% else %}
								<img src="{{ theme.link }}/static/images/mystery_avatar.webp" alt="{{ emp.title }}" />
							{% endif %}
							<h5>{{ emp.emp_title }}</h5> {# e #}
							<h4>{{ emp.title }}</h4>
							<span class="primary-button--plain">View Profile <span class="fas fa-chevron-right"></span></span>
						</a>
					{% endif %}
				{% endfor %}

				{% for emp in directory %}
				{% set e = emp.emp_title %}
					{% if 'Chaplain' in e %} {# We want Chaplain to appear directly after the Principal #}
						<a class="featured-employees--listing" href="{{ emp.link }}">
							{% if emp.thumbnail.src %}
								<img src="{{ emp.thumbnail.src }}" alt="{{ emp.thumbnail.alt }}" />
							{% else %}
								<img src="{{ theme.link }}/static/images/mystery_avatar.webp" alt="{{ emp.title }}" />
							{% endif %}
							<h5>{{ emp.emp_title }}</h5> {# e #}
							<h4>{{ emp.title }}</h4>
							<span class="primary-button--plain">View Profile <span class="fas fa-chevron-right"></span></span>
						</a>
					{% endif %}
				{% endfor %}
			</section>

			{# non-featured employees #}
			<section class="results-wrapper__employee">
				{% for emp in directory %}
					{% set e = emp.emp_title %}
					{% if not 'Principal' in e and not 'Chaplain' in e and not 'Vice Principal' in e and not 'Pastor' in e %}
						{# non-featured employees in alpha order by last name #}
						<article class="emp-listing">
							{# import looks for an image name as a string 'firstname-lastname.jpg' in the media library #}
							{% if emp.thumbnail.src %}
								<img src="{{ emp.thumbnail.src }}" alt="{{ emp.thumbnail.alt }}" />
							{% else %}
								<img src="{{ theme.link }}/static/images/mystery_avatar.webp" alt="{{ emp.title }}" />
							{% endif %}
							<div class="emp-text-content">
								<h4>{{ emp.title }}</h4>
								<span>{{ emp.emp_title }}</span> {# e #}
								<a class="primary-button--plain" href="{{ emp.link }}">View Profile <span class="fas fa-chevron-right"></span></a>
							</div>
						</article>
					{% endif %}
				{% endfor %}
			</section> {# /.results-wrapper__employee #}

		{% endif %}
	</section> {# /.ps-container #}

	{# News / Events #}
	{% if not school_news is empty or not school_events is empty %}
		<section class="news-events adjust-layout">
			<h3 class="sideways-header">Stay Updated</h3>
			<div class="news-events__inner">

				{% if not school_news is empty %}
					<div class="news-updates">
						<h3>School News &amp; Updates</h3>
						{% for news_item in school_news %}
							<a class="news-item" href="{{ news_item.link }}">
								<h4 class="dark-text">{{ news_item.title }}</h4>
								<span class="primary-button--plain">Read More <span class="fas fa-chevron-right"></span></span>
							</a>
						{% endfor %}
						<a class="primary-button--plain spec-btn" href="/news-and-updates/?_global_school_filter={{ post.slug }}">View More <span class="fas fa-chevron-right"></span></a>
					</div>
				{% endif %}

				{% if not school_events is empty %}
					<div class="upcoming-events">
						<h3>Upcoming School Events</h3>
						{% for ev in school_events %}
							<a class="event-item" href="{{ ev.link }}">
								<h4 class="dark-text">{{ ev.title }}</h4>
								{% if ev.meta('location') %}
									<p style="margin-bottom: 0.75rem;"><span class="fas fa-map-marker-alt"></span>
										{{ ev.meta('location') }}
									</p>
								{% endif %}

								{% if ev.meta('all_day') %}
									<p><span class="far fa-clock"></span> All Day</p>
								{% else %}
									<p><span class="far fa-clock"></span> {{ ev.event_time ? ev.meta('event_time')|upper : 'TBD' }}</p>
								{% endif %}
							</a> {# /.event-item #}
						{% endfor %}
						<a class="primary-button--plain spec-btn" href="/events/?_global_school_filter={{ post.slug }}">View More <span class="fas fa-chevron-right"></span></a>
					</div>
				{% endif %}

			</div> {# /.news-events__inner #}
		</section> {# /.news-events #}
	{% endif %}

</div>
{% endblock %}