{% extends 'base.twig' %}

{% block content %}
<div class="main-post-wrapper">
	<div class="back-to-parent">
		<a class="primary-button--plain-back" href="/parishes"><span class="fas fa-chevron-left"></span> Back to Parish Map</a>
	</div>

	<section class="ps-header-block">
		{% if post.thumbnail.src %}
			<div class="ps-header-block__text">{{ post.content }}</div>
			<div class="post-cropped-image" style="background-image: url('{{ post.thumbnail.src }}')"></div>
		{% else %}
			<div class="ps-header-block__text-wide">{{ post.content }}</div>
		{% endif %}
	</section>

	<section class="ps-container">

		{# Google Maps URL Builder - opens to directions and user needs to click "Use my location" #}
		{% set gmap_app_url = 'https://www.google.com/maps/dir//' ~ post.parish_address ~ ',+' ~ post.parish_city ~ ',+KS' ~ '+' ~ post.parish_zip %}

		{# Contact and Mass Times #}
		<div class="parish-info">
			<div class="parish-info__contact">
				<h3>Contact Information</h3>
				<p>
					<span class="fas fa-map-marker-alt"></span>
					<a class="info-link marker-icon" href="{{ gmap_app_url }}" target="_blank" rel="noreferrer">
						<span>{{ post.parish_address }}</span><br/>
						<span>{{ post.parish_city }}, KS {{ post.parish_zip }}</span>
					</a>
				</p>

				{# phone #}
				{% if post.parish_phone_number %}
					<p>
						<span class="fas fa-phone"></span>
						<a class="info-link phone-icon" href="{{ post.parish_phone_number }}">{{ post.parish_phone_number }}</a>
					</p>
				{% endif %}

				{% if post.parish_email %}
					<p>
						<span class="fas fa-envelope"></span>
						<a class="info-link envelope-icon" href="{{ post.parish_email }}">{{ post.parish_email }}</a>
					</p>
				{% endif %}

				{% if post.parish_fax_number %}
					<p>
						<span class="fas fa-fax"></span>
						<a class="info-link fax-icon" href="{{ post.parish_fax_number }}">{{ post.parish_fax_number }}</a>
					</p>
				{% endif %}

				{# parish site #}
				{% if post.parish_website %}
					<p>
						<span class="fas fa-globe"></span>
						{# use nofollow and noopener since most links are http and not https #}
						<a class="info-link globe-icon" href="{{ post.parish_website }}" target="_blank" rel="nofollow noopener">
							{{ post.parish_website|replace({'https://': '', 'http://': '', '/': ''}) }}
						</a>
					</p>
				{% endif %}

				<div class="social-icon-row">
					{% if post.parish_facebook %}
						<a href="{{ post.parish_facebook }}"><span class="fab fa-facebook"></span></a>
					{% endif %}
					{% if post.parish_twitter %}
						<a href="{{ post.parish_twitter }}"><span class="fab fa-twitter"></span></a>
					{% endif %}
					{% if post.parish_youtube %}
						<a href="{{ post.parish_youtube }}"><span class="fab fa-youtube"></span></a>
					{% endif %}
					{% if post.parish_instagram %}
						<a href="{{ post.parish_instagram }}"><span class="fab fa-instagram"></span></a>
					{% endif %}
					{% if post.parish_vimeo %}
						<a href="{{ post.parish_vimeo }}"><span class="fab fa-vimeo"></span></a>
					{% endif %}
				</div>

				<div class="donate-box">
					{% if post.donate_button_link %}
						<a class="primary-button--border" href="{{ post.donate_button_link }}">Donate</a>
					{% else %}
						<a class="primary-button--border" href="/office/development/parish-offertory">Donate</a>
					{% endif %}
				</div>

				{% if not post.get_field('mission_parishes') is empty %}
					<div class="mission-parishes mp-short">
						<h3>Mission Parishes</h3>
						{% for p in post.get_field('mission_parishes') %}
							<a class="primary-button--plain" href="/{{ p.mission_parish_slug }}">{{ p.mission_parish_name }}</a><br/>
						{% endfor %}
					</div>
				{% endif %}
			</div>

			{% if not post.mass_times is empty %}
				<div class="parish-info__mass">
					<h3>Mass Times</h3>
					{% for mt in post.get_field('mass_times') %}
						<div class="time-container">
							<h6>{{ mt.mass_days }}</h6>
							<div>{{ mt.mass_times_and_languages }}</div> {# controlled by textarea (newlines rendered) #}
						</div>
					{% endfor %}
				</div>
			{% endif %}

			{% if not post.confession_times is empty %}
				<div class="parish-info__confession">
					<h3>Confession Times</h3>
					{% for ct in post.get_field('confession_times') %}
						<div class="time-container">
							<h6>{{ ct.confession_days }}</h6>
							<div>{{ ct.confession_times_and_languages }}</div> {# controlled by textarea (newlines rendered) #}
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>

		{# main directory entry point - we run each query seaprately to get them in the specific order requested #}
		{% if not directory is empty %}
			<h3>Parish Directory</h3>

			{# PASTORS #}
			<section class="featured-employees">
				{% for emp in directory %}
					{% set e = emp.emp_title %}
					{% if 'Pastor' in e %} {# Pastor is always first in listing #}
						<a class="featured-employees--listing" href="{{ emp.link }}">
							{% if emp.thumbnail.src %}
								<img src="{{ emp.thumbnail.src }}" alt="{{ emp.thumbnail.alt }}" />
							{% endif %}
							<h5>{{ emp.emp_title }}</h5>
							<h4>{{ emp.title }}</h4>
							<span class="primary-button--plain">View Profile <span class="fas fa-chevron-right"></span></span>
						</a>
					{% endif %}
				{% endfor %}

				{# ASSOCIATE PASTORs / DEACONS / SECOND DEACONS #}
				{% for emp in directory %}
					{% set e = emp.emp_title %}
					{# We want these to appear directly after the Pastor #}
					{% if 'Associate Pastor' in e or 'Deacon' in e or 'Second Deacon' in e %}
						<a class="featured-employees--listing" href="{{ emp.link }}">
							{% if emp.thumbnail.src %}
								<img src="{{ emp.thumbnail.src }}" alt="{{ emp.thumbnail.alSSSSSSSSt }}" />
							{% endif %}
							<h5>{{ emp.emp_title }}</h5>
							<h4>{{ emp.title }}</h4>
							<span class="primary-button--plain">View Profile <span class="fas fa-chevron-right"></span></span>
						</a>
					{% endif %}
				{% endfor %}

				{% for emp in directory %}
				{% set e = emp.emp_title %}
					{# We want these to appear directly after the Pastor #}
					{% if 'Parochial Vicar' in e %}
						<a class="featured-employees--listing" href="{{ emp.link }}">
							{% if emp.thumbnail.src %}
								<img src="{{ emp.thumbnail.src }}" alt="{{ emp.thumbnail.alt }}" />
							{% endif %}
							<h5>{{ emp.emp_title }}</h5>
							<h4>{{ emp.title }}</h4>
							<span class="primary-button--plain">View Profile <span class="fas fa-chevron-right"></span></span>
						</a>
					{% endif %}
				{% endfor %}
			</section>

			{# non-featured employees #}
			<section class="results-wrapper__employee">
				{% for emp in directory %}
					{% set e = emp.emp_title %}
					{% if 'Pastor' not in e and 'Associate Pastor' not in e and 'Deacon' not in e and 'Second Deacon' not in e and 'Parochial Vicar' not in e %}
						{# non-featured employees in alpha order by last name #}
						<article class="emp-listing">
							{# import looks for an image name as a string 'firstname-lastname.jpg' in the media library #}
							{% if emp.thumbnail.src %}
								<img src="{{ emp.thumbnail.src }}" alt="{{ emp.thumbnail.alt }}" />
							{% endif %}
							<div class="emp-text-content">
								<h4>{{ emp.title }}</h4>
								<span>{{ emp.emp_title }}</span>
								<a class="primary-button--plain" href="{{ emp.link }}">View Profile <span class="fas fa-chevron-right"></span></a>
							</div>
						</article>
					{% endif %}
				{% endfor %}
			</section> {# /.results-wrapper__employee #}

		{% endif %}
	</section> {# /.ps-container #}

	{# News / Events #}
	{% if not parish_news is empty or not parish_events is empty %}
		<section class="news-events adjust-layout">
			<h3 class="sideways-header">Stay Updated</h3>
			<div class="news-events__inner">

				{% if not parish_news is empty %}
					<div class="news-updates">
						<h3>Parish News &amp; Updates</h3>
						{% for news_item in parish_news %}
							<a class="news-item" href="{{ news_item.link }}">
								<h4 class="dark-text">{{ news_item.title }}</h4>
								<span class="primary-button--plain">Read More <span class="fas fa-chevron-right"></span></span>
							</a>
						{% endfor %}
						<a class="primary-button--plain spec-btn" href="/news-and-updates/?_global_parish_filter={{ post.slug }}">View More <span class="fas fa-chevron-right"></span></a>
					</div>
				{% endif %}

				{% if not parish_events is empty %}
					<div class="upcoming-events">
						<h3>Upcoming Parish Events</h3>
						{% for ev in parish_events %}
							<a class="event-item" href="{{ ev.link }}">
								<h4 class="dark-text">{{ ev.title }}</h4>
								{% if ev.meta('location') %}
									<p style="margin-bottom: 0.75rem;"><span class="fas fa-map-marker-alt"></span>
										{{ ev.meta('location') }}
									</p>
								{% endif %}

								{% if ev.meta('all_day') %}
									<p><span class="far fa-clock"></span> All Day</p>
								{% else %}
									<p><span class="far fa-clock"></span> {{ ev.event_time ? ev.meta('event_time')|upper : 'TBD' }}</p>
								{% endif %}
							</a> {# /.event-item #}
						{% endfor %}
						<a class="primary-button--plain spec-btn" href="/events/?_global_parish_filter={{ post.slug }}">View More <span class="fas fa-chevron-right"></span></a>
					</div>
				{% endif %}

			</div> {# /.news-events__inner #}
		</section> {# /.news-events #}
	{% endif %}
</div>
{% endblock %}
