{% extends 'base.twig' %}

{% block content %}
	<div class="main-post-wrapper">
		{% if is_child %}
			{# back to parent office #}
			<div class="back-to-parent">
				<a class="primary-button--plain-back" href="{{ post.parent.link }}">
					<span class="fas fa-chevron-left"></span> Back to {{ post.parent.title }}
				</a>
			</div>
		{% endif %}

		{% if post.thumbnail.src %}
			<img class="hero-image" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.src }}">
		{% endif %}
		<section class="archive-container">

			<div class="results-wrapper">
				{{ post.content }}

				<div class="related-content">
					{% if office_news %}
						<hr class="mt-4"/>
						<h3 class="text-lg mt-2">News &amp; Updates from {{ post.title }}</h3>
						<a class="primary-button--plain" href="/news-and-updates/?_global_office_filter={{ post.slug }}">
							View All {{ post.title }} Articles <span class="fas fa-chevron-right"></span>
						</a>

						<div class="related-news">
							{% for article in office_news %}
								<article class="mt-2">
									{% if article.thumbnail %}
										<img src="{{ article.thumbnail }}" class="image mb-1"/>
									{% endif %}
									<div class="font-sans font-bold">{{ article.title }}</div>
									{% if article.preview %}
										<p class="mt-1">{{ article.preview }}</p>
									{% endif %}
									<div class="mt-1">
										{% if not article.upload_pdf %}
											<a href="{{ article.link }}" class="primary-button--plain">Read more <span class="fas fa-chevron-right"></span></a>
										{% else %}
											<a href="{{ article.get_field('pdf_file').url }}" class="primary-button--plain" target="_blank" rel="noopener">Read more <span class="fas fa-chevron-right"></span></a>
										{% endif %}
									</div>
								</article>
							{% endfor %}
						</div>
					{% endif %}

					{% if events %}
						<hr class="mt-4"/>
						<h3 class="text-lg mt-2">Events from {{ post.title }}</h3>
						<a class="primary-button--plain" href="/events/?_global_office_filter={{ post.slug }}">
							View All {{ post.title }} Events <span class="fas fa-chevron-right"></span>
						</a>
						<section class="mt-2 results-wrapper__events facetwp-template">
							{% for ev in events %}
								<article class="archive-events__single font-sans">
									<div class="info">
										<div class="archive-events__single-title font-bold">{{ ev.title }}</div>
										<div class="archive-events__single-date mt-1">
											<span class="far fa-calendar text-blue"></span>
											{{ ev.event_date ? ev.event_date|date('F j, Y') }}
											{{ ev.event_end_date ? ' &mdash; ' ~ ev.event_end_date|date('F j, Y') }}
											{% if ev.meta('all_day') %}
												&mdash; All Day
											{% else %}
												{{ ev.event_time ? '@ ' ~ ev.meta('event_time')|upper : '@ TBD' }}
											{% endif %}
										</div>

										<div class="archive-events__single-location mt-1">
											{% if ev.meta('location') %}
												<span class="fas fa-map-marker-alt text-blue"></span>
												{{ ev.meta('location') }}
											{% endif %}
											{# We leave this here to render the line in the layout. An empty element would collapse. #}
											<span>&nbsp;</span>
										</div>

										<div class="mt-1">
											<a class=" primary-button--plain" href=" {{ ev.link }} ">View Event Details
												<span class="fas fa-chevron-right"></span>
											</a>
										</div>
									</div>
									{% if ev.thumbnail %}
										<img class="image" src="{{ ev.thumbnail.src }}" alt="{{ ev.thumbnail.alt }}"/>
									{% endif %}
								</article>
							{% endfor %}
						</section>
					{% endif %}
				</div>

				{% if not post.resources is empty %}
					<section class="resources-block">
						<h3>Helpful Resources</h3>
						<div class="even-odd-grid">
							{% for res in post.get_field('resources') %}
								{% if res.site_or_file %}
									<div>
										<a class="resource" href="{{ res.site_url }}" target="_blank" rel="nofollow noopener">
											<span>{{ res.site_title }}</span>
											<span class="fas fa-link"></span>
										</a>
									</div>
								{% else %}
									<div>
										<a class="resource" href="{{ res.file_upload.url }}" target="_blank" rel="nofollow">
											<span>{{ res.file_name }}</span>
											<span class="fas fa-file-alt"></span>
										</a>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</section>
				{% endif %}
			</div>

			<aside id="sticky-side-menu" class="child-items-section">
				{% if is_parent %}
					{% if post.get_children('office') %}
						<h4>More from {{ post.title }}</h4>
						<ul class="child-link-list">
							{% for child in post.get_children('office') %}
								<li>
									<a class="child-link-list__link" href="{{ child.link }}">{{ child.title }}</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				{% endif %}

				{% if not office_directory is empty %}
					<h3>Office Directory</h3>
					<section class="results-wrapper__employee">
						{% for emp in office_directory %}
							<article class="emp-listing">
								{# import looks for an image name as a string 'firstname-lastname.jpg' in the media library #}
								{# thumbnail file path / source is setup in the WP All Import Template (Media Path Section) #}
								{% if emp.thumbnail.src %}
									<img src="{{ emp.thumbnail.src }}" alt="{{ emp.thumbnail.alt }}" />
								{% else %}
									<img src="{{ theme.link }}/static/images/mystery_avatar.webp" alt="{{ emp.title }}" />
								{% endif %}
								<div class="emp-text-content">
									<h4>{{ emp.title }}</h4>
									<span>{{ emp.emp_title }}</span>
									<a class="primary-button--plain" href="{{ emp.link }}">View Profile <span class="fas fa-chevron-right"></span></a>
								</div>
							</article>
						{% endfor %}
					</section>
				{% endif %}
			</aside>
		</section>
	</div>
{% endblock %}
