{% extends 'base.twig' %}

{% block content %}
	<div class="content-container single-event">
		<a class="single-event__back primary-button--plain" href="{{ events_url }}">
			<span class="fas fa-chevron-left"></span> Back to All Events
		</a>

		{% if post.thumbnail %}
			<img class="single-event__featured-image" src="{{ post.thumbnail().src }}" alt="{{ post.thumbnail().alt }}">
		{% endif %}

		<div class="single-event__info">
			<div class="single-event__info-sidebar">
				<div class="icon-flex">
					<span class="far fa-calendar"></span>
					<span class="icon-content-right">
						{{ post.event_date|date('F j, Y') }}
						{{ post.event_end_date ? ' &mdash; ' ~ post.event_end_date|date('F j, Y') }}
					</span>
				</div>
				<div class="icon-flex">
					<span class="far fa-clock"></span>
					{% if post.meta('all_day') %}
					<span class="icon-content-right">All Day</span>
					{% else %}
					<span class="icon-content-right">{{ post.event_time ? post.meta('event_time')|upper : 'TBD' }}</span>
					{% endif %}
				</div>
				{% if post.meta('location') %}
					<div class="icon-flex">
						<span class="fas fa-map-marker-alt"></span>
						<span class="icon-content-right">{{ post.meta('location') }}</span>
					</div>
				{% endif %}

				<div>
					{% if post.large_link %}
						<div>
							<a class="primary-button--solid-blue" href="{{ post.large_link.url }}">{{ post.large_link.title }}</a>
						</div>
					{% endif %}
					{% if post.small_link %}
						<div class="mt-1">
							<a class="primary-button--plain" href="{{ post.small_link.url }}">{{ post.small_link.title }}
								<span class="fas fa-chevron-right"></span>
							</a>
						</div>
					{% endif %}
				</div>
			</div>
			<div>
				{{ post.content }}
			</div>
		</div>

		<div class="shared_counts">
			<div class="shared_counts__blurb">Share This Event</div>
			{{ '[shared_counts]'|shortcodes}}
		</div>
	</div>
{% endblock %}
