{% extends 'base.twig' %}

{% block specialheader %}
	<header class="center-header">
		<h1>{{ post.title }}</h1>
	</header>
{% endblock %}

{% block content %}
	<div class="news__single-categories">
		{{ post.terms(['category', 'offices'])|join(', ') }}
	</div>
	<div class="news__date">{{ post.date('M j, Y') }}</div>

	<div class="default-container header-wrapper" style="text-align: center;">
		<img class="news__featured-image" src="{{ post.thumbnail().src }}" alt="{{ post.thumbnail().alt }}" style="border-radius: 5px;">
	</div>

	<div class="news__content">
		{{ post.content }}
	</div>

	<div class="news__footer">
		<div class="news__author">
			{% set author = Post(post.author.employee_relationship) %}
			{% if author.title is not null %}
                <img class="news__author-image obj-fit" src="{{author.thumbnail.src|resize(200)}}"/>

                <div class="news__author-info">
					<div class="font-bold text-blue">{{ author.title }}</div>
					{% if author.emp_title %}
						<div class="dark-text author-title">{{ author.emp_title }}</div>
					{% endif %}
					<a class="primary-button--plain" href="{{ author.link }}">View Profile
						<span class="fas fa-chevron-right"></span>
					</a>
				</div>
			{% endif %}
		</div>

		<div class="shared_counts">
			<div class="shared_counts__blurb">Share This Article</div>
			{{ fn('do_shortcode', '[shared_counts]') }}
		</div>
	</div>
{% endblock %}
