@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: Salina Diocese Theme
	Description: Custom blocks stylesheet. Block Editor Preview and Front End styles for blocks.
	Version: 1.3.7
	Text Domain: sdc
*/
body a, body p, body span, body address, body blockquote {
  font-family: "brother-1816", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
body a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
body a:hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: none;
}
body p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #303030;
  line-height: 1.6;
}
@media (min-width: 768px) {
  body p {
    margin-bottom: 1.5rem;
  }
}
body table {
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
}
body small {
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  color: #303030;
}
body time {
  display: block;
  padding-top: 0.75rem;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  color: #303030;
}
body ul, body ol {
  margin-top: -0.25rem;
  margin-bottom: 2.25rem;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  color: #303030;
}
body ul li, body ol li {
  margin-bottom: 0.25rem;
  line-height: 1.3;
}
body ul ul, body ol ul {
  margin-top: 0;
}
body h1, body h2, body h3,
body h4, body h5, body h6 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "span", serif;
  color: #0A396B;
}
body h1.dark-text, body h2.dark-text, body h3.dark-text,
body h4.dark-text, body h5.dark-text, body h6.dark-text {
  font-family: "brother-1816", sans-serif;
  color: #303030;
}
body h1, body .h1-white {
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 480px) {
  body h1, body .h1-white {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  body h1, body .h1-white {
    font-size: 2.75rem;
  }
}
@media (min-width: 1023px) {
  body h1, body .h1-white {
    font-size: 3.75rem;
  }
}
body h1.hero, body .h1-white.hero {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
}
@media (min-width: 480px) {
  body h1.hero, body .h1-white.hero {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  body h1.hero, body .h1-white.hero {
    font-size: 4.5rem;
  }
}
@media (min-width: 1023px) {
  body h1.hero, body .h1-white.hero {
    font-size: 6.25rem;
  }
}
body h2, body .h2-white {
  font-size: 1.85rem;
  font-weight: 600;
}
@media (min-width: 480px) {
  body h2, body .h2-white {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  body h2, body .h2-white {
    font-size: 2.75rem;
  }
}
body h3, body .h3-white {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  body h3, body .h3-white {
    font-size: 1.5625rem;
  }
}
body h4, body .h4-white {
  font-family: "brother-1816", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}
body h5, body .h5-white {
  font-size: 0.9375rem;
  font-weight: bold;
}
body h6, body .h6-white {
  font-size: 0.875rem;
  font-weight: 600;
}
body .h1-white, body .h2-white, body .h3-white,
body .h4-white, body .h5-white, body .h6-white {
  color: #FFF;
}
body .has-blue-color {
  color: #0A396B;
}
body .has-blue-background-color {
  background-color: transparent !important;
}
body .has-grey-color {
  color: #303030;
}
body .has-grey-background-color {
  background-color: transparent !important;
}
body .has-gold-color {
  color: #BF9F70;
}
body .has-gold-background-color {
  background-color: transparent !important;
}
body .editor-button-block, body .editor-button-block__border-blue, body .editor-button-block__solid-white, body .editor-button-block__solid-blue {
  display: inline-block;
  padding: 0.5rem 0.75rem 0.6rem;
  font-family: "brother-1816", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  line-height: 1;
  margin-bottom: 2.75rem;
}
body .editor-button-block__border-blue {
  background-color: transparent;
  color: #0A396B;
  border: 1px solid #0A396B;
  border-radius: 5px;
  font-weight: bold;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
body .editor-button-block__border-blue:hover {
  background-color: #0A396B;
  color: #FFF;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
body .editor-button-block__solid-blue {
  background-color: #0A396B;
  color: #FFF;
  font-weight: bold;
}
body .editor-button-block__solid-blue:hover {
  background-color: #FFF;
  color: #0A396B;
}
body .editor-button-block__solid-white {
  background-color: #FFF;
  color: #0A396B;
  font-weight: bold;
}
body .editor-button-block__solid-white:hover {
  background-color: #0A396B;
  color: #FFF;
}
body .standard-dropdown-container {
  max-width: 63.25rem;
  margin: 2.5rem auto 0;
  padding: 0 1rem;
}
body .standard-dropdown-container .dropdown-block-title {
  display: block;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E3E9F1;
  color: #0A396B;
  font-weight: bold;
}
body .standard-dropdown-container .dropdown-block-title:hover {
  cursor: pointer;
}
body .standard-dropdown-container .dropdown-block-title:after {
  content: "";
  position: absolute;
  top: 1.05rem;
  font-size: 15px;
  margin-left: 2rem;
  font-weight: normal;
  font-family: FontAwesome;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
body .standard-dropdown-container .chevron-rotate:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
body .important-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50rem;
  margin: 5rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 600px) {
  body .important-note {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
body .important-note__box {
  max-width: 25rem;
  background-color: #E3E9F1;
  border-radius: 5px;
  padding: 1.4rem 0.875rem 1.1rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1.75rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 600px) {
  body .important-note__box {
    margin-right: 1.25rem;
    max-width: 17.75rem;
    margin-top: 0.25rem;
    margin-bottom: unset;
  }
}
body .important-note__box h5 {
  font-family: "brother-1816", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}
body .important-note__box p {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  body .important-note__box p {
    max-width: 14rem;
  }
}
body .important-note__text {
  max-width: 31.5rem;
}
body .ps-header-block {
  max-width: 64.5rem;
  margin: 3.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  body .ps-header-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
body .ps-header-block .post-cropped-image {
  background-repeat: no-repat;
  background-size: cover;
  background-position: center;
  max-height: 25rem;
}
body .ps-header-block__text {
  max-width: 36rem;
  margin-top: 3.5rem;
  font-size: 0.875rem;
  color: #303030;
}
@media (min-width: 768px) {
  body .ps-header-block__text {
    max-width: 24.125rem;
    margin-top: 0;
  }
}
body .ps-header-block__text-wide {
  max-width: 48.5rem;
  padding: 0 1rem;
  margin-top: 0;
}
body .resources-block {
  max-width: 100%;
  margin: 4rem auto;
}
body .resources-block .even-odd-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 1.375rem;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 17.625rem));
  -webkit-column-gap: 7rem;
     -moz-column-gap: 7rem;
          column-gap: 7rem;
}
@media (min-width: 560px) {
  body .resources-block .even-odd-grid {
    -ms-grid-columns: (minmax(12rem, 17.625rem))[2];
    grid-template-columns: repeat(2, minmax(12rem, 17.625rem));
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}
body .resources-block .resource {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0.75rem 0.15rem;
  border-bottom: 1px solid #B6BDC5;
}
body .resources-block .resource:hover {
  background-color: rgba(0, 67, 138, 0.1);
}
body .resources-block .resource span:not(.fas) {
  max-width: 16rem;
  color: #303030;
}
body .resources-block .fas {
  color: #798BA1;
  font-size: 0.875rem;
}