{#
  * Block Name: Blue-bordered button
  * Creates a standard button utilizing the theme's color palette.
#}

<a class="editor-button-block__border-blue" href="{{ fields.button_link }}">{{ fields.button_text }}</a>