{#
  * Block Name: Important Note
  * Creates a block with a light grey block-style note and text to the right.
#}

<section class="important-note">
	<div class="important-note__box">
		<h5>Important Note</h5>
		<p>{{ fields.info_note_message }}</p>
	</div>
	<div class="important-note__text">
		<p>{{ fields.info_text_right }}</p>
	</div>
</section>