{#
  * Block Name: Resources Block
  * Even items are placed left and odd items placed right.
#}

<section class="resources-block">
	<h3>Helpful Resources</h3>
	<div class="even-odd-grid">
		{% for res in fields.resources %}
			{% if res.site_or_file %}
				<div>
					<a class="resource" href="{{ res.site_url }}" target="_blank" rel="nofollow noopener">
						<span>{{ res.site_title }}</span>
						<span class="fas fa-link"></span>
					</a>
				</div>
			{% else %}
				<div>
					<a class="resource" href="{{ res.file_upload.url }}" target="_blank" rel="nofollow">
						<span>{{ res.file_name }}</span>
						<span class="fas fa-file-alt"></span>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</section>