{#
  * Block Name: Solid Blue Button
  * Creates a standard button utilizing the theme's color palette.
#}

<a class="editor-button-block__solid-blue" href="{{ fields.button_link }}">{{ fields.button_text }}</a>