@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: Salina Diocese Theme
	Description: Custom theme for the Catholic Diocese of Salina.
	Version: 1.7.0
	Text Domain: sdc
*/
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  line-height: 1.3;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  display: none;
}

.lock-body {
  overflow-y: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Screen Reader Text ------------------------ */
.search.search-results .background-underlay {
  height: 100vh;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.section-search-results {
  padding: 1rem 2rem;
  max-width: 64.5rem;
  margin: 2.5rem auto;
}
.section-search-results .item {
  margin: 0 0 51px;
}
.section-search-results .line {
  background: #B6BDC5;
  border: none;
  height: 1px;
  margin-top: -8px;
}
.section-search-results__container {
  margin-top: 72px;
}
.section-search-results .excerpt {
  margin-top: 10px;
  font-size: 0.875rem;
  color: #303030;
  font-weight: 400;
  line-height: 1.643;
  font-family: "brother-1816", sans-serif;
}
.section-search-results .excerpt a {
  text-decoration: underline;
  color: #0A396B;
}
.section-search-results .excerpt a:hover {
  opacity: 0.8;
}
.section-search-results .title {
  font-weight: 600;
}
.section-search-results .subtitle strong {
  margin-left: 10px;
}

a, p, span, address, blockquote {
  font-family: "brother-1816", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}

a {
  text-decoration: none;
  transition: 0.2s ease-out;
}
a:hover {
  transition: 0.2s ease-out;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #303030;
  line-height: 1.6;
}
@media (min-width: 768px) {
  p {
    margin-bottom: 1.5rem;
  }
}

table {
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
}

small {
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  color: #303030;
}

time {
  display: block;
  padding-top: 0.75rem;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  color: #303030;
}

ul, ol {
  margin-top: -0.25rem;
  margin-bottom: 2.25rem;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  color: #303030;
}
ul li, ol li {
  margin-bottom: 0.25rem;
  line-height: 1.3;
}
ul ul, ol ul {
  margin-top: 0;
}

h1, h2, h3,
h4,
.wp-block-coblocks-accordion-item__title, h5, h6 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "span", serif;
  color: #0A396B;
}
h1.dark-text, h2.dark-text, h3.dark-text,
h4.dark-text,
.dark-text.wp-block-coblocks-accordion-item__title, h5.dark-text, h6.dark-text {
  font-family: "brother-1816", sans-serif;
  color: #303030;
}

h1, .h1-white {
  font-size: 2rem;
  font-weight: bold;
}
@media (min-width: 480px) {
  h1, .h1-white {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  h1, .h1-white {
    font-size: 2.75rem;
  }
}
@media (min-width: 1023px) {
  h1, .h1-white {
    font-size: 3.75rem;
  }
}
h1.hero, .h1-white.hero {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
}
@media (min-width: 480px) {
  h1.hero, .h1-white.hero {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  h1.hero, .h1-white.hero {
    font-size: 4.5rem;
  }
}
@media (min-width: 1023px) {
  h1.hero, .h1-white.hero {
    font-size: 6.25rem;
  }
}

h2, .h2-white {
  font-size: 1.85rem;
  font-weight: 600;
}
@media (min-width: 480px) {
  h2, .h2-white {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  h2, .h2-white {
    font-size: 2.75rem;
  }
}

h3, .h3-white {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h3, .h3-white {
    font-size: 1.5625rem;
  }
}

h4, .wp-block-coblocks-accordion-item__title, .h4-white {
  font-family: "brother-1816", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

h5, .h5-white {
  font-size: 0.9375rem;
  font-weight: bold;
}

h6, .h6-white {
  font-size: 0.875rem;
  font-weight: 600;
}

.h1-white, .h2-white, .h3-white,
.h4-white, .h5-white, .h6-white {
  color: #FFF;
}

.primary-button, .primary-button--solid-white, .primary-button--solid-blue, .primary-button--light-solid-blue, .primary-button--border, .primary-button--border-white, .primary-button--plain {
  display: inline-block;
  padding: 0.5rem 0.75rem 0.6rem;
  font-family: "brother-1816", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
  line-height: 1;
}
.primary-button--solid-white {
  padding: 0.8rem 0.6rem 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #FFF;
  color: #0A396B;
}
@media (min-width: 768px) {
  .primary-button--solid-white {
    padding: 1rem 0.75rem 1.1rem;
  }
}
.primary-button--solid-white:hover {
  background-color: #00438A;
  color: #FFF;
}
.primary-button--solid-blue {
  padding: 0.8rem 0.6rem 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #0A396B;
  color: #FFF;
}
@media (min-width: 768px) {
  .primary-button--solid-blue {
    padding: 1rem 0.75rem 1.1rem;
  }
}
.primary-button--solid-blue:hover {
  background-color: #00438A;
}
.primary-button--light-solid-blue {
  font-weight: normal;
  border-radius: 5px;
  background-color: #0A396B;
  color: #FFF;
  width: 100%;
}
@media (min-width: 768px) {
  .primary-button--light-solid-blue {
    padding: 0.7rem 0.5rem 0.8rem;
  }
}
.primary-button--light-solid-blue:hover {
  background-color: #00438A;
}
.primary-button--border {
  background-color: transparent;
  color: #0A396B;
  border: 1px solid #0A396B;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.1s ease-in;
}
.primary-button--border:hover {
  background-color: #0A396B;
  color: #FFF;
  transition: 0.1s ease-out;
}
.primary-button--border-white {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.1s ease-in;
}
.primary-button--border-white:hover {
  background-color: #FFF;
  color: #0A396B;
  transition: 0.1s ease-out;
}
.primary-button--plain, .primary-button--plain-back {
  color: #0A396B;
  padding: 0.25rem 0;
  font-size: 0.875rem;
  border-bottom: 1px solid transparent;
}
.primary-button--plain:hover, .primary-button--plain-back:hover {
  color: #BF9F70;
  border-bottom: 1px solid #BF9F70;
}
.primary-button--plain .fa-chevron-right, .primary-button--plain-back .fa-chevron-right {
  font-size: 0.65rem;
  color: #BF9F70;
  padding-left: 0.25rem;
}
.primary-button--plain .fa-chevron-left, .primary-button--plain-back .fa-chevron-left {
  font-size: 0.65rem;
  color: #BF9F70;
  padding-right: 0.25rem;
}

.content-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.content-container {
  max-width: 64.5rem;
  margin: 0 auto 5rem;
  padding: 0 1rem;
}

.site-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}

.default-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
}
.default-container a:not(.plain-link):not(.primary-button--plain) {
  color: #0A396B;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}
.default-container a:not(.plain-link):not(.primary-button--plain):hover {
  text-decoration: underline;
}

.main-post-wrapper {
  max-width: 100%;
  margin: 0 auto;
}
.main-post-wrapper img {
  display: block;
  border-radius: 5px;
}
.main-post-wrapper .hero-image {
  max-width: 62.5rem;
  width: 100%;
  margin: 0 auto 3.5rem;
  border-radius: 0;
}
@media (min-width: 1000px) {
  .main-post-wrapper .hero-image {
    border-radius: 5px;
  }
}
.main-post-wrapper p a:not(.plain-link):not(.primary-button--plain),
.main-post-wrapper li a:not(.plain-link):not(.primary-button--plain) {
  color: #0A396B;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}
.main-post-wrapper p a:not(.plain-link):not(.primary-button--plain):hover,
.main-post-wrapper li a:not(.plain-link):not(.primary-button--plain):hover {
  text-decoration: underline;
}
.main-post-wrapper .back-to-parent {
  max-width: 64.5rem;
  padding: 0 1rem;
  margin: -2rem auto 5rem;
}
@media (min-width: 768px) {
  .main-post-wrapper .back-to-parent {
    margin: -4.5rem auto 5rem;
  }
}

.plain-link {
  color: #303030;
  font-size: 0.875rem;
  text-decoration: none;
}
.plain-link:hover {
  text-decoration: underline;
}

p .rank-math-link, strong .rank-math-link {
  color: #0A396B;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}
p .rank-math-link:hover, strong .rank-math-link:hover {
  text-decoration: underline;
}

a.read-more {
  display: none;
}

.font-bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.text-blue {
  color: #00438A;
}

.block {
  display: block;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.-mt-2 {
  margin-top: -2rem;
}

.-mt-4 {
  margin-top: -4rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.text-base {
  font-size: 16px;
}

.text-lg {
  font-size: 25px;
}

.inline-block {
  display: inline-block;
}

.font-sans {
  font-family: "brother-1816", sans-serif;
}

.breadcrumbs {
  max-width: 64.5rem;
  margin: -2.5rem auto 2.75rem;
  padding: 0 1rem;
  color: #303030;
}
@media (min-width: 768px) {
  .breadcrumbs {
    margin: -5rem auto 2.75rem;
  }
}
.breadcrumbs a {
  color: #303030;
}
.breadcrumbs a:hover {
  color: #00438A;
  -webkit-text-decoration: underline #00438A;
          text-decoration: underline #00438A;
}

.wp-block-table {
  margin-bottom: 2.5rem;
  margin-left: 0;
}
.wp-block-table table {
  border-collapse: collapse;
  font-family: "brother-1816", sans-serif;
}
.wp-block-table table, .wp-block-table tr, .wp-block-table td {
  border: 1px solid #B6BDC5;
}
.wp-block-table table td, .wp-block-table tr td, .wp-block-table td td {
  padding: 0.5rem;
  color: #303030;
}
.wp-block-table table td a, .wp-block-table tr td a, .wp-block-table td td a {
  display: block;
  color: #0A396B;
  font-weight: bold;
  margin: 0.4rem 0;
}
.wp-block-table table td a:hover, .wp-block-table tr td a:hover, .wp-block-table td td a:hover {
  -webkit-text-decoration: underline #0A396B;
          text-decoration: underline #0A396B;
}

.wp-block-coblocks-accordion-item summary {
  margin-bottom: 0;
}
.wp-block-coblocks-accordion-item__title {
  background-color: #E3E9F1;
}
.wp-block-coblocks-accordion-item__title:hover {
  cursor: pointer;
}
.wp-block-coblocks-accordion-item__content {
  border: 1px solid rgba(10, 57, 107, 0.1);
  border-radius: unset;
}

.line-break {
  display: block;
  max-width: 14.75rem;
  height: 1px;
  margin: 1.5rem 0;
  background-color: #BF9F70;
}

figure.coblocks-gallery--figure {
  margin-top: 0;
}

.search-module {
  display: block;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  margin: 0 auto 3rem;
  background-color: #FFF;
  border: 1px solid #E3E9F1;
  border-top: unset;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-module .primary-button--light-solid-blue {
  max-width: 14rem;
}
@media (min-width: 650px) {
  .search-module {
    margin-right: 2rem;
    background: unset;
    border: unset;
    max-width: 20rem;
  }
}

#mobile-search-expand {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0 auto 2rem;
  background: unset;
  background-color: #FFF;
  border: 1px solid #E3E9F1;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  color: #0A396B;
  font-size: 0.875rem;
}
#mobile-search-expand:hover {
  cursor: pointer;
}
@media (min-width: 650px) {
  #mobile-search-expand {
    display: none;
  }
}

.color-fill {
  padding-bottom: 1rem;
  margin: 0 auto !important;
  background-color: #FFF !important;
  color: #0A396B !important;
  border-bottom: unset !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.facetwp-counter {
  display: none !important;
}

.facetwp-facet {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 650px) {
  .facetwp-facet {
    height: auto !important;
  }
}

.page-template-archive-directory .facetwp-input-wrap {
  margin-bottom: 0.85rem;
}

.post-type-archive-event .search-module {
  margin-top: 0;
}
@media (min-width: 650px) {
  .post-type-archive-event .search-module {
    margin-top: 1.75rem;
  }
}
.post-type-archive-event #mobile-search-expand {
  margin-top: 2rem !important;
}

.post-type-archive-news .search-module {
  margin-top: 0;
}
@media (min-width: 650px) {
  .post-type-archive-news .search-module {
    margin-top: 3rem;
    margin-left: 0;
    max-width: 20rem;
    width: unset;
  }
}
.post-type-archive-news #mobile-search-expand {
  margin-top: 2rem !important;
}

::placeholder {
  color: #0A396B;
  opacity: 1;
  font-size: 0.875rem;
}

.facetwp-type-search {
  position: relative;
  display: inline-block;
  max-width: 14.75rem;
  width: 100%;
  margin-right: 0;
}
.facetwp-type-search i {
  opacity: 1;
  left: 0.5rem;
  max-width: 1rem;
}
.facetwp-type-search .facetwp-icon::before {
  width: unset;
  height: unset;
  position: absolute;
  top: 0.8rem;
  content: "";
  font-family: FontAwesome;
  font-size: 0.875rem;
  font-style: normal;
  background: none;
  color: #0A396B;
  opacity: 0.5;
}
.facetwp-type-search .facetwp-search {
  width: 14.75rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border: 1px solid #0A396B;
  border-radius: 5px;
  background: none;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  color: #0A396B;
}

div.facetwp-checkbox {
  background: unset;
  margin-bottom: 1.25rem;
  padding-left: 0;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
}
div.facetwp-checkbox:before {
  position: relative;
  top: 0.25rem;
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  border: 1px solid #0A396B;
  border-radius: 5px;
}
div.facetwp-checkbox.checked {
  background: unset;
}
div.facetwp-checkbox.checked:before {
  background-color: #0A396B;
}

.facetwp-type-pager {
  margin: 0 auto;
  text-align: center;
  max-width: 15rem;
  padding-bottom: 80px;
}
.facetwp-type-pager a {
  display: inline-block;
  width: 0.75rem;
  padding: 0.25rem 0.25rem 0;
  color: #303030;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.facetwp-type-pager a.active {
  border-bottom: 2px solid #00438A;
  font-weight: normal;
}

select, option {
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem !important;
  color: #0A396B;
}

.facetwp-type-dropdown {
  position: relative;
}
.facetwp-type-dropdown:before {
  position: absolute !important;
  content: "" !important;
  font-family: FontAwesome;
  top: 0.8rem;
  left: 1rem;
  font-size: 1rem;
  color: #AFC0D1;
  z-index: 4;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  position: relative;
  width: 14.75rem;
  padding: 0.7rem 0.9rem 0.7rem 2.625rem;
  border: 1px solid #0A396B;
  border-radius: 5px;
  background: transparent;
  margin-bottom: 1.5rem;
  z-index: 2;
  line-height: 1.5;
}
select:hover {
  cursor: pointer;
}

.facetwp-type-radio {
  max-width: 12.5rem;
}
.facetwp-type-radio .facetwp-radio {
  font-family: "brother-1816", sans-serif;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.85rem 0;
  background-image: unset;
  margin-bottom: 0;
  border-bottom: 1px solid #B6BDC5;
}
.facetwp-type-radio .facetwp-radio.checked {
  background-image: unset;
  background-color: rgba(10, 57, 107, 0.1);
}

.alert-banner {
  display: none;
  position: relative;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #00438A;
  z-index: 5;
}
.alert-banner.alert-banner-visible {
  display: block;
}
.alert-banner__container {
  position: relative;
  width: 75rem;
  max-width: 100%;
  margin: 0 auto;
}
.alert-banner span, .alert-banner a {
  display: inline-block;
  color: #FFF;
}
.alert-banner span:not(#close-alert) {
  font-weight: bold;
  margin-right: 2.5rem;
  line-height: 1.5;
}
@media (min-width: 480px) {
  .alert-banner span:not(#close-alert) {
    font-size: 1rem;
  }
}
.alert-banner a:hover, .alert-banner #close-alert:hover {
  cursor: pointer;
}
.alert-banner a {
  margin-top: 0.5rem;
  margin-right: 2rem;
  text-decoration: underline;
  font-size: 0.875rem;
  font-weight: 300;
}
.alert-banner #close-alert {
  background: unset;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.4rem;
  border: 1px solid #FFF;
  border-radius: 50%;
  color: #FFF;
}
.alert-banner #close-alert > span {
  margin-right: 0;
  height: 1.45rem;
}

.background-underlay, .background-underlay-home {
  position: absolute;
  top: 0;
  height: 60vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}
@media (min-width: 480px) {
  .background-underlay, .background-underlay-home {
    background-position: initial;
  }
}
@media (min-width: 768px) {
  .background-underlay, .background-underlay-home {
    opacity: 1;
  }
}
.background-underlay .blur, .background-underlay-home .blur {
  position: absolute;
  padding: 10rem 1rem;
  width: 100%;
}
.background-underlay .top-change, .background-underlay .blur-top, .background-underlay-home .top-change, .background-underlay-home .blur-top {
  background-image: linear-gradient(#FFF, transparent);
}
.background-underlay .bottom, .background-underlay-home .bottom {
  bottom: 0;
  background-image: linear-gradient(transparent, #FFF);
}

.background-underlay-home {
  height: 100vh;
  background-position: center;
}

.nav-wrapper {
  position: relative;
  max-width: 100%;
  background-color: transparent;
  z-index: 5;
}
@media (min-width: 960px) {
  .nav-wrapper {
    margin-top: 1rem;
  }
}
.nav-wrapper .nav-container nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.lock-nav {
  height: 100vh;
  overflow-y: scroll;
}
@media (max-width: 60em) {
  .lock-nav {
    display: flex;
    height: auto;
    flex-flow: column-reverse;
  }
}

#menu-toggle {
  display: none;
}

.mobile-nav-top {
  display: none;
}

@media (min-width: 60em) {
  .nav-container {
    display: flex;
    max-width: 77rem;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    margin-right: 2rem;
  }
  .logo img {
    max-width: 100%;
    width: 17.5rem;
    min-width: 12rem;
  }

  #mini-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 35rem;
    margin: 0 0 2.5rem auto;
  }
  #mini-top-menu li {
    padding: 0;
    margin: 0;
  }
  #mini-top-menu a {
    font-family: "brother-1816", sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: #454545;
  }
  #mini-top-menu #menu-item-1619 {
    border: 1px solid #0A396B;
    border-radius: 5px;
    align-self: center;
    transition: 0.1s ease-out;
  }
  #mini-top-menu #menu-item-1619 a {
    display: inline-block;
    padding: 0.65rem 2.5rem 0.75rem;
    margin: 0;
    line-height: 1;
    border-bottom: none;
  }
  #mini-top-menu #menu-item-1619 a:hover {
    background-color: #0A396B;
    border-bottom: none;
    transition: 0.1s ease-out;
    color: #FFF;
  }

  .nav-menu .menu {
    display: flex;
    max-width: 100%;
    width: 44rem;
    justify-content: space-between;
    margin: 0 0 0 auto;
  }
  .nav-menu .menu li {
    position: relative;
    background-color: transparent;
    border: 2px solid transparent;
  }
  .nav-menu .menu li.current-menu-item a {
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #BF9F70;
  }
  .nav-menu .menu li:hover a {
    padding-bottom: 0.25rem;
    border-bottom: 2px solid #BF9F70;
  }
  .nav-menu .menu li a {
    color: #454545;
    font-family: "span", serif;
    font-weight: bold;
    font-size: 1.25rem;
    border-bottom: 2px solid transparent;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .nav-menu .menu #menu-item-768 {
    padding-bottom: 1.85rem;
  }
  .nav-menu .menu #menu-item-1567, .nav-menu .menu #menu-item-1568,
.nav-menu .menu #menu-item-1569, .nav-menu .menu #menu-item-1618,
.nav-menu .menu #menu-item-1572, .nav-menu .menu #menu-item-4150 {
    display: none;
  }
  .nav-menu .menu .sub-menu {
    display: none;
  }
}
@media (max-width: 60em) {
  .logo {
    display: none;
  }

  .mobile-nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
  }
  .mobile-nav-top .mobile-logo {
    max-width: 9.5rem;
  }

  #menu-toggle {
    display: block;
  }
  #menu-toggle:hover {
    cursor: pointer;
  }
  #menu-toggle .x-bar {
    display: block;
    height: 2px;
    margin-bottom: 6px;
    background-color: #0A396B;
    transition: 0.3s ease-out;
    border-radius: 2px;
    margin-right: 0;
    margin-left: auto;
  }
  #menu-toggle .x-bar:nth-child(3n+1) {
    width: 1.8rem;
  }
  #menu-toggle .x-bar:nth-child(3n+2) {
    width: 1.4rem;
  }
  #menu-toggle .x-bar:nth-child(3n+3) {
    width: 1rem;
  }
  #menu-toggle .x-bar.x-bar-active {
    width: 1.6rem;
  }
  #menu-toggle .x-bar-active {
    position: relative;
    transition: 0.3s ease-out;
    margin-bottom: 0;
    height: 2px;
  }
  #menu-toggle .x-bar-active:nth-child(3n+1) {
    top: 0;
    transform: rotate(45deg);
  }
  #menu-toggle .x-bar-active:nth-child(3n+2) {
    opacity: 0;
  }
  #menu-toggle .x-bar-active:nth-child(3n+3) {
    bottom: 4px;
    transform: rotate(-45deg);
    margin-bottom: 0;
  }

  #mini-top-menu {
    display: none !important;
  }

  .border-mod {
    border-radius: unset !important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  #menu-item-1567, #menu-item-1568,
#menu-item-1569, #menu-item-1619,
#menu-item-1572, #menu-item-4150 {
    display: block;
  }
}
@media (max-width: 60em) and (max-width: 60em) {
  .nav-container {
    max-width: 100%;
    padding: 0 1rem;
    background-color: transparent;
  }

  #primary-menu {
    display: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 1.5rem;
    border-top: 2px solid #0A396B;
    z-index: 50;
  }
  #primary-menu li {
    margin-bottom: 2rem;
    margin-left: 2.25rem;
  }
  #primary-menu a {
    font-family: "brother-1816", sans-serif;
    font-weight: 500;
    color: #454545;
    font-size: 1rem;
    text-transform: uppercase;
  }
  #primary-menu .menu-item-has-children a {
    position: relative;
    color: #454545;
  }
  #primary-menu .menu-item-has-children > li {
    margin-top: 0.75rem;
  }
  #primary-menu .menu-item-has-children .sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 100%;
    transition: 0.2s ease-out;
    z-index: -1;
    margin-left: 0;
  }
  #primary-menu .menu-item-has-children .sub-menu-open {
    display: none;
    position: absolute;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 0.2s ease-in;
    overflow-x: hidden;
    z-index: 25;
    background: #FFF;
    height: 100%;
    width: 100%;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li {
    margin-left: 3.25rem;
    margin-bottom: 1.675rem;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li:first-of-type {
    margin-right: 1rem;
    margin-left: 1rem;
    font-style: normal;
    font-size: 1rem;
  }
  #primary-menu .menu-item-has-children .sub-menu-open li a {
    text-transform: unset;
    font-family: "brother-1816", sans-serif;
    font-size: 0.9375rem;
    font-weight: normal;
  }
  #primary-menu .menu-item-has-children #mobile-back-button {
    background: unset;
    border: unset;
    width: 100%;
    padding: 0.75rem 0;
    border-bottom: 1px solid #0A396B;
    text-align: left;
    color: #454545;
    font-family: "brother-1816", sans-serif, FontAwesome;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  #primary-menu .menu-item-has-children #mobile-back-button:before {
    content: url("static/images/icons/arrow-left.svg");
    margin-right: 1rem;
    vertical-align: middle;
    color: #0A396B;
  }
}
.home-header {
  position: relative;
  max-width: 62.5rem;
  padding: 2.5rem 0 1rem;
  margin: 1rem auto 0;
  line-height: 1;
}
@media (min-width: 1023px) {
  .home-header {
    padding: 7rem 1rem 0;
  }
}
.home-header h2, .home-header .hero {
  text-align: center;
}
.home-header h2 {
  margin-bottom: 1.25rem;
}

.quick-links {
  display: flex;
  max-width: 39.5rem;
  margin: 3.5rem auto;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
@media (min-width: 500px) {
  .quick-links {
    margin: 6.5rem auto 4.25rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
.quick-links__link-item {
  color: #0A396B;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2.5rem;
}
@media (min-width: 500px) {
  .quick-links__link-item {
    margin-bottom: unset;
  }
}
.quick-links__link-item .icon {
  display: block;
  margin-bottom: 0.75rem;
  padding: 0.1rem;
}
.quick-links__link-item .icon img {
  max-width: 3.75rem;
}
.quick-links__link-item .gold-bar {
  display: block;
  background-color: #BF9F70;
  height: 2px;
  width: 2.25rem;
  transition: 0.2s ease-out;
  margin: 0.5rem auto 0;
}
@media (min-width: 48em) {
  .quick-links__link-item:hover .gold-bar {
    width: 100%;
    transition: 0.2s ease-out;
  }
}

.learn-more-box {
  position: relative;
  max-width: 64.5rem;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  background-color: #0A396B;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1;
}
@media (min-width: 768px) {
  .learn-more-box {
    padding: 3.5rem 1.5rem;
  }
}
@media (min-width: 1000px) {
  .learn-more-box {
    border-radius: 10px;
  }
}
.learn-more-box__image-left {
  position: absolute;
  z-index: 0;
  top: -4rem;
  left: -6rem;
  height: 35rem;
  width: 25rem;
  margin-left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: multiply;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .learn-more-box__image-left {
    height: 30rem;
    opacity: 1;
  }
}
.learn-more-box__flex-content {
  display: flex;
  max-width: 50rem;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .learn-more-box__flex-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.learn-more-box__flex-content h2 {
  position: relative;
  z-index: 2;
  color: #FFF;
  margin-bottom: 2.5rem;
  text-align: left;
  max-width: 21.5rem;
}
@media (min-width: 768px) {
  .learn-more-box__flex-content h2 {
    max-width: 14.5rem;
    margin-bottom: 0;
  }
}
.learn-more-box__flex-content .link-list {
  max-width: 25rem;
  width: 100%;
}
.learn-more-box__flex-content ul {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style: none;
}
.learn-more-box__flex-content li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #FFF;
}
.learn-more-box__flex-content li:last-of-type {
  border-bottom: unset;
}
.learn-more-box__flex-content li a {
  display: block;
  color: #FFF;
  font-weight: bold;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 1rem 0;
  transition: 0.1s ease-out;
}
.learn-more-box__flex-content li a:hover {
  color: #BF9F70;
  transition: 0.1s ease-out;
}

.header-wrapper {
  max-width: 64.5rem;
  padding: 0 1rem;
  margin: 2.5rem auto;
}
@media (min-width: 768px) {
  .header-wrapper {
    margin: 2.5rem auto 5rem;
  }
}

.left-header {
  max-width: 75rem;
  margin: 0 auto 2.5rem;
  padding: 0.5rem;
}

.center-header {
  max-width: 64.5rem;
  margin: 0 auto 0.5rem;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 60em) {
  .video-container video {
    display: none;
  }

  .swap-for-video .background-underlay {
    display: block;
  }
}
@media (min-width: 60.0625em) {
  .video-container {
    display: block;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
  }
}
@media (min-width: 60.0625em) and (min-width: 980px) {
  .video-container .video-container {
    top: 1rem;
  }
}
@media (min-width: 60.0625em) {
  .video-container video {
    object-fit: cover;
    width: 100vw;
  }
}
@media (min-width: 60.0625em) {
  .swap-for-video .background-underlay {
    display: none;
  }
}
.header-button {
  display: inline-block;
  padding: 0.65rem 2.5rem 0.75rem;
  line-height: 1;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #454545;
  border: 1px solid #0A396B;
  border-radius: 5px;
  align-self: center;
  transition: 0.1s ease-out;
  margin: 0 0 2.5rem;
}
.header-button:hover {
  background-color: #0A396B;
  transition: 0.1s ease-out;
  color: #FFF;
}
@media screen and (max-width: 960px) {
  .header-button {
    display: none;
  }
}

.header-top {
  display: flex;
  flex-flow: row;
  align-items: center;
}
@media (max-width: 60em) {
  .header-top {
    order: 2;
    width: 100%;
  }
}
.header-top .searchform {
  position: relative;
  margin: 0 32px 2.5rem;
}
@media (max-width: 60em) {
  .header-top .searchform {
    display: none;
    width: 100%;
    margin: 0 20px 2.5rem;
  }
}
.header-top .searchform input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #B6BDC5;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
}
@media (max-width: 60em) {
  .header-top .searchform input {
    width: 100%;
  }
}
.header-top .searchform input::placeholder {
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #454545;
}
.header-top .searchform input:focus, .header-top .searchform input:active {
  border: none;
  border-bottom: 1px solid #0A396B;
  outline: none;
}
.header-top #searchsubmit {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
}
.header-top #searchsubmit:hover {
  border: none;
  opacity: 0.8;
}
.header-top #searchsubmit:focus, .header-top #searchsubmit:active {
  outline: none;
}
.header-top i {
  color: #303030;
  font-size: 10px;
}

.site-footer {
  color: #FFF;
  font-family: "brother-1816", sans-serif;
  position: relative;
  z-index: 1;
  background-color: #0A396B;
  background-image: url("./static/images/lattice-pattern-large.png");
  background-size: cover;
  background-repeat: repeat;
  background-blend-mode: multiply;
  /** Blackbaud Form Integration **/
}
.site-footer .fab:hover {
  color: #BF9F70;
}
.site-footer .op-phone:hover {
  -webkit-text-decoration: underline #FFF;
          text-decoration: underline #FFF;
}
.site-footer a {
  color: #FFF;
}
.site-footer p {
  color: #FFF;
}
.site-footer .side-logo {
  position: absolute;
  top: -50%;
  right: 0;
  z-index: 9999;
}
.site-footer__content {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}
@media (min-width: 48em) {
  .site-footer__content {
    gap: 0;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (min-width: 48em) {
  .site-footer__content > * + * {
    border-left: 2px solid #00438A;
    padding-left: 2rem;
    margin-left: 1rem;
  }
}
.site-footer__logo {
  grid-column: 1;
  grid-row: 1;
}
.site-footer__logo img {
  width: 9.125rem;
}
@media (min-width: 768px) {
  .site-footer__logo img {
    width: 12.5rem;
  }
}
.site-footer__info {
  grid-column: 1;
  grid-row: 2;
}
@media (min-width: 48em) {
  .site-footer__info {
    grid-column: auto;
    grid-row: auto;
  }
}
.site-footer__info [class^=fa] {
  font-size: 24px;
}
.site-footer__newsletter {
  grid-column: 2;
  grid-row: 1/3;
  margin-top: 1.5rem;
}
@media (min-width: 48em) {
  .site-footer__newsletter {
    grid-column: auto;
    grid-row: auto;
    margin-top: initial;
  }
}
.site-footer__quick-links {
  display: none;
}
@media (min-width: 48em) {
  .site-footer__quick-links {
    display: block;
  }
}
.site-footer__quick-links h6 {
  font-family: "brother-1816", sans-serif;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
}
.site-footer__quick-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer__quick-links ul a:hover {
  -webkit-text-decoration: underline #FFF;
          text-decoration: underline #FFF;
}
.site-footer__bottom {
  border-top: 1px solid #BF9F70;
  display: flex;
  font-size: 11px;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 48em) {
  .site-footer__bottom {
    flex-direction: row;
  }
}
.site-footer__bottom p, .site-footer__bottom a, .site-footer__bottom div {
  font-size: 11px;
}
.site-footer__bottom nav ul {
  font-size: 11px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.site-footer__bottom nav ul li + li {
  margin-left: 2rem;
}
.site-footer__bottom a:hover {
  -webkit-text-decoration: underline #FFF;
          text-decoration: underline #FFF;
}
.site-footer__bottom .five-oh-two {
  margin-top: 1rem;
}
@media (min-width: 48em) {
  .site-footer__bottom .five-oh-two {
    margin-top: 0;
  }
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d {
  margin-top: -2.5em;
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d legend, .site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSubSectionHeading {
  display: none;
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormContainer {
  padding: 0;
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection {
  width: 26.375rem;
  max-width: 100%;
  margin: 0;
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormFieldContainer {
  display: inline-block;
  margin: unset;
  margin-right: 0.5rem;
  max-width: 8.25rem;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormFieldContainer input {
  display: inline-block;
  max-width: 8.25rem;
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  background: unset;
  border: unset;
  border-radius: unset;
  border-bottom: 1px solid #BF9F70;
  padding: 0.25rem 0;
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormFieldContainer ::placeholder {
  text-transform: capitalize;
  font-size: 0.875rem;
  color: #FFF;
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormButtonRow {
  margin-top: 0;
  margin-right: 0.25rem;
  text-align: right;
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormButtonRow .BBFormSubmitbutton {
  display: inline-block;
  padding: 0.5rem 0.75rem 0.6rem;
  margin: 1.375em 0 1rem;
  font-family: "brother-1816", sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1;
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.1s ease-in;
  box-shadow: unset;
}
@media (min-width: 768px) {
  .site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormButtonRow .BBFormSubmitbutton {
    padding: 0.75rem 1.8rem 0.9rem;
  }
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormButtonRow .BBFormSubmitbutton:hover {
  background-color: #FFF;
  color: #0A396B;
  transition: 0.1s ease-out;
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormContainer[data-bbox-part-id=e828c1a5-f73d-4d50-b928-550cedc71e2d] .BBFormTextbox:focus,
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormContainer[data-bbox-part-id=e828c1a5-f73d-4d50-b928-550cedc71e2d] .BBFormTextArea:focus {
  box-shadow: none;
  color: #FFF;
}

.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d {
  margin-top: 0;
}

body .ps-header-block .post-cropped-image {
  min-height: 20rem;
  width: 35%;
}

body div.ps-header-block__text {
  max-width: 65%;
  padding-right: 5%;
}

body .ps-header-block {
  padding: 0 1rem;
}

.search-module select {
  color: #0a396b66;
  outline: none;
}

.search-module .active select {
  color: #0A396B;
}

.facetwp-facet input.facetwp-search::placeholder {
  color: #0a396b66;
}

.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormSignupFieldTall,
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormFieldContainer input {
  color: #fff;
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection {
    width: auto;
  }

  .site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormSignupFieldTall,
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormFieldContainer input {
    width: 100%;
    max-width: 100%;
    opacity: 1;
    color: #fff;
  }

  .site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormFieldContainer:not(.BBFormSignupFieldTall) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .link-row {
    flex-flow: wrap;
  }

  .link-row__link {
    max-width: 50%;
    width: 33%;
    text-align: center;
    margin: 20px 0;
  }

  body .ps-header-block .post-cropped-image {
    min-height: 20rem;
    width: 100%;
    max-width: 100%;
    margin: 30px 0 0;
  }

  body div.ps-header-block__text {
    max-width: 100%;
    padding-right: 0;
  }
}
@media screen and (max-width: 550px) {
  .link-row__link {
    width: 50%;
  }

  body .ps-header-block .post-cropped-image {
    min-height: 15rem;
  }
}
#result_list .result_row a {
  display: none;
}

@media (max-width: 48em) {
  .map-twig.showing-map #static-list {
    display: none;
  }

  .map-twig.showing-list #static-list {
    display: none;
  }

  .map-twig.showing-list .map-wrapper .body-row {
    display: block;
  }

  .map-twig.showing-list .map-wrapper .map-results-list {
    padding: 1rem 1rem 6rem;
  }

  #result_list .result_row a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
  }

  #result_list .result_row {
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  #result_list .list-group-item + .list-group-item {
    border-top-width: 0;
  }
}
.page-template-template-about .statistics {
  margin-top: 0;
  padding-top: 2rem;
}

div#eckb-article-page-container-v2 #eckb-article-body #eckb-article-content #eckb-article-content-header,
.single-epkb_post_type_1 #eckb-article-right-sidebar,
#eckb-article-page-container-v2 #eckb-article-body #eckb-article-content #eckb-article-content-footer .epkb-article-navigation-container {
  display: none;
}

.single-epkb_post_type_1 #eckb-article-page-container-v2 #eckb-article-content {
  grid-column-end: 5;
  padding: 5rem 2rem;
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .single-epkb_post_type_1 #eckb-article-page-container-v2 #eckb-article-content {
    padding: 3rem 1rem;
  }
}
.news-events {
  position: relative;
  max-width: 100%;
  margin: -9rem auto 0;
  padding: 11rem 0 8rem;
  background-color: #E3E9F1;
}
@media (min-width: 860px) {
  .news-events {
    padding: 11rem 0;
  }
}
.news-events .sideways-header {
  display: none;
}
@media (min-width: 75em) {
  .news-events .sideways-header {
    display: block;
    position: absolute;
    top: 17.5rem;
    transform: rotate(90deg);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: "brother-1816", sans-serif;
    color: #AFC0D1;
    opacity: 0.3;
  }
}
.news-events__inner {
  display: flex;
  max-width: 62.5rem;
  padding: 0 1rem;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .news-events__inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.news-events__inner .news-updates {
  max-width: 25rem;
  width: 100%;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .news-events__inner .news-updates {
    width: 25.5rem;
    max-width: 100%;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}
.news-events__inner .news-item, .news-events__inner .event-item {
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #AFC0D1;
}
.news-events__inner .news-item:hover span.primary-button--plain, .news-events__inner .event-item:hover span.primary-button--plain {
  border-bottom: 1px solid #BF9F70;
  color: #BF9F70;
}
.news-events__inner .event-item:hover h4, .news-events__inner .event-item:hover .wp-block-coblocks-accordion-item__title {
  text-decoration: underline;
}
.news-events__inner .upcoming-events {
  max-width: 25rem;
  width: 100%;
}
@media (min-width: 768px) {
  .news-events__inner .upcoming-events {
    width: 30.375rem;
    max-width: 100%;
  }
}
.news-events__inner .upcoming-events .fa-clock, .news-events__inner .upcoming-events .fa-map-marker-alt {
  display: inline-block;
  margin-right: 0.35rem;
  color: #BF9F70;
}
.news-events__inner .upcoming-events .fa-map-marker-alt {
  padding-left: 2px;
}
.news-events__inner .upcoming-events p {
  margin-bottom: 0.5rem;
}
.news-events .spec-btn {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 1.5rem;
}
.news-events .spec-btn:hover {
  border-bottom: 1px solid #BF9F70;
}

.register-and-faith {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  background-image: url("./static/images/lattice-pattern-small.png");
  background-color: #0A396B;
  background-repeat: repeat;
  background-size: contain;
  background-blend-mode: multiply;
  padding: 0 1rem;
  z-index: 6;
}
.register-and-faith__inner {
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 860px) {
  .register-and-faith__inner {
    flex-direction: row;
    justify-content: space-between;
  }
}
.register-and-faith img {
  display: block;
  max-width: 100%;
  margin: -3rem auto 0.5rem;
}
@media (min-width: 860px) {
  .register-and-faith img {
    max-width: 39rem;
    min-width: 25rem;
    margin: -3rem 2rem -5rem 0;
  }
}
.register-and-faith .text-content {
  max-width: 30.5rem;
  width: 100%;
  padding: 1.5rem 0;
}
@media (min-width: 1023px) {
  .register-and-faith .text-content {
    padding: 0;
  }
}
.register-and-faith .text-content p {
  color: #FFF;
}

.psalm-content {
  margin: 3.25rem auto;
  padding: 0 1rem;
}
@media (min-width: 860px) {
  .psalm-content {
    margin: 10rem auto 5rem;
  }
}
.psalm-content h2, .psalm-content p {
  color: #0A396B;
  text-align: center;
}
.psalm-content h2 {
  max-width: 100%;
  margin: 0 auto;
  font-style: italic;
}
.psalm-content p {
  margin-top: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
}

.spotlight {
  max-width: 64.5rem;
  margin: 3.25rem auto;
}
.spotlight .spotlight-wrap {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
@media (min-width: 972px) {
  .spotlight .spotlight-wrap {
    flex-direction: row;
    justify-content: center;
  }
}
.spotlight .spotlight-wrap .image-wrap {
  padding: 0 1rem;
  z-index: 6;
}
@media (min-width: 972px) {
  .spotlight .spotlight-wrap .image-wrap {
    padding: unset;
  }
}
.spotlight .spotlight-wrap img {
  border-radius: 5px;
  margin-bottom: -2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
@media (min-width: 972px) {
  .spotlight .spotlight-wrap img {
    padding: unset;
    max-width: 32.625rem;
    margin-right: -10rem;
    margin-bottom: 0;
  }
}
.spotlight .main-content {
  background-color: #E3E9F1;
  padding: 3.5rem 2rem 2.5rem;
  max-width: 32.625rem;
  width: 100%;
}
@media (min-width: 972px) {
  .spotlight .main-content {
    max-width: 41.5rem;
    width: 100%;
    padding: 7.5rem 1rem;
  }
}
.spotlight .main-content__text {
  max-width: 26.625rem;
  width: 100%;
}
@media (min-width: 972px) {
  .spotlight .main-content__text {
    margin-right: 0;
    margin-left: auto;
  }
}

.statistics {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem 0;
  position: relative;
  max-width: 100%;
  margin: 3.5rem auto;
}
@media (min-width: 768px) {
  .statistics {
    padding: 5rem 0;
    margin: 5rem auto;
  }
}
.statistics::before, .statistics::after {
  content: "";
  height: 50%;
  position: absolute;
  left: 0;
  width: 100%;
}
.statistics::before {
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.35) 100%);
  top: 0;
}
.statistics::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.35) 0%, white 100%);
  bottom: 0;
}
.statistics__container {
  position: relative;
  z-index: 1;
}
.statistics h2 {
  text-align: center;
}
.statistics h2:after {
  display: block;
  margin: 0 auto;
  content: "";
  width: 4.5rem;
  height: 1px;
  background-color: #BF9F70;
}
.statistics h2 span {
  font-family: "span", serif;
  font-size: 1.85rem;
  font-weight: 600;
  font-style: italic;
  color: #0A396B;
}
@media (min-width: 480px) {
  .statistics h2 span {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  .statistics h2 span {
    font-size: 2.75rem;
  }
}
.statistics h2 span:after {
  all: unset;
}
.statistics .statistic-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2.5rem auto 0;
  max-width: 64.5rem;
  width: 100%;
}
.statistics__item {
  border-right: 1px solid #dedfe0;
  border-top: 1px solid #dedfe0;
  flex: 0 0 25%;
  padding: 3rem 3rem 0;
  text-align: center;
}
@media only screen and (max-width: 1015px) {
  .statistics__item {
    padding: 2rem;
  }
}
@media only screen and (max-width: 890px) {
  .statistics__item {
    border-right: none;
    border-top: none;
    flex: 0 0 100%;
    padding: 2rem;
  }
}
.statistics__item:nth-child(1), .statistics__item:nth-child(2), .statistics__item:nth-child(3) {
  border-top: none;
  padding-bottom: 3rem;
  padding-top: 0;
}
@media only screen and (max-width: 890px) {
  .statistics__item:nth-child(1), .statistics__item:nth-child(2), .statistics__item:nth-child(3) {
    flex: 0 0 100%;
    padding: 2rem;
  }
}
.statistics__item:nth-child(4), .statistics__item:nth-child(8), .statistics__item:nth-child(12) {
  border-right: none;
}
.statistics__item h4, .statistics__item .wp-block-coblocks-accordion-item__title {
  font-size: 0.85em;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

.statistic-wrapper .statistics__item {
  border-right: 1px solid #dedfe0;
  border-top: 1px solid #dedfe0;
  flex: 0 0 25%;
  padding: 3rem 3rem 0;
  text-align: center;
}
@media screen and (max-width: 890px) {
  .statistic-wrapper .statistics__item {
    flex: 0 0 100%;
    border-top: none;
  }
}

.statistic-wrapper .statistics__item:first-child,
.statistic-wrapper .statistics__item:nth-child(2),
.statistic-wrapper .statistics__item:nth-child(3),
.statistic-wrapper .statistics__item:nth-child(4) {
  border-top: none;
}

.statistic-wrapper .statistics__item:nth-child(4),
.statistic-wrapper .statistics__item:nth-child(8),
.statistic-wrapper .statistics__item:last-child {
  border-right: none;
}

@media only screen and (max-width: 890px) {
  .statistic-wrapper .statistics__item {
    border-right: none;
    border-top: none;
    flex: 0 0 100%;
    padding: 2rem;
  }
}
@media only screen and (max-width: 890px) {
  .statistics__item:nth-child(1), .statistics__item:nth-child(2), .statistics__item:nth-child(3) {
    flex: 0 0 100%;
    padding: 2rem;
  }
}
.statistics__item:nth-child(4), .statistics__item:nth-child(8), .statistics__item:nth-child(12) {
  border-right: none;
}

.mapbox-container {
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .body-row {
    height: 800px !important;
  }
}
.showing-map .body-row {
  height: 50vh;
}

#result_list {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
}

#search_list_input {
  width: 100%;
}

/* Popup styling */
.mapboxgl-popup {
  padding-bottom: 5px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px "Source Sans Pro", "Helvetica Neue", Sans-serif;
  padding: 0;
  width: 250px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-popup-content h3 {
  background: #3d3b3b;
  text-align: center;
  color: #fff;
  margin: 0;
  display: block;
  padding: 15px;
  font-weight: 700;
  margin-top: -5px;
}

.mapboxgl-popup-content h4, .mapboxgl-popup-content .wp-block-coblocks-accordion-item__title {
  margin: 0;
  display: block;
  padding: 10px 3px 10px 10px;
  font-weight: 400;
}

.mapboxgl-container {
  cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 3px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #3d3b3b;
}

.autocomplete {
  background: #FFF;
  z-index: 1000;
  font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
  font: inherit;
}

.autocomplete > div {
  padding: 0 4px;
}

.autocomplete .group {
  background: #eee;
}

.autocomplete > div:hover {
  background: #E3E9F1;
  cursor: pointer;
}

#result_list, #static-list {
  font-family: "brother-1816", sans-serif;
  position: relative;
}
#result_list .result_row, #static-list .result_row {
  color: #0A396B;
  margin: 0;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-template-rows: 1fr 1fr;
  cursor: pointer;
}
#result_list .result_row:hover, #static-list .result_row:hover {
  background: #E3E9F1;
}
#result_list .result_row > div, #static-list .result_row > div {
  grid-column: 1;
}
#result_list .result_row:after, #static-list .result_row:after {
  align-self: center;
  grid-row: 1/-1;
  grid-column: 2;
  content: "";
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  color: #00438A;
}

.map__search-wrapper {
  max-width: 75rem;
  margin: 0 auto;
  justify-content: space-between;
  display: block;
  top: 0;
  background: #FFF;
  z-index: 1000;
  padding: 1rem;
}
@media (min-width: 48em) {
  .map__search-wrapper {
    background: none;
    padding-bottom: 2rem;
    display: flex;
  }
}
.map__search-wrapper .search-title {
  display: flex;
  align-items: center;
  color: #0A396B;
  letter-spacing: 4px;
  width: 100%;
  font-size: 0.875rem;
  font-family: "brother-1816", sans-serif;
}
.map__search-wrapper .search-title:after {
  content: "";
  height: 1px;
  margin-left: 1rem;
  background: #BF9F70;
  width: 100%;
  flex: 1;
}
.map__search-wrapper .search-label {
  position: relative;
  max-width: 235px;
  width: 100%;
}
.map__search-wrapper .search-icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  width: 1rem;
  height: 1rem;
}
.map__search-wrapper .search-icon::before {
  width: unset;
  height: unset;
  content: "";
  font-family: FontAwesome;
  font-size: 0.875rem;
  font-style: normal;
  background: none;
  color: #0A396B;
  opacity: 0.5;
}
.map__search-wrapper #reset-button {
  border: unset;
  background: unset;
  padding: calc(.5rem + 2px);
  font-weight: normal;
  margin-left: 1.5rem;
}
.map__search-wrapper #reset-button:hover {
  color: #0A396B;
}
.map__search-wrapper input, .map__search-wrapper .mapboxgl-ctrl-geocoder--input, .map__search-wrapper select {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border: 1px solid #0A396B;
  border-radius: 5px;
  background: none;
  font-family: "brother-1816", sans-serif;
  height: 100%;
  font-size: 0.875rem;
  color: #0A396B;
}
@media (max-width: 48em) {
  .map__search-wrapper input, .map__search-wrapper .mapboxgl-ctrl-geocoder--input, .map__search-wrapper select {
    font-size: 16px;
  }
}
.map__search-wrapper select {
  padding: 0.5rem;
  -webkit-appearance: none;
          appearance: none;
}
.map__search-wrapper select:hover {
  cursor: pointer;
}
.map__search-wrapper .select {
  position: relative;
}
.map__search-wrapper .select:after {
  content: "";
  font-family: "FontAwesome";
  position: absolute;
  right: 0.5rem;
  top: 0.35rem;
  font-size: 19px;
  color: #BF9F70;
  z-index: -1;
}

.map__search-location {
  flex: 1;
  max-width: 27.8rem;
  width: 100%;
}
.map__search-location-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.map__search-location .mapboxgl-ctrl-geocoder {
  background: none;
}
.map__search-location .mapboxgl-ctrl-geocoder--icon-search {
  top: 8px;
}
@media (min-width: 48em) {
  .map__search-location .mapboxgl-ctrl-geocoder--icon-search {
    top: 11px;
  }
}

.map__search-geocoder {
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-start;
}
@media (min-width: 48em) {
  .map__search-geocoder {
    margin: 0;
  }
}

.map-wrapper .body-row, .map-wrapper.row {
  padding: 0;
  margin: 0;
}
@media (max-width: 48em) {
  .map-wrapper .body-row, .map-wrapper.row {
    width: 100%;
    overflow-y: scroll;
    flex: none;
    max-width: none;
  }
}
.map-wrapper .mapboxgl-ctrl-top-right, .map-wrapper .mapboxgl-ctrl-bottom-right {
  right: 1rem;
}

.mapboxgl-popup-content .name {
  font-weight: bold;
  color: #0A396B;
}
.mapboxgl-popup-content a {
  color: #0A396B;
  display: inline-block;
  margin-top: 1rem;
}

.map__list-search, .map-results-list {
  display: none;
}
@media (min-width: 48em) {
  .map__list-search, .map-results-list {
    display: block;
    margin-right: 2rem;
  }
}

.map-twig .mapboxgl-ctrl-geolocate {
  display: none;
}
.map-twig .switcher {
  border-top: 2px solid #0A396B;
  background: #FFF;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  display: flex;
}
@media (min-width: 48em) {
  .map-twig .switcher {
    display: none;
  }
}
.map-twig .switcher button {
  background: #FFF;
  border: none;
  padding: 1rem;
  width: 50%;
  -webkit-appearance: none;
          appearance: none;
  font-weight: bold;
}
.map-twig .switcher button + button {
  border-left: 2px dashed #0A396B;
}
.map-twig #static-list {
  display: none;
  overflow: scroll;
  padding: 1rem 1rem 6rem;
}
@media (min-width: 48em) {
  .map-twig #static-list {
    display: none !important;
  }
}
.map-twig #map {
  max-height: 90vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 48em) {
  .map-twig #map {
    display: inherit !important;
  }
}
@media (max-width: 48em) {
  .map-twig.showing-list #static-list {
    display: block;
  }
  .map-twig.showing-list #map, .map-twig.showing-list #map-search {
    display: none;
  }
}
@media (max-width: 48em) {
  .map-twig.showing-map #static-list {
    display: none;
  }
}

.map__list-search .search-title::after {
  width: 100%;
}

.map__search-location .search-title::after {
  max-width: 27.8rem;
}

.mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl-logo {
  display: none !important;
}

.archive-container {
  display: flex;
  max-width: 64.5rem;
  margin: 0 auto 5rem;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
  /* Child items section in [_single-globals.scss] - not used on archive posts */
}
@media (min-width: 650px) {
  .archive-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.archive-container h5 {
  font-family: "brother-1816", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 2rem 0;
}

.results-wrapper {
  max-width: 43rem;
  width: 100%;
  padding: 1rem 0;
}
.results-wrapper .wp-block-table {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}
@media (min-width: 30.0625em) {
  .results-wrapper .wp-block-table {
    margin: 0 auto;
  }
  .results-wrapper .wp-block-table table {
    width: 100%;
  }
}

.letter-divider {
  width: 100%;
  border-bottom: 1px solid #0A396B;
  color: #0A396B;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .letter-divider {
    font-size: 1.5625rem;
  }
}

.results-wrapper__employee {
  display: flex;
  font-family: "brother-1816", sans-serif;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 600px) {
  .results-wrapper__employee {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.results-wrapper__employee .emp-listing {
  display: flex;
  max-width: 17.75rem;
  margin-bottom: 2.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 600px) {
  .results-wrapper__employee .emp-listing {
    align-items: flex-start;
  }
}
.results-wrapper__employee img {
  max-width: 6.375rem;
  border-radius: unset;
  margin-right: 1rem;
}
.results-wrapper__employee .emp-text-content {
  max-width: 10.5rem;
  width: 100%;
}
.results-wrapper__employee .emp-text-content h4, .results-wrapper__employee .emp-text-content .wp-block-coblocks-accordion-item__title, .results-wrapper__employee .emp-text-content > span {
  font-family: "brother-1816", sans-serif;
  font-size: 1rem;
  color: #303030;
  margin-bottom: 0.25rem;
}
.results-wrapper__employee .emp-text-content > span {
  display: block;
  font-size: 0.875rem;
}

.pub-container {
  max-width: 64.5rem;
  margin: 2.5rem auto 4rem;
}
.pub-container h2 {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.pub-container--recent {
  display: flex;
  flex-direction: column;
  max-width: 64.5rem;
  justify-content: center;
  align-items: center;
  margin: 2.5rem auto 0;
  padding: 0 1rem;
}
@media (min-width: 860px) {
  .pub-container--recent {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.pub-container--recent h4 > a, .pub-container--recent .wp-block-coblocks-accordion-item__title > a {
  font-family: "brother-1816", sans-serif;
  font-weight: bold;
  color: #303030;
}
.pub-container--recent h4 > a:hover, .pub-container--recent .wp-block-coblocks-accordion-item__title > a:hover {
  text-decoration: underline;
}
.pub-container--recent ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pub-container--recent ul li {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  padding-bottom: 0;
}
.pub-container--recent ul li:before {
  content: "·";
  font-size: 150%;
  color: #303030;
  margin-right: 0.25rem;
}
.pub-container--recent .featured-pub-post {
  display: flex;
  max-width: 27.25rem;
  padding: 0 1rem 1.25rem;
  border-bottom: 1px solid #B6BDC5;
  flex-direction: column;
}
@media (min-width: 650px) {
  .pub-container--recent .featured-pub-post {
    flex-direction: row;
  }
}
.pub-container--recent .pub-featured {
  margin: 0 auto;
  max-width: 27.25rem;
}
@media (min-width: 860px) {
  .pub-container--recent .pub-featured {
    margin-right: 2.5rem;
  }
}
.pub-container--recent .pub-featured h4, .pub-container--recent .pub-featured .wp-block-coblocks-accordion-item__title {
  margin-top: 0.75rem;
}
.pub-container--recent .pub-regular {
  display: flex;
  max-width: 27.25rem;
  width: 100%;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #B6BDC5;
  flex-direction: column;
}
@media (min-width: 650px) {
  .pub-container--recent .pub-regular {
    flex-direction: row;
  }
}
.pub-container--recent .pub-regular:nth-of-type(1) {
  margin-top: 2.5rem;
}
@media (min-width: 860px) {
  .pub-container--recent .pub-regular:nth-of-type(1) {
    margin-top: 0;
  }
}
.pub-container--recent .pub-regular:nth-of-type(2) {
  padding-top: 1.25rem;
}
.pub-container--recent .pub-regular img {
  width: 13.2rem;
  margin-right: 1.5rem;
}
@media (min-width: 650px) {
  .pub-container--recent .pub-regular img {
    align-self: flex-start;
  }
}
.pub-container--recent .pub-regular__content {
  margin-left: 1.5rem;
}
@media screen and (max-width: 650px) {
  .pub-container--recent .pub-regular__content {
    margin-left: 0;
  }
}
.pub-container .button-container {
  margin-top: 2.25rem;
}
.pub-container .button-container .primary-button--border {
  margin-right: 1.5rem;
}

.grey-background {
  max-width: 100%;
  background-color: #E3E9F1;
  padding: 3.125rem 0;
}
.grey-background h2 {
  max-width: 64.5rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.link-row {
  display: flex;
  max-width: 64.5rem;
  margin: 5rem auto;
  padding: 0 1rem 5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #B6BDC5;
}
.link-row__link {
  max-width: 10.25rem;
}
.link-row__link span:not(.link-text) {
  display: block;
  margin: 0 auto 0.75rem;
  text-align: center;
  font-size: 1.65rem;
  color: #0A396B;
}
.link-row__link .link-text {
  color: #303030;
  font-size: 0.875rem;
}
.link-row__link:hover .link-text {
  text-decoration: underline;
}

.publication-container {
  display: flex;
  margin-bottom: 2.7rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 35.25rem;
  width: 100%;
}
@media (min-width: 680px) {
  .publication-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.publication-container .faith-img {
  max-width: 10rem;
}
.publication-container .the-register-img {
  max-width: 20rem;
  margin-right: 0;
}
@media (min-width: 680px) {
  .publication-container .the-register-img {
    margin-right: 1.25rem;
  }
}
.publication-container .faith-content {
  display: block;
  max-width: 14rem;
  width: 100%;
}
@media screen and (max-width: 650px) {
  .publication-container .faith-content {
    max-width: 20rem;
    margin: 20px 0;
  }
}
.publication-container ul {
  position: relative;
  margin: 0.9rem 0 1rem;
  padding: 0;
  list-style: none;
  font-family: "brother-1816", sans-serif;
}
.publication-container ul li {
  position: relative;
  margin-left: 0.5rem;
}
.publication-container ul li:before {
  display: block;
  content: "⋅";
  position: absolute;
  left: -0.5rem;
}
.publication-container button {
  background: unset;
  border: unset;
}
.publication-container button:hover {
  cursor: pointer;
}

.year-divider {
  border-bottom: 1px solid #B6BDC5;
  padding-bottom: 10px;
  margin-bottom: 2.5rem !important;
}
.year-divider:not(:nth-child(1)) {
  margin-top: 4rem;
}

.link.js-more {
  background: transparent;
  border: none;
  color: #0A396B;
  font-size: 12px;
  line-height: 3.8333rem;
  font-weight: bold;
  font-family: "brother-1816", sans-serif;
  padding: 0;
  cursor: pointer;
}
.link.js-more:focus, .link.js-more:active {
  outline: none;
}
.link.js-more:hover {
  opacity: 0.8;
}
@media screen and (max-width: 650px) {
  .link.js-more {
    display: none;
  }
}

.profile-container, .adjust-bio {
  display: flex;
  max-width: 64.5rem;
  margin: 0 auto 3.5rem;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .profile-container, .adjust-bio {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.profile-container .profile-information, .adjust-bio .profile-information {
  max-width: 17.75rem;
  margin-right: 0;
}
@media (min-width: 768px) {
  .profile-container .profile-information, .adjust-bio .profile-information {
    margin-right: 1.5rem;
  }
}
.profile-container .profile-information img, .profile-container .profile-information h4, .profile-container .profile-information .wp-block-coblocks-accordion-item__title, .profile-container .profile-information p, .adjust-bio .profile-information img, .adjust-bio .profile-information h4, .adjust-bio .profile-information .wp-block-coblocks-accordion-item__title, .adjust-bio .profile-information p {
  margin-bottom: 0.75rem;
}
.profile-container .profile-information div:not(.locations-information), .adjust-bio .profile-information div:not(.locations-information) {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  border-top: 1px solid #BF9F70;
}
.profile-container .profile-information a, .adjust-bio .profile-information a {
  display: block;
  margin-bottom: 1.25rem;
  color: #303030;
  font-size: 0.875rem;
}
.profile-container .profile-information a:hover, .adjust-bio .profile-information a:hover {
  -webkit-text-decoration: underline #BF9F70;
          text-decoration: underline #BF9F70;
}
.profile-container .profile-information a span, .adjust-bio .profile-information a span {
  color: #BF9F70;
  margin-right: 1rem;
}
.profile-container .profile-information .locations-information, .adjust-bio .profile-information .locations-information {
  text-align: left;
}
.profile-container .profile-information .locations-information p, .adjust-bio .profile-information .locations-information p {
  display: block;
}
.profile-container .profile-information .locations-information p a, .adjust-bio .profile-information .locations-information p a {
  display: inline-block;
  margin-bottom: 0;
  text-decoration: none;
  text-align: left;
}
.profile-container .profile-posts, .adjust-bio .profile-posts {
  max-width: 40rem;
}
.profile-container .profile-posts .bio, .adjust-bio .profile-posts .bio {
  padding-bottom: 2.25rem;
  margin-bottom: 2.25rem;
  border-bottom: 1px solid #B6BDC5;
}
@media (min-width: 768px) {
  .profile-container .profile-posts .bio, .adjust-bio .profile-posts .bio {
    margin-bottom: 4.25rem;
  }
}

.adjust-bio .profile-posts {
  max-width: 17.75rem;
}
@media (min-width: 768px) {
  .adjust-bio .profile-posts {
    max-width: 40rem;
  }
}
.adjust-bio .profile-posts .bio {
  border-bottom: unset;
  margin-bottom: unset;
  padding-bottom: unset;
}
@media (min-width: 768px) {
  .adjust-bio .profile-posts .bio {
    padding-bottom: 2.25rem;
    margin-bottom: 4.25rem;
    border-bottom: 1px solid #B6BDC5;
  }
}
@media (min-width: 768px) {
  .adjust-bio {
    justify-content: flex-start;
  }
  .adjust-bio .profile-information {
    margin-right: 3.5rem;
  }
  .adjust-bio .profile-posts {
    width: 100%;
  }
}

/* reusable components for single posts */
.child-items-section {
  max-width: 15.25rem;
  flex-shrink: 0;
  margin-top: 2rem;
  margin-left: 0;
}
@media (min-width: 768px) {
  .child-items-section {
    margin-top: 0;
    margin-left: 3.5rem;
  }
}
.child-items-section h4, .child-items-section .wp-block-coblocks-accordion-item__title {
  font-family: "brother-1816", sans-serif;
}
.child-items-section .child-link-list {
  margin: 1.5rem 0 2.75rem;
  padding: 0;
  list-style: none;
}
.child-items-section .child-link-list li {
  border-bottom: 1px solid #B6BDC5;
}
.child-items-section .child-link-list li:first-of-type {
  border-top: 1px solid #B6BDC5;
}
.child-items-section .child-link-list__link {
  display: block;
  color: #303030 !important;
  padding: 1.375rem 0;
  font-weight: normal !important;
}

.shared_counts {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: "brother-1816", sans-serif;
}
.shared_counts__blurb {
  white-space: nowrap;
  color: #00438A;
  font-weight: bold;
  margin-right: 1rem;
}
.shared_counts .shared-counts-wrap {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.shared_counts .shared-counts-wrap a {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.shared_counts .shared-counts-wrap a .shared-counts-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.single-news {
  font-family: "brother-1816", sans-serif;
}
.single-news .header-wrapper {
  margin-bottom: 0;
}

.news__single-categories {
  text-align: center;
  font-weight: bold;
  color: #303030;
}

.news__date {
  text-align: center;
  font-weight: bold;
  color: #303030;
  margin-top: 0.5rem;
  font-size: 12px;
}

.news__featured-image img {
  width: 100%;
  height: auto;
  display: block;
}

.news__content {
  max-width: 50rem;
  margin: 2.5rem auto;
  padding: 0.5rem;
}
.news__content h1, .news__content h2, .news__content h3, .news__content h4, .news__content .wp-block-coblocks-accordion-item__title, .news__content h5, .news__content h6 {
  max-width: 36.875rem;
  margin-left: auto;
  margin-right: auto;
}
.news__content p {
  max-width: 36.875rem;
  margin-left: auto;
  margin-right: auto;
}
.news__content img {
  border-radius: 5px !important;
}
.news__content .wp-block-embed-youtube, .news__content .wp-block-embed__wrapper {
  max-width: 36.875rem;
  margin-left: auto;
  margin-right: auto;
}

.news__footer {
  padding: 0.5rem;
  max-width: 64.5rem;
  border-top: 1px solid #B6BDC5;
  margin: 2.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.news__author {
  padding: 2.5rem 0;
  display: flex;
}
.news__author-image {
  align-self: flex-start;
}
.news__author-info {
  max-width: 10rem;
  margin-left: 1rem;
}
.news__author .author-title {
  margin: 0.5rem 0;
  font-size: 14px;
}

.obj-fit {
  max-width: 100px;
  object-fit: cover;
  font-family: "object-fit: cover;";
  overflow: hidden;
}
.obj-fit__wrapper .obj-fit {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.obj-fit__wrapper {
  position: relative;
  padding-bottom: 26.25%;
  width: 100px;
}

.news-archive__featured {
  max-width: 77rem;
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #B6BDC5;
  padding-bottom: 2rem;
}
@media (min-width: 48em) {
  .news-archive__featured {
    display: flex;
  }
}
.news-archive__featured img, .news-archive__featured .image {
  border-radius: 5px;
  object-fit: cover;
}
@media (min-width: 48em) {
  .news-archive__featured-xl {
    width: calc(53% - 3rem);
  }
}
.news-archive__featured-xl--title {
  font-size: 44px;
  font-family: "span", serif;
  margin-bottom: 2rem;
  color: #0A396B;
}
@media (min-width: 48em) {
  .news-archive__featured-xl--title {
    margin-bottom: 0;
  }
}
.news-archive__featured-xl .image {
  max-height: 383px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .news-archive__featured-xl .image {
    max-height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .news-archive__featured-xl .image {
    object-fit: contain;
    max-height: 350px;
  }
}
@media screen and (max-width: 500px) {
  .news-archive__featured-xl .image {
    max-height: 250px;
  }
}
@media (min-width: 48em) {
  .news-archive__featured-side {
    width: calc(50% - 3rem);
  }
}
.news-archive__featured-side-article {
  display: flex;
  align-items: flex-start;
  color: #303030;
}
.news-archive__featured-side-article + * {
  margin-top: 2rem;
  border-top: 1px solid #B6BDC5;
  padding-top: 2rem;
}
.news-archive__featured-side-article .image {
  width: 100%;
  max-width: 150px;
  border-radius: 5px;
  margin-right: 1rem;
  object-fit: cover;
}
.news-archive__featured-side-article .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}
.news-archive__featured-side-article .info .top {
  flex: 1 0 auto;
}
.news-archive__featured-side-article .info .heading {
  font-size: 25px;
  font-family: "span", serif;
  color: #0A396B;
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.1;
}
.news-archive__featured-side-article .info a {
  font-weight: normal;
}
.news-archive .desktop-search-module {
  padding-top: 4rem;
}
.news-archive .results-wrapper__news {
  padding-top: 4rem;
  font-family: "brother-1816", sans-serif;
  padding-bottom: 2rem;
}
@media (min-width: 48em) {
  .news-archive__single {
    display: flex;
    align-items: flex-start;
  }
}
.news-archive__single + * {
  padding-top: 4rem;
}
.news-archive__single .heading {
  font-size: 25px;
  font-family: "span", serif;
  color: #0A396B;
  font-weight: bold;
  margin-bottom: 0.5rem;
  line-height: 1.1;
}
.news-archive__single .image {
  flex: 1 0 auto;
  width: 100%;
  margin-right: 2rem;
  margin-bottom: 1rem;
  object-fit: cover;
}
@media (min-width: 48em) {
  .news-archive__single .image {
    max-width: 18rem;
    height: 12rem;
  }
}
.news-archive__single .preview {
  font-size: 14px;
}
.news-archive .archive-container {
  flex-wrap: wrap;
}
.news-archive .pagination {
  border-top: 1px solid #0A396B;
  padding-top: 2rem;
  width: 100%;
  flex: 1 0 auto;
}

.related-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.75rem;
}
@media (min-width: 768px) {
  .related-news {
    margin-bottom: 3rem;
  }
}
.related-news article {
  width: calc(50% - 1rem);
  min-width: 300px;
}
.related-news .image {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  margin-right: 1rem;
  object-fit: cover;
}

.post-type-archive-news .header-wrapper {
  max-width: 77rem;
}

.single-event {
  font-family: "brother-1816", sans-serif;
}
.single-event__back {
  position: relative;
  top: -2rem;
  color: #303030;
}
@media (min-width: 768px) {
  .single-event__back {
    top: -4rem;
  }
}
.single-event__featured-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.5);
}
.single-event__info {
  border-bottom: 1px solid #B6BDC5;
  margin-bottom: 2.5rem;
  padding-bottom: 2rem;
}
@media (min-width: 48em) {
  .single-event__info {
    display: flex;
  }
}
.single-event__info-sidebar {
  width: 100%;
  max-width: 14rem;
  flex: 1 0 auto;
  margin-right: 1.5rem;
  font-size: 14px;
  margin-bottom: 2rem;
}
.single-event__info-sidebar .far, .single-event__info-sidebar .fas {
  display: inline-block;
  margin-right: 0.75rem;
  max-width: 1rem;
  color: #BF9F70;
}
.single-event__info-sidebar .far::before, .single-event__info-sidebar .fas::before {
  position: relative;
  top: 0.2rem;
}
.single-event__info-sidebar > * + * {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #B6BDC5;
}
.single-event__info-sidebar .icon-flex {
  display: flex;
  justify-content: left;
  max-width: 100%;
}
.single-event .shared_counts {
  margin-bottom: 3.5rem;
}

.post-type-archive-event {
  overflow: visible;
}
.post-type-archive-event .header-wrapper {
  max-width: 75rem;
  margin-bottom: 3rem;
}

.archive-events {
  font-family: "brother-1816", sans-serif;
}
.archive-events__featured {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #B6BDC5;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.archive-events__featured .image {
  object-fit: cover;
  height: 12rem;
}
@media (min-width: 48em) {
  .archive-events__featured .image {
    max-width: 18rem;
  }
}
.archive-events__featured-single {
  margin-top: 1rem;
  max-width: 100%;
}
@media (min-width: 25.875em) {
  .archive-events__featured-single {
    max-width: calc(50% - 1.5rem);
  }
}
@media (min-width: 48em) {
  .archive-events__featured-single {
    max-width: calc(25% - 1.5rem);
  }
}
.archive-events__featured-single [class^=fa] {
  margin-right: 0.5rem;
}
.archive-events__featured-single .info {
  font-size: 14px;
}
.archive-events__featured-single .info > * + * {
  margin-top: 0.5rem;
}
.archive-events__featured-single-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 1.5rem;
}
.archive-events__single {
  background: rgba(227, 233, 241, 0.5);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
@media (min-width: 48em) {
  .archive-events__single {
    flex-direction: row;
  }
}
.archive-events__single .info {
  padding: 1.5rem;
  font-size: 14px;
}
.archive-events__single .image {
  max-width: 18rem;
  max-height: 11rem;
  object-fit: cover;
}
.archive-events .image {
  width: 100%;
  border-radius: 5px;
}
.archive-events .archive-container {
  display: block;
  padding: 0;
  margin-left: 0;
  max-width: 100%;
}
@media (min-width: 48em) {
  .archive-events .archive-container {
    display: flex;
  }
}
.archive-events .desktop-search-module {
  background: #FFF;
  padding-top: 3rem;
  position: sticky;
  top: 0;
}
@media (min-width: 48em) {
  .archive-events .desktop-search-module {
    top: 2rem;
  }
}
@media (min-width: 48em) {
  .admin-bar .archive-events .desktop-search-module {
    top: 5rem;
  }
}
.archive-events .search-module {
  margin-bottom: 13px;
}
.archive-events .list-buttons .button {
  min-width: 70px;
  line-height: 34px;
  background: #FFF;
  color: #0A396B;
  border-radius: 0 5px 5px 0;
  border: 1px solid #0A396B;
  outline: none;
}
.archive-events .list-buttons .button:first-child {
  border-radius: 5px 0 0 5px;
  margin-right: -5px;
}
.archive-events .list-buttons .button.active {
  background: #0A396B;
  color: #FFF;
}
.archive-events .list-buttons .button:hover {
  opacity: 0.8;
}
.archive-events .results-wrapper {
  padding-top: 0;
  display: none;
}
.archive-events .css-wrapper-calendar {
  width: 100%;
  overflow: hidden;
  margin-top: 2.4rem;
}
.archive-events .inner {
  width: 100%;
}
.archive-events .fc-h-event {
  background-color: #0A396B;
  border: none;
  border-radius: 4px;
  padding: 5px 7px;
  line-height: 1;
}
.archive-events .fc-daygrid-event {
  font-size: 10px;
  white-space: normal;
  font-weight: 700;
  font-family: "brother-1816", sans-serif;
}
.archive-events .fc .fc-daygrid-day.fc-day-today {
  background-color: #E3E9F1;
}
.archive-events .fc .fc-daygrid-day-number {
  color: #303030;
  font-size: 14px;
  line-height: 1.643;
  font-weight: 400;
  font-family: "brother-1816", sans-serif;
}
.archive-events .fc-theme-standard th {
  border-top: none;
  border-color: #B6BDC5;
}
.archive-events .fc .fc-col-header-cell-cushion {
  color: #303030;
  font-size: 14px;
  line-height: 1.643;
  font-weight: 700;
}
.archive-events .fc-toolbar-chunk {
  display: flex;
}
.archive-events .fc button.fc-button.fc-button-primary {
  background: transparent;
  color: #798BA1;
  border: none;
  padding: 0;
  outline: none;
}
.archive-events .fc button.fc-button.fc-button-primary:hover {
  background: transparent;
  opacity: 0.8;
  color: #798BA1;
  box-shadow: none;
  outline: none;
  border: none;
}
.archive-events .fc button.fc-button.fc-button-primary:focus, .archive-events .fc button.fc-button.fc-button-primary:active {
  box-shadow: none;
  outline: none;
  background-color: transparent;
  border: none;
  color: #798BA1;
}
.archive-events .fc-theme-standard .fc-scrollgrid {
  border: none;
}
.archive-events .fc-theme-standard td {
  border-color: #B6BDC5;
  border-right: none;
  border-bottom: none;
}
.archive-events .fc-daygrid-dot-event .fc-event-title {
  color: #303030;
  font-weight: 700;
  font-size: 11px;
  font-family: "brother-1816", sans-serif;
  padding: 0 13px 12px;
}
.archive-events .fc-direction-ltr .fc-daygrid-event .fc-event-time {
  color: #303030;
  font-weight: 400;
  font-size: 8px;
  font-family: "brother-1816", sans-serif;
  padding: 0 13px;
}
.archive-events .fc-daygrid-event-dot {
  display: none;
}
.archive-events .fc-daygrid-event.fc-daygrid-dot-event {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.archive-events .fc .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky > * {
  border-top: none;
}

.ps-container {
  max-width: 64.5rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.ps-container .parish-info {
  display: flex;
  max-width: 100%;
  margin: 5rem 0;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .ps-container .parish-info {
    grid-template-columns: repeat(auto-fit, 14.5rem);
    column-gap: 7.5rem;
    row-gap: 2.5rem;
  }
}
.ps-container .parish-info__contact, .ps-container .parish-info__mass, .ps-container .parish-info__confession {
  margin-right: 4.5rem;
}
@media (min-width: 768px) {
  .ps-container .parish-info__contact, .ps-container .parish-info__mass, .ps-container .parish-info__confession {
    margin-right: 1.5rem;
  }
}
.ps-container .parish-info__confession {
  margin-top: 2rem;
}
@media (min-width: 494px) {
  .ps-container .parish-info__confession {
    margin-top: 0;
  }
}
.ps-container .parish-info__contact, .ps-container .parish-info__mass, .ps-container .parish-info__confession, .ps-container .parish-info .mission-parishes {
  max-width: 14.5rem;
}
.ps-container .parish-info .time-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #D8D8D8;
}
.ps-container .parish-info .time-container h6 {
  font-family: "brother-1816", sans-serif;
  color: #303030;
}
.ps-container .parish-info .time-container p {
  margin-bottom: 0;
}
.ps-container .parish-info__contact {
  padding-bottom: 1rem;
}
.ps-container .parish-info__contact h3 {
  margin-bottom: 1rem;
}
.ps-container .parish-info .info-link {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: normal;
  margin-left: 1rem;
  color: #303030;
}
.ps-container .parish-info .info-link span {
  margin-top: 0;
}
.ps-container .parish-info .fas {
  width: 1.25rem;
  font-size: 1.2rem;
  color: #BF9F70;
  text-align: center;
}
.ps-container .parish-info .fa-map-marker-alt, .ps-container .parish-info .fa-phone,
.ps-container .parish-info .fa-envelope, .ps-container .parish-info .fa-globe, .ps-container .parish-info .fa-fax {
  position: relative;
}
.ps-container .parish-info .fa-map-marker-alt {
  font-size: 1.3rem;
  top: -0.5rem;
}
.ps-container .parish-info .fa-envelope {
  top: 0.15rem;
}
.ps-container .parish-info .fa-globe {
  top: 0.2rem;
}
.ps-container .parish-info .fa-fax {
  top: 0.15rem;
}
.ps-container .parish-info .social-icon-row {
  padding: 0.7rem 0;
}
.ps-container .parish-info .social-icon-row .fab {
  color: #BF9F70;
  font-size: 1.25rem;
  margin-right: 1rem;
}
.ps-container .parish-info .donate-box {
  padding-top: 1.25rem;
}
.ps-container .parish-info .mission-parishes {
  margin-top: 1.5rem;
  text-align: left;
}
.ps-container .parish-info .mission-parishes a {
  display: inline-block;
  text-align: left;
  margin-bottom: 0.75rem;
}
.ps-container .parish-info .mp-schools {
  margin-top: 0;
}
.ps-container .featured-employees {
  display: grid;
  max-width: 100%;
  margin-bottom: 4.125rem;
  grid-template-columns: repeat(auto-fit, 15.25rem);
  column-gap: 3.75rem;
  row-gap: 2rem;
}
.ps-container .featured-employees--listing {
  padding: 1.25rem 1.5rem;
  border-radius: 5px;
  background-color: #E3E9F1;
}
.ps-container .featured-employees--listing:hover {
  box-shadow: 0 0 3px 0 #BF9F70;
}
.ps-container .featured-employees--listing img, .ps-container .featured-employees--listing h4, .ps-container .featured-employees--listing .wp-block-coblocks-accordion-item__title, .ps-container .featured-employees--listing h5 {
  margin-bottom: 0.5rem;
}
.ps-container .featured-employees--listing h5 {
  font-family: "brother-1816", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.ps-container .featured-employees--listing h4, .ps-container .featured-employees--listing .wp-block-coblocks-accordion-item__title {
  font-family: "brother-1816", sans-serif;
  font-size: 1rem;
  color: #303030;
  margin-bottom: 0.25rem;
}
.ps-container .featured-employees--listing img {
  border-radius: unset;
}

.adjust-layout {
  padding: 3.75rem 1rem 5rem;
  margin: 5rem auto 0;
}
.adjust-layout .sideways-header {
  top: 10.5rem;
}

.menu-grid-wrapper {
  max-width: 64.5rem;
  width: 100%;
  margin: 5rem auto;
  padding: 0 1rem;
}
.menu-grid-wrapper h4, .menu-grid-wrapper .wp-block-coblocks-accordion-item__title {
  font-family: "span", serif;
  border-bottom: 1px solid #0A396B;
  color: #0A396B;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .menu-grid-wrapper h4, .menu-grid-wrapper .wp-block-coblocks-accordion-item__title {
    font-size: 1.125rem;
  }
}
.menu-grid-wrapper h4:hover, .menu-grid-wrapper .wp-block-coblocks-accordion-item__title:hover {
  cursor: pointer;
}
.menu-grid-wrapper .menu-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2.5rem;
  width: 100%;
}
.menu-grid-wrapper .menu-grid .menu-grid__column {
  flex: 0 0 100%;
  margin: 0;
}
@media (min-width: 480px) {
  .menu-grid-wrapper .menu-grid .menu-grid__column {
    flex: 0 0 40%;
    margin: 1rem;
  }
}
@media (min-width: 768px) {
  .menu-grid-wrapper .menu-grid .menu-grid__column {
    flex: 0 0 30.25%;
    margin: 0 1.5%;
  }
}
.menu-grid-wrapper .office-child-link {
  position: relative;
  display: block;
  margin-left: 1.85rem;
  margin-bottom: 0.25rem;
  color: #0A396B;
}
.menu-grid-wrapper .office-child-link:hover {
  cursor: pointer;
  color: #BF9F70;
  -webkit-text-decoration: underline #BF9F70;
          text-decoration: underline #BF9F70;
}
.menu-grid-wrapper .office-child-link:before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0.6rem;
  left: -1.05rem;
  width: 0.65rem;
  height: 1px;
  margin-right: 0.5rem;
  background-color: #BF9F70;
}

.page-id-1841 header {
  display: none;
}
.page-id-1841 .breadcrumbs {
  display: none;
}

.epkb-doc-search-container {
  background: unset !important;
  border-bottom: unset !important;
}
.epkb-doc-search-container__title {
  display: none;
}

#epkb-content-container {
  background-color: unset !important;
}

section.epkb-top-category-box {
  padding: 1rem !important;
}

.section_divider {
  border-bottom: unset !important;
  padding: 0 !important;
}

.epkb-category-level-1 {
  text-align: left !important;
  margin-bottom: 1.5rem !important;
}

.epkb-cat-name {
  font-family: "span", serif !important;
  color: #0A396B !important;
}

.epkb-cat-icon {
  display: none !important;
}

.ep_font_icon_arrow_carrot_right {
  color: #303030 !important;
}

.ep_font_icon_document {
  color: #303030 !important;
}

.eckb-article-title span {
  font-family: "brother-1816", sans-serif !important;
  font-weight: bold !important;
  font-size: 0.9375rem !important;
}

.epkb-category-level-2-3__cat-name {
  font-family: "brother-1816", sans-serif !important;
  font-weight: bold !important;
  font-size: 0.9375rem !important;
}

.epkb-show-all-articles {
  text-align: left !important;
}
.epkb-show-all-articles .epkb-show-text, .epkb-show-all-articles .epkb-hide-text {
  display: inline-block !important;
  margin-top: 1.5rem !important;
  color: #303030 !important;
}
.epkb-show-all-articles .epkb-show-text:hover, .epkb-show-all-articles .epkb-hide-text:hover {
  text-decoration: underline !important;
}

.epkb-section-body {
  padding: 0 !important;
}