{% extends 'base.twig' %}

{# Navigation bars are imported above this block in base.twig #}

{% block content %}
	<div class="breadcrumbs">{{ fn('do_shortcode', '[rank_math_breadcrumb]') }}</div>
	<div class="main-post-wrapper">
		<section class="content-container">
			{{ post.content }}
		</section>
	</div>

<section class="statistics" style="background-image: url('{{ TimberImage( options.full_page_background_image ).src }}');">
	<div class="statistics__container">
		<h2><span>One</span> Diocese</h2>
		<div class="statistic-wrapper">
			{% for stat in post.get_field('diocese_statistics') %}
				<div class="statistics__item">
					<h3>{{ stat.number }}</h3>
					<h4>{{ stat.statistic_name }}</h4>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}
