<!DOCTYPE html>
<html class="" lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Catholic Diocese of Salina | {{ post.title }}</title>
		{{ function('wp_head') }}
		<link rel="stylesheet" href="https://use.typekit.net/ils6fxm.css">

		{% if fn('is_page', 90) or fn('is_page', 93) %}
			<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet"/>
			<link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" rel="stylesheet"/>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		{% endif %}
	</head>

	<body data-template="base.twig" class="{{ body_class }}">

		{% if options.toggle_alert_banner %}
			<div class="alert-banner" role="banner" title="Special Notice / Information">
				<div class="alert-banner__container">
					<span>{{ options.alert_text }}</span>
					{% if options.alert_link %}
						<a class="plain-link" href="{{ options.alert_link }}">Learn More</a>
					{% endif %}
					<button id="close-alert">
						<span>&times;</span>
					</button>
				</div>
			</div>
		{% endif %}

		{# home page is a video#}
		{% if is_front_page %}
			<div class="video-container">
				{# background-video #}
				<video id="video-container__player" muted autoplay loop>
					<source src="{{ options.full_page_background_video }}">
				</video>
				<div class="background-underlay swap-for-video" style="background-image: url('{{ TimberImage( options.full_page_background_image ).src }}');"}}>
					<!-- adds black and white image background with blurring on top and bottom edges -->
					{% if options.toggle_alert_banner %}
						<div class="blur"></div>
					{% else %}
						<div class="blur blur-top"></div>
					{% endif %}
					<div class="blur bottom"></div>
				</div>
			</div>
		{% else %}
			<div class="background-underlay" style="background-image: url('{{ TimberImage( options.full_page_background_image ).src }}');"}}>
				<!-- adds black and white image background with blurring on top and bottom edges -->
				{% if options.toggle_alert_banner %}
					<div class="blur top-change"></div>
				{% else %}
					<div class="blur top"></div>
				{% endif %}
				<div class="blur bottom"></div>
			</div>
		{% endif %}

		{% include 'navigation.twig' %}

		{% if is_front_page or fn('is_singular', 'news') %}
			{% block specialheader %}{% endblock %}
		{% elseif fn('is_page', 90) or fn('is_page', 93) or fn('is_post_type_archive', 'event') %}
			{# Schools, Parishes, Events Archive Headers are different #}
			<header class="left-header">
				<h1>{{ post.title }}</h1>
				{% if fn('is_page', 93) %}
					<a class="primary-button--plain" href="/catholic-schools">Catholic Schools <span class="fas fa-chevron-right"></span></a>
				{% endif %}
			</header>
		{% else %}
			<header class="header-wrapper">
				<h1>{{ post.title }}</h1>
			</header>
		{% endif %}

		<section class="content-wrapper">
			{% block content %}{% endblock %}
		</section>

		{% include 'footer.twig' %}

		{# Mapbox page #}
		{% if fn('is_page', 90) or fn('is_page', 93) %}
			<script src="https://npmcdn.com/csv2geojson@latest/csv2geojson.js"></script>
			<script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
			<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{#			<script src="{{ theme.link }}/static/js/map-app.js"></script>#}
			<script src="{{ theme.link }}/static/js/autocomplete.js"></script>
		{% endif %}

		{% if fn('is_page', 90) %}
			<script src="{{ theme.link }}/static/js/map-feature-parish.js"></script>
		{% endif %}

		{% if fn('is_page', 93) %}
			<script src="{{ theme.link }}/static/js/map-feature-school.js"></script>
		{% endif %}

		{{ function('wp_footer') }}
		{% include 'external-scripts.twig' %}

		<noscript>
			{# ensure body is displayed in browsers with js disabled - for homepage fade-in effect #}
			<style type="text/css"> body { display: block; } </style>
		</noscript>
	</body>
</html>
