{% extends 'base.twig' %}

{% set years = [] %}

{% block content %}
<div class="breadcrumbs">{{ fn('do_shortcode', '[rank_math_breadcrumb]') }}</div>
<div class="main-post-wrapper">
	<section class="archive-container">

		{% include 'search-module.twig' %}

		<div class="results-wrapper facetwp-template">
			{% for pub in faith_publications %}

                {% set year = pub.terms('pub-year') %}
                {% if year not in years %}
                    {% for term in pub.terms('pub-year') %}
                        <h3 class="year-divider mt-3"
                            style="width: 100%; margin-bottom: 1rem; font-weight: bold;">{{ term.name }}</h3>
                    {% endfor %}
                {% endif %}

                {% set years = years|merge([year]) %}

				<a class="publication-container" href="{{ pub.get_field('publication_url') }}" target="_blank" rel="noopener">
					<img class="faith-img" src="{{ TimberImage( pub.thumbnail ).src }}" alt="{{ TimberImage( pub.thumbnail ).alt }}" />
					<span class="faith-content">
						<h4>{{ pub.title }} - {{ pub.publication_date|date('F j, Y') }}</h4>
						<ul>
							{% for highlight in pub.get_field('publication_highlights') %}
								<li>{{ highlight.highlight }}</li>
							{% endfor %}
						</ul>
						<button class="primary-button--plain">Read <span class="fas fa-chevron-right"></span></button>
					</span>
				</a>
			{% endfor %}
		</div> {# /.results-wrapper #}
	</section>
	{{ fn('do_shortcode', '[facetwp facet="global_pager_facet"]') }}
</div>
{% endblock %}
