{% set gmaps = 'https://www.google.com/maps/place/Catholic+Chancery/@38.8408891,-97.6146399,17z/data=!4m8!1m2!2m1!1ssalina+diocese!3m4!1s0x87bccf5f6e1b1395:0xec096834b115bff2!8m2!3d38.8408146!4d-97.6129977' %}
{% set tel = options.phone_number %}
{% set address = options.address %}
{% set facebook = options.facebook_link %}

<footer id="footer" class="site-footer">
	<div class="site-container relative">
		<div class="side-logo">{% include '/static/icons/ihs-logo.svg' %}</div>
	</div>
	<div class="site-footer__content site-container">
		<div class="site-footer__logo">
			<img src="{{ theme.link }}/static/images/sdc-logo-white.png" alt="Catholic Diocese of Salina Logo" />
		</div>
		<div class="site-footer__info">
			<p>103 North Ninth Street<br>
				Salina, KS 67401-2503
			</p>
			<p>
				<a class="op-phone" href="tel:{{ options.phone_number }}">{{ options.phone_number }}</a>
			</p>
			<p>
				<a href="{{ options.facebook_link }}" target="_blank" rel="nofollow">
					<span class="fab fa-facebook"></span>
					<span class="screen-reader-text">Facebook</span>
				</a>
				<a href="{{ options.twitter_link }}" class="ml-1" target="_blank" rel="nofollow">
					<span class="fab fa-twitter"></span>
					<span class="screen-reader-text">Twitter</span>
				</a>
				<a href="{{ options.youtube_link }}" class="ml-1" target="_blank" rel="nofollow">
					<span class="fab fa-youtube"></span>
					<span class="screen-reader-text">Youtube</span>
				</a>
				<a href="{{ options.instagram_link }}" class="ml-1" target="_blank" rel="nofollow">
					<span class="fab fa-instagram"></span>
					<span class="screen-reader-text">Instagram</span>
				</a>
			</p>
		</div>
		<div class="site-footer__newsletter">
			<p class="font-bold text-base">Sign up for the Bishop's Newsletter</p>
			<div>
				{# Blackbaud form for Bishop's Newsletter #}
				<div id="bbox-root-e828c1a5-f73d-4d50-b928-550cedc71e2d"></div>
				<script type="text/javascript">
					var bboxInit2 = bboxInit2 || [];

					bboxInit2.push(function () {
						bboxApi.showForm('e828c1a5-f73d-4d50-b928-550cedc71e2d');
					});

					(function () {
						var e = document.createElement('script'); e.async = true;
						e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-2.0-min.js';
						document.getElementsByTagName('head')[0].appendChild(e);
					} ());
				</script>
			</div>
		</div>
		<div class="site-footer__quick-links">
			<h6>Quick Links</h6>
			<nav>{{ function('sdc_render_footer_quick_links') }}</nav>
		</div>
	</div>

	<div class="site-footer__bottom site-container">
		<div>
			<p>Copyright &copy; {{ date_year }} Catholic Diocese of Salina</p>
		</div>
		<div>
			<nav>
				<ul>
					<li><a href="{{ options.tos_link }}">Terms of Service</a></li>
					<li><a href="{{ options.pp_link }}">Privacy Policy</a></li>
					<li><a href="{{ options.staff_login_link }}">Staff Login</a></li>
					<li><a href="{{ options.sitemap_link }}">Sitemap</a></li>
				</ul>
			</nav>
		</div>
		<div class="five-oh-two">
			<div>
				<a href="https://weare502.com" target="_blank" rel="nofollow">Made by <img src="{{ theme.link }}/static/icons/502-logo-hd.svg" alt="We Are 502"/></a>
			</div>
		</div>
	</div>
</footer>
