{% extends 'base.twig' %}

{# Navigation bars are imported above this block in base.twig #}

{% block specialheader %}
<header class="home-header">
	<div class="title-box">
		<h2>{{ post.header_line_one }}</h2>
		<h1 class="hero">{{ post.header_line_two }}</h1>
	</div>

	<div class="quick-links">
		<a class="quick-links__link-item" href="/parishes">
			<span class="icon"><img src="{{ theme.link }}/static/icons/parishes-icon.png" alt="" /></span>
			Find a Parish
			<span class="gold-bar"></span>
		</a>

		<a class="quick-links__link-item" href="/events">
			<span class="icon"><img src="{{ theme.link }}/static/icons/events-icon.png" alt="" /></span>
			Events
			<span class="gold-bar"></span>
		</a>

		<a class="quick-links__link-item" href="/publications">
			<span class="icon"><img src="{{ theme.link }}/static/icons/publications-icon.png" alt="" /></span>
			Publications
			<span class="gold-bar"></span>
		</a>
	</div>

	<section class="learn-more-box">
		<div class="learn-more-box__image-left" style="background-image: url('{{ TimberImage( post.lmb_bg_img ).src }}');"></div>
		<div class="learn-more-box__flex-content">
			<h2>{{ post.lmb_left_header }}</h2>
			<div class="link-list">
				<ul>
					{% for link in post.get_field('lmb_link_list') %}
						<li><a href="{{ link.lmb_link_url }}">{{ link.lmb_link_text }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>
</header>
{% endblock %}

{% block content %}
<section class="news-events">
	<h3 class="sideways-header">Stay Updated</h3>
	<div class="news-events__inner">

		<div class="news-updates">
			<h3>Diocese News &amp; Updates</h3>
			{% for news_item in recent_news if not news_item.pdf_upload %}
				<a class="news-item" href="{{ news_item.link }}">
					<h4 class="dark-text">{{ news_item.title }}</h4>
					<span class="primary-button--plain">Read More <span class="fas fa-chevron-right"></span></span>
				</a>
			{% endfor %}
			<a class="primary-button--plain spec-btn" href="/news-and-updates">View More <span class="fas fa-chevron-right"></span></a>
		</div>

		<div class="upcoming-events">
			<h3>Upcoming Events</h3>
			{% for ev in recent_events %}
				<a class="event-item" href="{{ ev.link }}">
					<h4 class="dark-text">{{ ev.title }}</h4>
					{% if ev.meta('location') %}
						<p><span class="fas fa-map-marker-alt"></span>
							{{ ev.meta('location') }}
						</p>
					{% endif %}

					{% if ev.meta('all_day') %}
						<p><span class="far fa-clock"></span> All Day</p>
					{% else %}
						<p><span class="far fa-clock"></span> {{ ev.event_time ? ev.meta('event_time')|upper : 'TBD' }}</p>
					{% endif %}
				</a> {# /.event-item #}
			{% endfor %}
			<a class="primary-button--plain spec-btn" href="/events">View More <span class="fas fa-chevron-right"></span></a>
		</div>

	</div> {# /.news-events__inner #}
</section>

<section class="register-and-faith">
	<div class="register-and-faith__inner">
		<img src="{{ TimberImage(post.register_and_faith_image).src }}" alt="{{ TimberImage(post.register_and_faith_image).alt }}" />
		<div class="text-content">
			<h2 class="h2-white">The Register &amp; faith</h2>
			<p>{{ post.description_text }}</p>
			<a class="primary-button--solid-white" href="/publications">View Our Publications</a>
		</div>
	</div>
</section>

<div class="psalm-content">
	<h2>{{ post.psalm }}</h2>
	<p>{{ post.psalm_chapter }}</p>
</div>

<section class="spotlight">
	<div class="spotlight-wrap">
		<div class="image-wrap">
			<img src="{{ TimberImage( post.spotlight_image ).src }}" alt="{{ TimberImage( post.spotlight_image ).alt }}" />
		</div>
		<div class="main-content">
			<div class="main-content__text">
				<h2>{{ post.spotlight_title }}</h2>
				<h4>{{ post.spotlight_category_name }}</h4>
				<p>{{ post.spotlight_description }}</p>
				<a class="primary-button--solid-blue" href="{{ post.spotlight_button_link }}">{{ post.spotlight_button_text }}</a>
			</div>
		</div>
	</div>
</section>


<section class="statistics" style="background-image: url('{{ TimberImage( options.full_page_background_image ).src }}');">
	<div class="statistics__container">
		<h2><span>One</span> Diocese</h2>
		<div class="statistic-wrapper">
			{% for stat in post.get_field('diocese_statistics') %}
				<div class="statistics__item">
					<h3>{{ stat.number }}</h3>
					<h4>{{ stat.statistic_name }}</h4>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}
