{# `type` variable from parent include #}
{# `start` variable from parent include #}

<style> html, body { overflow: visible; } </style>

	<div class="map-twig showing-{{ start ? start : 'list' }}"> <div class="map__search-wrapper" id="map-search">
		<div class="map__list-search">
			<div class="uppercase font-bold search-title">Search</div>
			<label class="search-label">
				<i class="search-icon">&nbsp;</i>
				<input id="search_list_input" class="mt-4" type="text" placeholder="Search {{ type }} Name"/>
			</label>
		</div>
		<div class="map__search-location">
			<div class="uppercase font-bold search-title">
				Find a {{ type }} near you
			</div>
			<div class="map__search-location-inputs mt-4">
				<div class="map__search-geocoder">
					<div id="geocoder" class="geocoder"></div>

					<label class="select" style="margin-left: 2.5rem;">
						<select name="Radius" id="radius" style="width: 5.5rem;">
							<option class="radius-option" value="5">5 Miles</option>
							<option class="radius-option" value="10">10 Miles</option>
							<option class="radius-option" value="15">15 Miles</option>
							<option class="radius-option" value="30">30 Miles</option>
						</select>
					</label>

					<button type="button" id="reset-button" class="primary-button--border">Reset</button>
				</div>
				
			</div>

		</div>
	</div>
	<div class="row map-wrapper" style="height:100%">
		<div class="col-sm-4 body-row map-results-list">
			<ul id='result_list' class="list-group list-group-flush far"></ul>
		</div>
		<div class="col-sm-8 body-row">
			<div id='map'></div>
			<div id='static-list'>
				{% for item in item_list %}
					<a href="{{ item.link }}" class="block list-group-item result_row">
						<div class="font-bold">{{ item.title }}</div>
						<div>{{ item.address }}</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="switcher">
		<button type="button" onclick="switchToMap()">Map</button>
		<button type="button" onclick="switchToList()">List</button>
	</div>
</div>
