{% block navigation %}
    <div class="nav-wrapper">
        <div class="nav-container">

            <a class="logo" href="/">
                <img src="{{ theme.link }}/static/images/sdc-logo.png" alt="Salina Diocese Logo"/>
            </a>

            <div class="mobile-nav-top">
                <a class="mobile-logo" href="/">
                    <img src="{{ theme.link }}/static/images/sdc-logo.png" alt="Salina Diocese Logo"/>
                </a>

                <div id="menu-toggle">
                    <span class="x-bar"></span>
                    <span class="x-bar"></span>
                    <span class="x-bar"></span>
                </div>
            </div>

            {# mini top nav #}
            <div class="dual-nav-wrap">
                <nav class="nav-menu" role="navigation" aria-label="Primary">
                    <div class="header-top">
                        {{ function('sdc_render_top_nav') }}

                        {% include 'searchform.twig' %}

                        {% if options.button_give.url %}
                            <a class="header-button"
                               href="{{ options.button_give.url }}">{{ options.button_give.title }}</a>
                        {% endif %}
                    </div>
                    {{ function('sdc_render_primary_menu') }}
                </nav>
            </div>

        </div>
    </div>
{% endblock %}
