{% extends 'base.twig' %}

{% block content %}
<div class="breadcrumbs">{{ fn('do_shortcode', '[rank_math_breadcrumb]') }}</div>
<div class="main-post-wrapper">
	<section class="content-container">
		{{ post.content }}
	</section>
</div>
{% endblock %}