<form role="search" method="get" id="searchform"
      class="searchform" action="{{ site.url }}">
    <div>
         <input type="text"
                value="{{ function('get_search_query') }}"
                name="s" id="s" placeholder="Search" />
         <button type="submit" id="searchsubmit">
             <i class="fas fa-search"></i></button>
    </div>
</form>
