{# desktop search feature #}
<div>
<button id="mobile-search-expand">Search &amp; Filter</button>
<aside class="search-module">
    {% if fn('is_page', 149) or fn('is_page', 152) %}
        {{ '[facetwp facet="global_search_module"]'|shortcodes }}
        <h5>Archive:</h5>
        <div class="js-facet">
            {{ '[facetwp facet="publications_year_search_module"]'|shortcodes }}
            <button class="link js-more">View more</button>
        </div>
    {% endif %}

    {# Events Archive - post-type-archive-event && News/Updates - post-type-archive-news #}
    {% if fn('is_post_type_archive', 'event') or fn('is_post_type_archive', 'news') %}
        {{ '[facetwp facet="global_search_module"]'|shortcodes }}
        <div class="line-break"></div>
        {{ '[facetwp facet="global_school_filter"]'|shortcodes }} {# All School Taxonomies #}
        {{ '[facetwp facet="global_parish_filter"]'|shortcodes }} {# All Parish Taxonomies #}
        {{ '[facetwp facet="global_office_filter"]'|shortcodes }} {# All Office Taxonomies #}
    {% endif %}

    {# only news archive posts get this filter #}
    {% if fn('is_post_type_archive', 'news') %}
        {{ '[facetwp facet="global_news_filter"]'|shortcodes }}  {# All News "Categories" Taxonomies #}
    {% endif %}

    {# Directory Archive #}
    {% if fn('is_page', 212) %}
        {{ '[facetwp facet="global_search_module"]'|shortcodes }}
        {{ '[facetwp facet="directory_location_search"]'|shortcodes }}
        <a class="primary-button--light-solid-blue" target="_blank" rel="noreferrer nofollow"
           href="{{ options.directory_download_sheet }}">Download All Contacts</a>
    {% endif %}
</aside>
{% if fn('is_post_type_archive', 'event') %}

    <div class="list-buttons">
        <button class="button js-event js-button-calendar active"><i class="fas fa-calendar-alt"></i></button>
        <button class="button js-event js-button-list"><i class="fas fa-list"></i></button>
    </div>
{% endif %}
</div>
