{% extends 'base.twig' %}

{% block content %}

    <section class="section-search-results">
        <h1>Search Results</h1>
        <div class="mt-1">
            <p class="subtitle">You searched for: <strong>{{ search_title }}</strong></p>
            <p class="subtitle">Results found: <strong>{{ search_count }}</strong></p>
            <hr class="line"/>
        </div>

        <div class="section-search-results__container">

            {% for post in posts %}
                <div class="item">
                    <h3 class="title"> {{ post.title }} </h3>
                    <div class="excerpt">{{ post.preview.length(25) }}<a href="{{ post.link }}">Read more</a></div>
                </div>
            {% endfor %}
        </div>
    </section>


{% endblock %}
