{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <div class="article-body">
            {{ post.content }}
        </div>
    </div><!-- /content-wrapper -->
{% endblock %}
