{% extends 'base.twig' %}

{% set years = [] %}

{% block content %}
    <div class="breadcrumbs">{{ fn('do_shortcode', '[rank_math_breadcrumb]') }}</div>
    <div class="main-post-wrapper">
        <section class="archive-container">

            {% include 'search-module.twig' %}

            <div class="results-wrapper facetwp-template">
                {% for pub in register_publications %}

                {% set year = pub.terms('pub-year') %}
                {% if year not in years %}
                    {% for term in pub.terms('pub-year') %}
                        <h3 class="year-divider mt-3"
                            style="width: 100%; margin-bottom: 1rem; font-weight: bold;">{{ term.name }}</h3>
                    {% endfor %}
                {% endif %}
                {% set years = years|merge([year]) %}

                {% if pub.pdf_or_website %}
                <a class="publication-container dfe" href="{{ pub.get_field('publication_pdf').url }}" target="_blank"
                   rel="noreferrer">
                    {% else %}
                    <a class="publication-container dfe" href="{{ pub.get_field('publication_url') }}" target="_blank"
                       rel="noreferrer">
                        {% endif %}

                        <img class="the-register-img" src="{{ TimberImage( pub.thumbnail ).src }}"
                             alt="{{ TimberImage( pub.thumbnail ).alt }}"/>
                        <span class="faith-content">
						<h4>{{ pub.title }}</h4>
						<ul>
							{% for highlight in pub.get_field('publication_highlights') %}
                                <li>{{ highlight.highlight }}</li>
                            {% endfor %}
						</ul>
						<button class="primary-button--plain">Read <span class="fas fa-chevron-right"></span></button>
					</span>
                    </a>
                    {% endfor %}

            </div> {# /.results-wrapper #}
        </section>
        {{ fn('do_shortcode', '[facetwp facet="global_pager_facet"]') }}
    </div>
{% endblock %}
