.alert-banner {
	display: none;
	position: relative;
	width: 100%;
	padding: 0.75rem 1rem;
	background-color: $light-blue;
	z-index: 5;

	&.alert-banner-visible { display: block; }

	&__container {
		position: relative;
		width: 75rem;
		max-width: 100%;
		margin: 0 auto;
	}

	span, a {
		display: inline-block;
		color: $white;
	}

	span:not(#close-alert) {
		font-weight: bold;
		margin-right: 2.5rem;
		line-height: 1.5;
		@include bp(xs) { font-size: 1rem; }
	}

	a, #close-alert { &:hover { cursor: pointer; } }

	a {
		margin-top: 0.5rem;
		margin-right: 2rem; // keep off right close button
		text-decoration: underline;
		font-size: 0.875rem;
		font-weight: 300; // brother-1816 book
	}

	#close-alert {
		background: unset;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 0.4rem;
		border: 1px solid $white;
		border-radius: 50%;
		color: $white;

		> span {
			margin-right: 0;
			height: 1.45rem;
		}
	}
}
