.news-archive {

  &__featured {
    max-width: 77rem;
    margin: 0 auto;
    padding: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid #B6BDC5;
    padding-bottom: 2rem;

    @include mq($tablet) {
      display: flex;
    }

    img, .image {
      border-radius: 5px;
      object-fit: cover;
    }
  }

  &__featured-xl {
    @include mq($tablet) {
      width: calc(53% - 3rem);
    }

    &--title {
      font-size: 44px;
      font-family: $font-head;
      margin-bottom: 2rem;
      color: $blue;
      @include mq($tablet) {
        margin-bottom: 0;
      }
    }

    .image {
      max-height: 383px;
      width: 100%;

      @media screen and (max-width: 1024px) {
        max-height: 300px;
      }

      @media screen and (max-width: 767px) {
        object-fit: contain;
        max-height: 350px;
      }

      @media screen and (max-width: 500px) {
        max-height: 250px;
      }
    }
  }

  &__featured-side {
    @include mq($tablet) {
      width: calc(50% - 3rem);
    }

    &-article {
      display: flex;
      align-items: flex-start;
      color: $light-black;

      + * {
        margin-top: 2rem;
        border-top: 1px solid #B6BDC5;
        padding-top: 2rem;
      }

      .image {
        width: 100%;
        max-width: 150px;
        border-radius: 5px;
        margin-right: 1rem;
        object-fit: cover;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;

        .top {
          flex: 1 0 auto;
        }

        .heading {
          font-size: 25px;
          font-family: $font-head;
          color: $blue;
          font-weight: bold;
          margin-bottom: .5rem;
          line-height: 1.1;
        }

        a {
          font-weight: normal;
        }
      }
    }
  }

  .desktop-search-module {
    padding-top: 4rem;
  }

  .results-wrapper__news {
    padding-top: 4rem;
    font-family: $font-body;
    padding-bottom: 2rem;

  }

  &__single {
    @include mq($tablet) {
      display: flex;
      align-items: flex-start;
    }

    + * {
      padding-top: 4rem;
    }

    .heading {
      font-size: 25px;
      font-family: $font-head;
      color: $blue;
      font-weight: bold;
      margin-bottom: .5rem;
      line-height: 1.1;
    }

    .image {
      flex: 1 0 auto;
      width: 100%;
      margin-right: 2rem;
      margin-bottom: 1rem;
      object-fit: cover;

      @include mq($tablet) {
        max-width: 18rem;
        height: 12rem;
      }
    }

    .preview {
      font-size: 14px;
    }
  }

  .archive-container {
    flex-wrap: wrap;
  }

  .pagination {
    border-top: 1px solid $blue;
    padding-top: 2rem;
    width: 100%;
    flex: 1 0 auto;
  }
}

.related-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.75rem;
  @include bp(sm) {
    margin-bottom: 3rem;
  }

  article {
    width: calc(50% - 1rem);
    min-width: 300px;
  }

  .image {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin-right: 1rem;
    object-fit: cover;
  }
}

.post-type-archive-news {
  .header-wrapper {
    max-width: 77rem;
  }
}
