.post-type-archive-event {
	// Needed for position sticky on this page.
	// Might not be compatible with the entire site!
	overflow: visible;

	.header-wrapper {
		max-width: 75rem;
		margin-bottom: 3rem;
	}
}

.archive-events {
	font-family: $font-body;

	&__featured {
		padding-bottom: 2.5rem;
		border-bottom: 1px solid #B6BDC5;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;


		.image {
			object-fit: cover;
			height: 12rem;
			@include mq($tablet){
				max-width: 18rem;
			}
		}

		&-single {
			margin-top: 1rem;
			max-width: 100%;

			@include mq($iphonex){
				max-width: calc(50% - 1.5rem);
			}
			@include mq($tablet){
				max-width: calc(25% - 1.5rem);
			}

			[class^="fa"] {
				margin-right: .5rem;
			}

			.info {
				font-size: 14px;

				> * + * {
					margin-top: .5rem;
				}
			}
		}

		&-single-title {
			font-size: 16px;
			font-weight: bold;
			margin-top: 1.5rem;
		}
	}

	&__single {
		background: rgba($off-white, .5);
		padding: .5rem;
		margin-bottom: 1.5rem;
		justify-content: space-between;
		display: flex;
		flex-direction: column;

		@include mq($tablet){
			flex-direction: row;
		}

		.info {
			padding: 1.5rem;
			font-size: 14px;
		}

		.image {
			max-width: 18rem;
			// height: 12rem;
			max-height: 11rem;
			object-fit: cover;
			// align-self: center;
		}
	}

	.image {
		width: 100%;
		border-radius: 5px;
	}

	.archive-container {
		display: block;
    padding: 0;
    margin-left: 0;
    max-width: 100%;
		@include mq($tablet){
			display: flex;
		}
	}

	.desktop-search-module {
		background: $white;
		padding-top: 3rem;
		// Needs `overflow: visible;` up the entire DOM.
		position: sticky;
		top: 0;
		@include mq($tablet){
			top: 2rem;
		}

		.admin-bar & {
			// More space if the user is logged in.
			@include mq($tablet){
				top: 5rem;
			}
		}
	}

  .search-module {
    margin-bottom: 13px;
  }

  .list-buttons {

    .button {
      min-width: 70px;
      line-height: 34px;
      background: $white;
      color: $blue;
      border-radius: 0 5px 5px 0;
      border: 1px solid $blue;
      outline: none;

      &:first-child {
        border-radius: 5px 0 0 5px;
        margin-right: -5px;
      }

      &.active {
        background: $blue;
        color: $white;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .results-wrapper {
    padding-top: 0;
    display: none;
  }

  .css-wrapper-calendar {
    width: 100%;
    overflow: hidden;
    margin-top: 2.4rem;
  }

  .inner {
    width: 100%;
  }

  .fc-h-event {
    background-color: $blue;
    border: none;
    border-radius: 4px;
    padding: 5px 7px;
    line-height: 1;
  }
  .fc-daygrid-event {
    font-size: 10px;
    white-space: normal;
    font-weight: 700;
    font-family: $font-body;
  }

  .fc .fc-daygrid-day.fc-day-today {
    background-color: $off-white;
  }

  .fc .fc-daygrid-day-number {
    color: $light-black;
    font-size: 14px;
    line-height: 1.643;
    font-weight: 400;
    font-family: $font-body;
  }

  .fc-theme-standard th {
    border-top: none;
    border-color: $steel-grey;
  }

  .fc .fc-col-header-cell-cushion {
    color: $light-black;
    font-size: 14px;
    line-height: 1.643;
    font-weight: 700;
  }

  .fc-toolbar-chunk {
    display: flex;
  }

  .fc button.fc-button.fc-button-primary {
    background: transparent;
    color: $grey-100;
    border: none;
    padding: 0;
    outline: none;

    &:hover {
      background: transparent;
      opacity: 0.8;
      color: $grey-100;
      box-shadow: none;
      outline: none;
      border: none;
    }

    &:focus, &:active {
      box-shadow: none;
      outline: none;
      background-color: transparent;
      border: none;
      color: $grey-100;
    }

  }

  .fc-theme-standard .fc-scrollgrid {
    border: none;
  }

  .fc-theme-standard td {
    border-color: $steel-grey;
    border-right: none;
    border-bottom: none;
  }

  .fc-daygrid-dot-event .fc-event-title {
    color: $light-black;
    font-weight: 700;
    font-size: 11px;
    font-family: $font-body;
    padding: 0 13px 12px;
  }

  .fc-direction-ltr .fc-daygrid-event .fc-event-time {
    color: $light-black;
    font-weight: 400;
    font-size: 8px;
    font-family: $font-body;
    padding: 0 13px;
  }

  .fc-daygrid-event-dot{
    display: none;
  }

  .fc-daygrid-event.fc-daygrid-dot-event {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
  .fc .fc-scrollgrid-section-header.fc-scrollgrid-section-sticky>* {
    border-top: none;
  }
}
