// for all archives
.archive-container {
  display: flex;
  max-width: 64.5rem;
  margin: 0 auto 5rem;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;

  @include bp(650px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  h5 {
    font-family: $font-body;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 2rem 0;
  }

  /* Child items section in [_single-globals.scss] - not used on archive posts */
}
// global results listing
.results-wrapper {
  max-width: 43rem;
  width: 100%;
  padding: 1rem 0;


  // for tables
  .wp-block-table {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }

  // reset table styles for small tablets+
  @include mq($from: 481px) {
    .wp-block-table {
      margin: 0 auto;
      table { width: 100%; }
    }
  }
} // end .results wrapper

.letter-divider {
  width: 100%;
  border-bottom: 1px solid $blue;
  color: $blue;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600; // semibold
  @include bp(sm) { font-size: 1.5625rem; } // 25px max
}

// result listing styles for directory employees
.results-wrapper__employee {
  display: flex;
  font-family: $font-body;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include bp(600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; // top
  }

  .emp-listing {
    display: flex;
    max-width: 17.75rem;
    margin-bottom: 2.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @include bp(600px) { align-items: flex-start; }
  }

  img {
    max-width: 6.375rem;
    border-radius: unset;
    margin-right: 1rem;
  }

  .emp-text-content {
    max-width: 10.5rem;
    width: 100%;

    h4, > span {
      font-family: $font-body;
      font-size: 1rem;
      color: $light-black;
      margin-bottom: 0.25rem;
    }

    // employee title (not name title) - first span targeted to not affect chevron span
    > span {
      display: block;
      font-size: 0.875rem;
    }
  }
}
