.menu-grid-wrapper {
	max-width: 64.5rem;
	width: 100%;
	margin: 5rem auto;
	padding: 0 1rem;

	// simulate link for dropdown
	h4 {
		font-family: $font-head;
		border-bottom: 1px solid $blue;
		color: $blue;
		font-size: 1rem;

		@include bp(sm) {
			font-size: 1.125rem;
		}

		&:hover { cursor: pointer; }
	}

	.menu-grid {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 2.5rem;
		width: 100%;

		.menu-grid__column {
			flex: 0 0 100%;
			margin: 0;

			@include bp(xs) {
				flex: 0 0 40%;
				margin: 1rem;
			}

			@include bp(sm) {
				flex: 0 0 30.25%;
				margin: 0 1.5%;
			}
		}

		&__grid-item {}
	}

	.office-child-link {
		position: relative;
		display: block;
		margin-left: 1.85rem;
		margin-bottom: 0.25rem;
		color: $blue;

		&:hover { cursor: pointer; color: $gold; text-decoration: underline $gold; }

		// gold line
		&:before {
			display: inline-block;
			position: absolute;
			content: '';
			top: 0.6rem;
			left: -1.05rem;
			width: 0.65rem;
			height: 1px;
			margin-right: 0.5rem;
			background-color: $gold;
		}
	}
}
