.background-underlay, .background-underlay-home {
	position: absolute;
	top: 0;
	height: 60vh;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.4;
	z-index: -1;
	@include bp(xs) { background-position: initial; }
	@include bp(sm) { opacity: 1; }

	.blur {
		position: absolute;
		padding: 10rem 1rem;
		width: 100%;
	}

	.top-change, .blur-top {
		background-image: linear-gradient($white, transparent);
	}

	.bottom {
		bottom: 0;
		background-image: linear-gradient(transparent, $white);
	}
}

// change underlay height to full page on home only
.background-underlay-home {
	height: 100vh;
	background-position: center;
}