.primary-button {
	display: inline-block;
	padding: 0.5rem 0.75rem 0.6rem;
	font-family: $font-body;
	font-weight: normal;
	font-size: 1rem;
	text-align: center;
	line-height: 1; // reduce extra space amount

	&--solid-white, &--solid-blue, &--light-solid-blue,
	&--border, &--border-white, &--plain{ @extend .primary-button; }

	// solid white
	&--solid-white {
		padding: 0.8rem 0.6rem 0.9rem;
		font-weight: bold;
		border-radius: 5px;
		background-color: $white;
		color: $blue;
		@include bp(sm) { padding: 1rem 0.75rem 1.1rem; }

		&:hover {
			background-color: $light-blue;
			color: $white;
		}
	}

	// solid blue
	&--solid-blue {
		padding: 0.8rem 0.6rem 0.9rem;
		font-weight: bold;
		border-radius: 5px;
		background-color: $blue;
		color: $white;
		@include bp(sm) { padding: 1rem 0.75rem 1.1rem; }
		&:hover { background-color: $light-blue; }
	}

	// directory download and other archive button styles
	&--light-solid-blue {
		font-weight: normal;
		border-radius: 5px;
		background-color: $blue;
		color: $white;
		width: 100%; // always in <aside> container
		@include bp(sm) { padding: 0.7rem 0.5rem 0.8rem; }
		&:hover { background-color: $light-blue; }
	}

	// blue ghost-style button
	&--border {
		background-color: transparent;
		color: $blue;
		border: 1px solid $blue;
		border-radius: 5px;
		font-weight: bold;
		transition: 0.1s ease-in;

		&:hover {
			background-color: $blue;
			color: $white;
			transition: 0.1s ease-out;
		}
	}

	// white ghost-style button
	&--border-white {
		background-color: transparent;
		color: $white;
		border: 1px solid $white;
		border-radius: 5px;
		font-weight: bold;
		transition: 0.1s ease-in;

		&:hover {
			background-color: $white;
			color: $blue;
			transition: 0.1s ease-out;
		}
	}

	// plain text link
	&--plain, &--plain-back {
		color: $blue;
		padding: 0.25rem 0;
		font-size: 0.875rem;
		border-bottom: 1px solid transparent;

		&:hover {
			color: $gold;
			border-bottom: 1px solid $gold;
		}

		.fa-chevron-right {
			font-size: 0.65rem;
			color: $gold;
			padding-left: 0.25rem;
		}

		.fa-chevron-left {
			font-size: 0.65rem;
			color: $gold;
			padding-right: 0.25rem;
		}
	}
}