.site-footer {
	color: $white;
	font-family: $font-body;
	position: relative;
	z-index: 1;
	background-color: $blue;
	background-image: url('./static/images/lattice-pattern-large.png');
	background-size: cover;
	background-repeat: repeat;
	background-blend-mode: multiply;

	// contextual edits to link hovers
	.fab:hover { color: $gold; }
	.op-phone:hover { text-decoration: underline $white; }
	a { color: $white; }
	p { color: $white; }

	.side-logo {
		position: absolute;
		top: -50%;
		right: 0;
		z-index: 9999;
	}








	&__content {
		display: grid;
		align-items: stretch;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 1.5rem;

		@include mq($tablet){
			gap: 0;
			grid-template-columns: 1fr 1fr 2fr 1fr;
			grid-template-rows: 1fr;
		}

		> * + * {
			@include mq($tablet){
				border-left: 2px solid $light-blue;
				padding-left: 2rem;
				margin-left: 1rem;
			}
		}
	}

	&__logo {
		grid-column: 1;
		grid-row: 1;

		img {
			width: 9.125rem; // 114px
			@include bp($tablet) { width: 12.5rem; }
		}
	}

	&__info {
		grid-column: 1;
		grid-row: 2;

		@include mq($tablet){
			grid-column: auto;
			grid-row: auto;
		}

		[class^="fa"] {
			font-size: 24px;
		}
	}

	&__newsletter {
		grid-column: 2;
		grid-row: 1 / 3;
		margin-top: 1.5rem;

		@include mq($tablet){
			grid-column: auto;
			grid-row: auto;
			margin-top: initial;
		}
	}

	&__quick-links {
		display: none;
		@include mq($tablet){
			display: block;
		}

		h6 {
			font-family: $font-body;
			color: $white;
			font-weight: bold;
			font-size: 14px;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			a:hover { text-decoration: underline $white; }
		}
	}

	&__bottom {
		border-top: 1px solid $gold;
		display: flex;
		font-size: 11px;
		justify-content: space-between;
		flex-direction: column;

		@include mq($tablet){
			flex-direction: row;
		}

		p, a, div {
			font-size: 11px;
		}

		nav ul {
			font-size: 11px;
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			list-style: none;

			li + li {
				margin-left: 2rem;
			}
		}

		a:hover { text-decoration: underline $white; }

		.five-oh-two {
			margin-top: 1rem;

			@include mq($tablet){
				margin-top: 0;
			}
		}
	}

	/** Blackbaud Form Integration **/
	// Bishops's Newsletter (Mongo Form - Targeted styles)
	#mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d {
		margin-top: -2.5em;

		// blackbaud custom heading and sub heading
		legend, .BBFormSubSectionHeading { display: none; }

		// remove out padding
		.BBFormContainer {
			padding: 0;
		}

		// no margin on top or bottom of main form area
		.BBFormSection {
			width: 26.375rem;
			max-width: 100%;
			margin: 0;

			// reset all fields to our style
			.BBFormFieldContainer {
				display: inline-block;
				margin: unset;
				margin-right: 0.5rem;
				max-width: 8.25rem;
				font-family: $font-body;
				font-size: 0.875rem;

				input {
					display: inline-block;
					max-width: 8.25rem;
					font-family: $font-body;
					font-size: 0.875rem;
					background: unset;
					border: unset;
					border-radius: unset;
					border-bottom: 1px solid $gold;
					padding: 0.25rem 0;
				}

				::placeholder {
					text-transform: capitalize;
					font-size: 0.875rem;
					color: $white;
				}
			}
		}

		// submit button
		.BBFormButtonRow {
			margin-top: 0;
			margin-right: 0.25rem;
			text-align: right;

			.BBFormSubmitbutton {
				display: inline-block;
				padding: 0.5rem 0.75rem 0.6rem;
				margin: 1.375em 0 1rem;
				font-family: $font-body;
				font-size: 1rem;
				text-align: center;
				line-height: 1; // reduce extra space amount
				background-color: transparent;
				color: $white;
				border: 1px solid $white;
				border-radius: 5px;
				font-weight: bold;
				transition: 0.1s ease-in;
				box-shadow: unset;
				@include bp(sm) { padding: 0.75rem 1.8rem 0.9rem; }

				&:hover {
					background-color: $white;
					color: $blue;
					transition: 0.1s ease-out;
				}
			}
		}

		// set cursor color and remove highlight on box when focused (opted for accessbility built in to form controls already)
		// affects textbox and textarea elements
		.BBFormContainer[data-bbox-part-id="e828c1a5-f73d-4d50-b928-550cedc71e2d"] .BBFormTextbox:focus,
		.BBFormContainer[data-bbox-part-id="e828c1a5-f73d-4d50-b928-550cedc71e2d"] .BBFormTextArea:focus {
			box-shadow: none;
			color: $white;
		}
	}
}

.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d {
	margin-top: 0;
}

body .ps-header-block .post-cropped-image {
	min-height: 20rem;
	width: 35%;
}

body div.ps-header-block__text {
	max-width: 65%;
	padding-right: 5%;
}

body .ps-header-block {
	padding: 0 1rem;
}

.search-module select {
	color: #0a396b66;
	outline: none;
}

.search-module .active select {
	color: #0A396B;
}

.facetwp-facet input.facetwp-search::placeholder {
	color: #0a396b66;
}
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormSignupFieldTall,
.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormFieldContainer input {
	color: #fff;
	opacity: 1;
}

@media screen and (max-width: 992px) {
	
	.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection {
		width: auto;
	}
	
	.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormSignupFieldTall,
	.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormSection .BBFormFieldContainer input {
		width: 100%;
		max-width: 100%;
		opacity: 1;
		color: #fff;
	}
	
	.site-footer #mongo-form-e828c1a5-f73d-4d50-b928-550cedc71e2d .BBFormFieldContainer:not(.BBFormSignupFieldTall) {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.link-row {
		flex-flow: wrap;
	}
	
	.link-row__link {
		max-width: 50%;
		width: 33%;
		text-align: center;
		margin: 20px 0;
	}
	
	body .ps-header-block .post-cropped-image {
		min-height: 20rem;
		width: 100%;
		max-width: 100%;
		margin: 30px 0 0;
	}
	
	body div.ps-header-block__text {
		max-width: 100%;
		padding-right: 0;
	}
}

@media screen and (max-width: 550px) {
	.link-row__link {
		width: 50%;
	}
	
	body .ps-header-block .post-cropped-image {
		min-height: 15rem;
	}
}

#result_list .result_row a {
	display: none;
}

@media (max-width: 48em) {
	.map-twig.showing-map #static-list {
		display: none;
	}
	
	.map-twig.showing-list #static-list {
		display: none;
	}
	
	.map-twig.showing-list .map-wrapper .body-row {
		display: block;
	}
	
	.map-twig.showing-list .map-wrapper .map-results-list {
		padding: 1rem 1rem 6rem;
	}
	
	#result_list .result_row a {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
	}
	#result_list .result_row {
		border: 1px solid rgba(0,0,0,.125);
	}
	#result_list .list-group-item+.list-group-item {
		border-top-width: 0;
	}
}

.page-template-template-about .statistics {
	margin-top: 0;
	padding-top: 2rem;
}

div#eckb-article-page-container-v2 #eckb-article-body #eckb-article-content #eckb-article-content-header,
.single-epkb_post_type_1 #eckb-article-right-sidebar,
#eckb-article-page-container-v2 #eckb-article-body #eckb-article-content #eckb-article-content-footer .epkb-article-navigation-container {
	display: none;
}

.single-epkb_post_type_1 #eckb-article-page-container-v2 #eckb-article-content {
	grid-column-end: 5;
	padding: 5rem 2rem;
	background-color: transparent;
}

@media only screen and (max-width: 768px) {
	.single-epkb_post_type_1 #eckb-article-page-container-v2 #eckb-article-content {
		padding: 3rem 1rem;
	}
}
