// reused on single-parish.twig and single-school.twig
.news-events {
	position: relative;
	max-width: 100%;
	margin: -9rem auto 0;
	padding: 11rem 0 8rem;
	background-color: $off-white;
	@include bp(860px) { padding: 11rem 0; }

	.sideways-header { display: none; }

	@include mq($from: $desktop) {
		.sideways-header {
			display: block;
			position: absolute;
			top: 17.5rem;
			transform: rotate(90deg);
			text-transform: uppercase;
			letter-spacing: 4px;
			font-family: $font-body;
			color: $pale-blue;
			opacity: 0.3;
		}
	}

	&__inner {
		display: flex;
		max-width: 62.5rem;
		padding: 0 1rem;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(sm) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

		// news section (left)
		.news-updates {
			max-width: 25rem;
			width: 100%;
			margin-bottom: 2.5rem;

			@include bp(sm) {
				width: 25.5rem;
				max-width: 100%;
				margin-right: 1.5rem;
				margin-bottom: 0;
			}
		}

		.news-item, .event-item {
			display: block;
			padding-top: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid $pale-blue;

			&:hover {
				span.primary-button--plain { border-bottom: 1px solid $gold; color: $gold; }
			}
		}

		// underline event headers only
		.event-item { &:hover { h4 { text-decoration: underline } } }

		// events section (right)
		.upcoming-events {
			max-width: 25rem;
			width: 100%;

			@include bp(sm) {
				width: 30.375rem;
				max-width: 100%;
			}

			.fa-clock, .fa-map-marker-alt {
				display: inline-block;
				margin-right: 0.35rem;
				color: $gold;
			}

			.fa-map-marker-alt {
				padding-left: 2px;
			}

			p {
				margin-bottom: 0.5rem;
			}
		}
	}

	// large view more button at the bottom of each section
	.spec-btn {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 4px;
		margin-top: 1.5rem;
		&:hover { border-bottom: 1px solid $gold; }
	}
}

.register-and-faith {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	background-image: url('./static/images/lattice-pattern-small.png');
	background-color: $blue;
	background-repeat: repeat;
	background-size:contain;
	background-blend-mode: multiply;
	padding: 0 1rem;
	z-index: 6;

	&__inner {
		display: flex;
		max-width: 75rem;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(860px) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	img {
		display: block;
		max-width: 100%;
		margin: -3rem auto 0.5rem;

		@include bp(860px) {
			max-width: 39rem;
			min-width: 25rem; // for flex-shrink control
			margin: -3rem 2rem -5rem 0;
		}
	}

	.text-content {
		max-width: 30.5rem;
		width: 100%;
		padding: 1.5rem 0;
		@include bp(md) { padding: 0; }

		p { color: $white; }
	}
}

.psalm-content {
	margin: 3.25rem auto;
	padding: 0 1rem;
	@include bp(860px) { margin: 10rem auto 5rem; }

	h2, p {
		color: $blue;
		text-align: center;
	}

	h2 {
		max-width: 100%;
		margin: 0 auto;
		font-style: italic;
	}

	p {
		margin-top: 1.5rem;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-weight: bold;
	}
}

.spotlight {
	max-width: 64.5rem;
	margin: 3.25rem auto;

	.spotlight-wrap {
		display: flex;
		max-width: 100%;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;

		@include bp(972px) {
			flex-direction: row;
			justify-content: center;
		}

		.image-wrap {
			padding: 0 1rem;
			z-index: 6;
			@include bp(972px) { padding: unset; }
		}

		img {
			border-radius: 5px;
			margin-bottom: -2rem;
			box-shadow: 0 2px 4px 0 rgba($black, 0.5);

			@include bp(972px) {
				padding: unset;
				max-width: 32.625rem;
				margin-right: -10rem;
				margin-bottom: 0;
			}
		}
	}

	.main-content {
		background-color: $off-white;
		padding: 3.5rem 2rem 2.5rem;
		max-width: 32.625rem;
		width: 100%;

		@include bp(972px) {
			max-width: 41.5rem;
			width: 100%;
			padding: 7.5rem 1rem;
		}

		&__text {
			max-width: 26.625rem;
			width: 100%;

			@include bp(972px) {
				margin-right: 0;
				margin-left: auto;
			}
		}
	}
}

// number statistics
.statistics {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1.5rem 0;
	position: relative;
	max-width: 100%;
	margin: 3.5rem auto;

	@include bp(sm) {
		padding: 5rem 0;
		margin: 5rem auto;
	}

	&::before,
	&::after {
		content: '';
		height: 50%;
		position: absolute;
		left: 0;
		width: 100%;
	}

	&::before {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .35) 100%);
		top: 0;
	}

	&::after {
		background: linear-gradient(to bottom, rgba(255, 255, 255, .35) 0%, rgba(255, 255, 255, 1) 100%);
		bottom: 0;
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	h2 {
		text-align: center;

		&:after {
			display: block;
			margin: 0 auto;
			content: '';
			width: 4.5rem;
			height: 1px;
			background-color: $gold;
		}

		span {
			font-family: $font-head;
			font-size: 1.85rem;
			font-weight: 600; // semibold
			font-style: italic;
			color: $blue;
			@include bp(xs) { font-size: 2.25rem; }
			@include bp(sm) { font-size: 2.75rem; } // 44px max
			&:after { all: unset; } // remove gold bar from this item
		}
	}

	.statistic-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 2.5rem auto 0;
		max-width: 64.5rem;
		width: 100%;
	}

	&__item {
		border-right: 1px solid #dedfe0;
		border-top: 1px solid #dedfe0;
		flex: 0 0 25%;
		padding: 3rem 3rem 0;
		text-align: center;

		@media only screen and (max-width: 1015px) {
			padding: 2rem;
		}

		@media only screen and (max-width: 890px) {
			border-right: none;
			border-top: none;
			flex: 0 0 100%;
			padding: 2rem;
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			border-top: none;
			padding-bottom: 3rem;
			padding-top: 0;

			@media only screen and (max-width: 890px) {
				flex: 0 0 100%;
				padding: 2rem;
			}
		}


		&:nth-child(4),
		&:nth-child(8),
		&:nth-child(12) { border-right: none; }

		h4 {
			font-size: .85em;
			letter-spacing: .4em;
			text-transform: uppercase;
		}
	}
}


.statistic-wrapper .statistics__item {
	border-right: 1px solid #dedfe0;
	border-top: 1px solid #dedfe0;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	padding: 3rem 3rem 0;
	text-align: center;

  @media screen and (max-width: 890px) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    border-top: none;
  }
}

.statistic-wrapper .statistics__item:first-child,
.statistic-wrapper .statistics__item:nth-child(2),
.statistic-wrapper .statistics__item:nth-child(3),
.statistic-wrapper .statistics__item:nth-child(4) {
	border-top: none;
}

.statistic-wrapper .statistics__item:nth-child(4),
.statistic-wrapper .statistics__item:nth-child(8),
.statistic-wrapper .statistics__item:last-child {
  border-right: none;
}

@media only screen and (max-width: 890px) {
  .statistic-wrapper .statistics__item {
		border-right: none;
		border-top: none;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		padding: 2rem;
	}
}

@media only screen and (max-width: 890px) {
	.statistics__item:nth-child(1), .statistics__item:nth-child(2), .statistics__item:nth-child(3) {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		padding: 2rem;
	}
}

.statistics__item:nth-child(4), .statistics__item:nth-child(8), .statistics__item:nth-child(12) {
	border-right: none;
}
