// global desktop and mobile search modules
.search-module {
  display: block;
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  margin: 0 auto 3rem;
  background-color: $white;
  border: 1px solid $off-white;
  border-top: unset;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .primary-button--light-solid-blue {
    max-width: 14rem;
  }

  @include bp(650px) {
    margin-right: 2rem;
    background: unset;
    border: unset;
    max-width: 20rem;
  }
}

#mobile-search-expand {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0 auto 2rem;
  background: unset;
  background-color: $white;
  border: 1px solid $off-white;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  color: $blue;
  font-size: 0.875rem;

  &:hover {
    cursor: pointer;
  }

  @include bp(650px) {
    display: none;
  }
}

// #mobile-search-expand adjustments when opened
.color-fill {
  padding-bottom: 1rem;
  margin: 0 auto !important;
  background-color: $white !important;
  color: $blue !important;
  border-bottom: unset !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

// hide all facet result counts
.facetwp-counter {
  display: none !important;
}

// unset bottom margin from all facets - will control their own spacing (Global module used on these pages)
.facetwp-facet {
  margin-bottom: 0 !important;
  @media screen and (max-width: 650px) {
    height: auto !important;
  }
}


// change margin for checkbox items
.page-template-archive-directory {
  .facetwp-input-wrap {
    margin-bottom: 0.85rem;
  }
}

// no top margin on this page and extra top margin on mobile
.post-type-archive-event {
  .search-module {
    margin-top: 0;
    @include bp(650px) {
      margin-top: 1.75rem;
    }
  }

  #mobile-search-expand {
    margin-top: 2rem !important;
  }
}

.post-type-archive-news {
  .search-module {
    margin-top: 0;

    @include bp(650px) {
      margin-top: 3rem;
      margin-left: 0;
      max-width: 20rem;
      width: unset;
    }
  }

  #mobile-search-expand {
    margin-top: 2rem !important;
  }
}

// sitewide placeholder text (make it legible)
::placeholder {
  color: $blue;
  opacity: 1;
  font-size: 0.875rem;
}

// global search bar
.facetwp-type-search {
  position: relative;
  display: inline-block;
  max-width: 14.75rem;
  width: 100%;
  margin-right: 0;

  // magnifying glass icon
  i {
    opacity: 1;
    left: 0.5rem;
    max-width: 1rem;
  }

  // icon overrides
  .facetwp-icon::before {
    width: unset;
    height: unset;
    position: absolute;
    top: 0.8rem;
    content: '\f002';
    font-family: FontAwesome;
    font-size: 0.875rem;
    font-style: normal;
    background: none;
    color: $blue;
    opacity: 0.5;
  }

  // actual search box styles
  .facetwp-search {
    width: 14.75rem;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border: 1px solid $blue;
    border-radius: 5px;
    background: none;
    font-family: $font-body;
    font-size: 0.875rem;
    color: $blue;
  }
}

// global checkbox styles
div.facetwp-checkbox {
  background: unset;
  margin-bottom: 1.25rem; // 20px
  padding-left: 0;
  font-family: $font-body;
  font-size: 0.875rem;

  // checkbox
  &:before {
    position: relative;
    top: 0.25rem;
    content: '';
    display: inline-block;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    border: 1px solid $blue;
    border-radius: 5px;
  }

  // remove default background from checked state
  &.checked {
    background: unset;
  }

  // set to fill blue instead
  &.checked:before {
    background-color: $blue;
  }
}

// global pager
.facetwp-type-pager {
  margin: 0 auto;
  text-align: center;
  max-width: 15rem;
  padding-bottom: 80px;

  a {
    display: inline-block;
    width: 0.75rem;
    padding: 0.25rem 0.25rem 0;
    color: $light-black;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    &.active {
      border-bottom: 2px solid $light-blue;
      font-weight: normal;
    }
  }
}

// facet type for dropdown (only applied to sidebar filters (maps and parishes use slightly different style)
select, option {
  font-family: $font-body;
  font-size: 0.875rem !important;
  color: $blue;
}

.facetwp-type-dropdown {
  position: relative;

  &:before {
    position: absolute !important;
    content: '\f107' !important;
    font-family: FontAwesome;
    top: 0.8rem;
    left: 1rem;
    font-size: 1rem;
    color: $pale-blue;
    z-index: 4;
  }
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  position: relative;
  width: 14.75rem;
  padding: 0.7rem 0.9rem 0.7rem 2.625rem;
  border: 1px solid $blue;
  border-radius: 5px;
  background: transparent;
  margin-bottom: 1.5rem;
  z-index: 2;
  line-height: 1.5;

  &:hover {
    cursor: pointer;
  }
}

// facet radio
.facetwp-type-radio {
  max-width: 12.5rem;

  .facetwp-radio {
    font-family: $font-body;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.85rem 0;
    background-image: unset;
    margin-bottom: 0;
    border-bottom: 1px solid $steel-grey;

    &.checked {
      background-image: unset;
      background-color: rgba($blue, 0.1);
    }
  }
}

