* { box-sizing: border-box; }
html { font-size: 16px; }

html, body {
	// smooths jagged font edges
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	// font variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;

	// global line-height
	line-height: 1.3;
	overflow-x: hidden;
	overflow-y: auto;
}

body { display: none; } // fadeIn with js

// lock body when nav is open (controlled in js)
.lock-body { overflow-y: hidden; }

// base image setup
img {
	max-width: 100%;
	height: auto;
}


/* Screen Reader Text ------------------------ */


.search.search-results .background-underlay {
  height: 100vh;
}


.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	right: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.section-search-results {
  padding: 1rem 2rem;
  max-width: 64.5rem;
  margin: 2.5rem auto;

  .item {
    margin: 0 0 51px;
  }

  .line {
    background: $steel-grey;
    border: none;
    height: 1px;
    margin-top: -8px;
  }

  &__container {
    margin-top: 72px;
  }

  .excerpt {
    margin-top: 10px;
    font-size: 0.875rem;
    color: $light-black;
    font-weight: 400;
    line-height: 1.643;
    font-family: $font-body;

    a {
      text-decoration: underline;
      color: $blue;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .title {
    font-weight: 600;
  }

  .subtitle strong{
    margin-left: 10px;
  }
}

