// video container at bottom
.home-header {
  position: relative;
  max-width: 62.5rem;
  padding: 2.5rem 0 1rem;
  margin: 1rem auto 0;
  line-height: 1;
  @include bp(md) {
    padding: 7rem 1rem 0;
  }

  h2, .hero {
    text-align: center;
  }

  h2 {
    margin-bottom: 1.25rem;
  }
}

// home header - quick links
.quick-links {
  display: flex;
  max-width: 39.5rem;
  margin: 3.5rem auto;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap; // icon shrink
  align-items: center;
  text-align: center;

  @include bp(500px) {
    margin: 6.5rem auto 4.25rem;
    flex-direction: row;
    justify-content: space-between;
  }

  &__link-item {
    color: $blue;
    font-family: $font-body;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;

    @include bp(500px) {
      margin-bottom: unset;
    }

    .icon {
      display: block;
      margin-bottom: 0.75rem;
      padding: 0.1rem;

      img {
        max-width: 3.75rem;
      }
    }

    .gold-bar {
      display: block;
      background-color: $gold;
      height: 2px;
      width: 2.25rem;
      transition: 0.2s ease-out;
      margin: 0.5rem auto 0;
    }

    // no mobile hover
    @include mq($from: 768px) {
      &:hover {
        .gold-bar {
          width: 100%;
          transition: 0.2s ease-out;
        }
      }
    }
  }
}

// home header - learn more box
.learn-more-box {
  position: relative;
  max-width: 64.5rem;
  margin: 0 auto;
  padding: 3rem 1.5rem;
  background-color: $blue;
  box-shadow: 0 20px 20px -20px rgba($black, 0.5);
  overflow: hidden; // for background image
  z-index: 1;
  @include bp(sm) {
    padding: 3.5rem 1.5rem;
  }
  @include bp(1000px) {
    border-radius: 10px;
  }

  &__image-left {
    position: absolute;
    z-index: 0;
    top: -4rem;
    left: -6rem;
    height: 35rem;
    width: 25rem;
    margin-left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: multiply;
    opacity: 0.3;

    @include bp(sm) {
      height: 30rem;
      opacity: 1;
    }
  }

  &__flex-content {
    display: flex;
    max-width: 50rem;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include bp(sm) {
      flex-direction: row;
      justify-content: space-between;
    }

    h2 {
      position: relative;
      z-index: 2; // keeps text from being blended with background image
      color: $white;
      margin-bottom: 2.5rem;
      text-align: left;
      max-width: 21.5rem;

      @include bp(sm) {
        max-width: 14.5rem;
        margin-bottom: 0;
      }
    }

    // link list wrapper
    .link-list {
      max-width: 25rem;
      width: 100%;
    }

    // link list
    ul {
      position: relative;
      z-index: 2;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid $white;

      &:last-of-type {
        border-bottom: unset;
      }

      a {
        display: block;
        color: $white;
        font-weight: bold;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding: 1rem 0;
        transition: 0.1s ease-out;

        &:hover {
          color: $gold;
          transition: 0.1s ease-out;
        }
      }
    }
  }

  // end &__flex-content
}

// all other pages
.header-wrapper {
  max-width: 64.5rem;
  padding: 0 1rem;
  margin: 2.5rem auto;
  @include bp(sm) {
    margin: 2.5rem auto 5rem;
  }
}

// Events, Parishes, Schools Header
.left-header {
  max-width: 75rem;
  margin: 0 auto 2.5rem;
  padding: 0.5rem;
}

// Singular Blogs in  [/singles/single-news.twig]
.center-header {
  max-width: 64.5rem;
  margin: 0 auto 0.5rem;
  padding: 1rem;
  text-align: center;
}

// for homepage background video
// hide video on mobile in favor of underlay
@include mq($until: 960px) {
  .video-container video {
    display: none;
  }
  // hide video
  .swap-for-video .background-underlay {
    display: block;
  }
  // show background image
}

// video on 961+ when normal nav is in view instead of mobile nav
@include mq($from: 961px) {
  .video-container {
    display: block;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;

    @include bp(980px) {
      .video-container {
        top: 1rem;
      }
    }

    video {
      object-fit: cover;
      width: 100vw;
    }
  }

  // hide underlay while video is present (reduces load)
  .swap-for-video .background-underlay {
    display: none;
  }
}

// pull video down slightly into / under container for blur on mobile bar to fit
@include mq($from: 980px) {

}

.header-button {
  display: inline-block;
  padding: 0.65rem 2.5rem 0.75rem;
  line-height: 1;
  font-family: $font-body;
  font-size: 0.875rem;
  font-weight: 300;
  color: $dark-text;
  border: 1px solid $blue;
  border-radius: 5px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  margin: 0 0 2.5rem;

  &:hover {
    background-color: $blue;
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
    color: $white;

  }

  @media screen and (max-width: 960px) {
    display: none;
  }

}

.header-top {
  display: flex;
  flex-flow: row;
  align-items: center;

  @include mq($until: 960px) {
    order: 2;
    width: 100%;

  }


  .searchform {
    position: relative;
    margin: 0 32px 2.5rem;

    @include mq($until: 960px) {
      display: none;
      width: 100%;
      margin: 0 20px 2.5rem;
    }


    input {
      border: none;
      background: transparent;
      border-bottom: 1px solid $steel-grey;
      font-family: $font-body;
      font-size: 0.875rem;

      @media (max-width: 60em) {
        width: 100%;
      }

      &::placeholder {
        font-family: $font-body;
        font-size: 0.875rem;
        font-weight: 300;
        color: $dark-text;
      }

      &:focus, &:active {
        border: none;
        border-bottom: 1px solid $blue;
        outline: none;
      }
    }
  }

  #searchsubmit {
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;

    &:hover {
      border: none;
      opacity: 0.8;
    }

    &:focus, &:active {
      outline: none;
    }
  }

  i {
    color: $light-black;
    font-size: 10px;
  }
}
