.page-id-1841 {
	header { display: none; }
	.breadcrumbs { display: none; }
}

// top search bar
.epkb-doc-search-container {
	background: unset !important;
	border-bottom: unset !important;
	&__title { display: none; }
}

// category columns (.three-col)
#epkb-content-container {
	background-color: unset !important;
}

// each category section
section.epkb-top-category-box {
	padding: 1rem !important;
}

// category header
.section_divider {
	border-bottom: unset !important;
	padding: 0 !important;
}

// category header text control
.epkb-category-level-1 {
	text-align: left !important;
	margin-bottom: 1.5rem !important;
}

// category header names
.epkb-cat-name {
	font-family: $font-head !important;
	color: $blue !important;
}

.epkb-cat-icon { display: none !important; }

// main article text styles //

// caret icon right
.ep_font_icon_arrow_carrot_right {
	color: $light-black !important;
}

// doc icon
.ep_font_icon_document {
	color: $light-black !important;
}

// main article names text
.eckb-article-title span {
	font-family: $font-body !important;
	font-weight: bold !important;
	font-size: 0.9375rem !important; // 15px
}

// sub category names text
.epkb-category-level-2-3__cat-name {
	font-family: $font-body !important;
	font-weight: bold !important;
	font-size: 0.9375rem !important; // 15px
}

// show all (#) at bottom of each column
.epkb-show-all-articles {
	text-align: left !important;

	.epkb-show-text, .epkb-hide-text {
		display: inline-block !important;
		margin-top: 1.5rem !important;
		color: $light-black !important;
		&:hover { text-decoration: underline !important; }
	}
}

.epkb-section-body {
	padding: 0 !important;
}