.mapbox-container {
	max-width: 100%;
	margin: 0 auto;
}

.body-row {
	@include mq($tablet){
		height: 800px !important;
	}

	.showing-map & {
		height: 50vh;
	}
}

#result_list {
	overflow-y: scroll;
	height: 100%;
	margin: 0;
}

#search_list_input {
	width: 100%
}


/* Popup styling */

.mapboxgl-popup {
	padding-bottom: 5px;
}

.mapboxgl-popup-close-button {
	display: none;
}

.mapboxgl-popup-content {
	font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
	padding: 0;
	width: 250px;
}

.mapboxgl-popup-content-wrapper {
	padding: 1%;
}

.mapboxgl-popup-content h3 {
	background: rgb(61, 59, 59);
	text-align: center;
	color: #fff;
	margin: 0;
	display: block;
	padding: 15px;
	font-weight: 700;
	margin-top: -5px;
}

.mapboxgl-popup-content h4 {
	margin: 0;
	display: block;
	padding: 10px 3px 10px 10px;
	font-weight: 400;
}

.mapboxgl-container {
	cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
	margin-top: 3px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
	border-bottom-color: rgb(61, 59, 59);
}



.autocomplete {
    background: $white;
    z-index: 1000;
    font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
    font: inherit;
}

.autocomplete > div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #eee;
}

.autocomplete > div:hover {
    background: $off-white;
    cursor: pointer;
}

#result_list, #static-list {
	font-family: $font-body;
	position: relative;

	.result_row {
		color: $blue;
		margin: 0;
		padding: 2rem;
		display: grid;
		grid-template-columns: 1fr 20px;
		grid-template-rows: 1fr 1fr;
		cursor: pointer;

		&:hover {
			background: $off-white;
		}

		> div {
			grid-column: 1;
		}

		&:after {
			align-self: center;
			grid-row: 1/-1;
			grid-column: 2;
			content: '\f35a';
			font-size: 25px;
			font-family: "Font Awesome 5 Free";
			color: $light-blue;
		}
	}
}

.map__search-wrapper {
	max-width: 75rem;
	margin: 0 auto;
	justify-content: space-between;
	display: block;
	top: 0;
	background: $white;
	z-index: 1000;
	padding: 1rem;
	
	@include mq($tablet){
		background: none;
		padding-bottom: 2rem;
		display: flex;
	}

	.search-title {
		display: flex;
		align-items: center;
		color: $blue;
		letter-spacing: 4px;
		width: 100%;
		font-size: 0.875rem;
		font-family: $font-body;

		&:after {
			content: '';
			height: 1px;
			margin-left: 1rem;
			background: $gold;
			width: 100%;
			flex: 1;
		}
	}

	.search-label {
		position: relative;
		max-width: 235px;
		width: 100%;
	}

	.search-icon {
		position: absolute;
		left: .5rem;
		top: 50%;
		width: 1rem;
		height: 1rem;

		&::before {
			width: unset;
			height: unset;
			content: '\f002';
			font-family: FontAwesome;
			font-size: 0.875rem;
			font-style: normal;
			background: none;
			color: $blue;
			opacity: 0.5;
		}
	}
	
	#reset-button {
		border: unset;
		background: unset;
		padding: calc(.5rem + 2px);
		font-weight: normal;
		margin-left: 1.5rem;

		&:hover { color: $blue; }
	}

	input, .mapboxgl-ctrl-geocoder--input, select {
		padding: 0.5rem 0.5rem 0.5rem 2rem;
		border: 1px solid $blue;
		border-radius: 5px;
		background: none;
		font-family: $font-body;
		height: 100%;
		font-size: 0.875rem;
		color: $blue;

		@include mq($until: $tablet){
			font-size: 16px;
		}
	}

	select {
		padding: .5rem;
		appearance: none;
		&:hover { cursor: pointer; }
	}

	.select {
		position: relative;

		&:after {
			content: '\f0d7';
			font-family: 'FontAwesome';
			position: absolute;
			right: .5rem;
			top: 0.35rem;
			font-size: 19px;
			color: $gold;
			z-index: -1;
		}
	}
}

.map__search-location {
	flex: 1;
	max-width: 27.8rem;
	width: 100%;

	&-inputs {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.mapboxgl-ctrl-geocoder {
		background: none;
	}

	.mapboxgl-ctrl-geocoder--icon-search {
		top: 8px;
		@include mq($tablet){
			top: 11px;
		}
	}
}

.map__search-geocoder {
	display: flex;
	margin-bottom: 1rem;
	align-items: flex-start;
	@include mq($tablet){
		margin: 0;
	}
}

.map-wrapper {
	.body-row, &.row {
		padding: 0;
		margin: 0;

		@include mq($until: $tablet){
			width: 100%;
			overflow-y: scroll;
			flex: none;
			max-width: none;
		}
	}

	.mapboxgl-ctrl-top-right, .mapboxgl-ctrl-bottom-right {
		right: 1rem;
	}
}

.mapboxgl-popup-content {
	.name {
		font-weight: bold;
		color: $blue;
	}

	a {
		color: $blue;
		display: inline-block;
		margin-top: 1rem;
	}
}

.map__list-search, .map-results-list {
	display: none;
	@include mq($tablet){
		display: block;
		margin-right: 2rem;
	}
}

.map-twig {
	.mapboxgl-ctrl-geolocate {
		display: none;
	}

	.switcher {
		border-top: 2px solid $blue;
		background: $white;
		position: sticky;
		bottom: 0;
		z-index: 1000;
		display: flex;
		
		@include mq($tablet){
			display: none;
		}
		
		button {
			background: $white;
			border: none;
			padding: 1rem;
			width: 50%;
			appearance: none;
			font-weight: bold;

			+ button {
				border-left: 2px dashed $blue;
			}
		}
	}

	#static-list {
		display: none;
		overflow: scroll;
		padding: 1rem 1rem 6rem;

		@include mq($tablet) {
			display: none !important;
		}
	}

	#map {
		max-height: 90vh;
		width: 100%;
		height: 100%;
		overflow: hidden;
		@include mq($tablet) {
			display: inherit !important;
		}
	}

	&.showing-list {
		@include mq($until: $tablet){
			#static-list {
				display: block;
			}

			#map, #map-search {
				display: none;
			}
		}
	}

	&.showing-map {
		@include mq($until: $tablet){
			#static-list {
				display: none;
			}
		}
	}
}

// gold bar overrides
.map__list-search .search-title::after {
	width: 100%;
}

.map__search-location .search-title::after {
	max-width: 27.8rem;
}

// remove overlay links to mapbox site and logo attribution (we pay for this tool and can rebrand it)
.mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl-logo {
	display: none !important;
}