// global menu styles
.nav-wrapper {
  position: relative;
  max-width: 100%;
  background-color: transparent;
  z-index: 5;
  @include bp(960px) {
    margin-top: 1rem;
  }

  // setup base menu ul styles
  .nav-container nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

// lock when open / allow user to scroll long offices menu when opened
.lock-nav {
  height: 100vh;
  overflow-y: scroll;

  @media (max-width: 60em) {
    display: flex;
    height: auto;
    flex-flow: column-reverse;
  }
}

// hamburger menu
#menu-toggle {
  display: none;
}

.mobile-nav-top {
  display: none;
}

// laptop+ styles
@include mq($from: 960px) {

  .nav-container {
    display: flex;
    max-width: 77rem; // 2rem extra for 1rem padding on each side
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    margin-right: 2rem;

    img {
      max-width: 100%;
      width: 17.5rem;
      min-width: 12rem;
    }
  }

  #mini-top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 35rem;
    margin: 0 0 2.5rem auto;

    li {
      padding: 0;
      margin: 0;
    }

    a {
      font-family: $font-body;
      font-size: 0.875rem;
      font-weight: 300; // brother-1816 Book
      color: $dark-text;
    }

    // "Give" button style
    #menu-item-1619 {
      border: 1px solid $blue;
      border-radius: 5px;
      align-self: center; // prevent height "stretching" from flex
      transition: 0.1s ease-out;

      a {
        display: inline-block;
        padding: 0.65rem 2.5rem 0.75rem;
        margin: 0;
        line-height: 1;
        border-bottom: none;

        &:hover {
          background-color: $blue;
          border-bottom: none;
          transition: 0.1s ease-out;
          color: $white;
        }
      }
    }
  }

  // <nav>
  .nav-menu {

    // ul#primary-menu
    .menu {
      display: flex;
      max-width: 100%;
      width: 44rem;
      justify-content: space-between;
      margin: 0 0 0 auto;

      // nav global li styles
      li {
        position: relative; // for sub-menu
        background-color: transparent;
        border: 2px solid transparent;

        &.current-menu-item {
          a {
            padding-bottom: 0.25rem;
            border-bottom: 2px solid $gold;
          }
        }

        &:hover {
          a {
            // transition border in
            padding-bottom: 0.25rem;
            border-bottom: 2px solid $gold;
          }
        }
      }

      // nav global anchor styles
      li a {
        color: $dark-text;
        font-family: $font-head;
        font-weight: bold;
        font-size: 1.25rem;
        border-bottom: 2px solid transparent;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
      }

      // to keep menu open on hover
      #menu-item-768 {
        padding-bottom: 1.85rem;
      }

      // mini top navigation hidden from desktop main menu
      #menu-item-1567, #menu-item-1568,
      #menu-item-1569, #menu-item-1618,
      #menu-item-1572, #menu-item-4150 {
        display: none;
      }

      .sub-menu {
        display: none;
      }
    }

    // .menu
  }
  // .nav-menu
}

// mobile to laptop styles
@include mq($until: 960px) {

  .logo {
    display: none;
  }

  // used to expand header with menu inside it
  .mobile-nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;

    .mobile-logo {
      max-width: 9.5rem;
    }
  }

  // mobile menu toggle X
  #menu-toggle {
    display: block;

    &:hover {
      cursor: pointer;
    }

    .x-bar {
      display: block;
      height: 2px;
      margin-bottom: 6px;
      background-color: $blue;
      transition: 0.3s ease-out;
      border-radius: 2px;
      margin-right: 0; // align bars right
      margin-left: auto; // align bars right

      // adjust the widths to make them staggered
      &:nth-child(3n+1) {
        width: 1.8rem;
      }

      &:nth-child(3n+2) {
        width: 1.4rem;
      }

      &:nth-child(3n+3) {
        width: 1rem;
      }

      // make them all the same so the X looks correct
      &.x-bar-active {
        width: 1.6rem;
      }
    }

    .x-bar-active {
      position: relative;
      transition: 0.3s ease-out;
      margin-bottom: 0;
      height: 2px;

      &:nth-child(3n+1) {
        top: 0;
        transform: rotate(45deg);
      }

      &:nth-child(3n+2) {
        opacity: 0;
      }

      &:nth-child(3n+3) {
        bottom: 4px;
        transform: rotate(-45deg);
        margin-bottom: 0;
      }
    }
  }

  // quick links above main menu wrapper
  #mini-top-menu {
    display: none !important;
  }

  .border-mod {
    border-radius: unset !important;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  // mini top navigation shown in mini-nav
  #menu-item-1567, #menu-item-1568,
  #menu-item-1569, #menu-item-1619,
  #menu-item-1572, #menu-item-4150 {
    display: block;
  }

  @include mq($until: 960px) {
    .nav-container {
      max-width: 100%;
      padding: 0 1rem;
      background-color: transparent;
    }

    #primary-menu {
      display: none;
      width: 100%;
      height: auto;
      margin: 0 auto;
      padding-top: 1.5rem;
      border-top: 2px solid $blue;
      // background-color: $white;
      z-index: 50;

      li {
        margin-bottom: 2rem;
        margin-left: 2.25rem;
      }

      a {
        font-family: $font-body;
        font-weight: 500; // semi-bold
        color: $dark-text;
        font-size: 1rem;
        text-transform: uppercase;
      }

      .menu-item-has-children {

        a {
          position: relative;
          color: $dark-text;
        }

        // spacing for menu-items first level sub-menu
        > li {
          margin-top: 0.75rem;
        }

        // hidden menu state
        .sub-menu {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          top: 0;
          left: 100%;
          width: 100%;
          transition: 0.2s ease-out;
          z-index: -1;
          margin-left: 0;
        }

        // open menu state
        .sub-menu-open {
          display: none;
          position: absolute;
          left: 0;
          // display: block;
          opacity: 1;
          visibility: visible;
          transition: 0.2s ease-in;
          overflow-x: hidden; // no horizontal scroll on mobile
          z-index: 25;

          // allows background of menu to match gradient behind it
          background: $white;
          height: 100%;
          width: 100%;

          li {
            margin-left: 3.25rem;
            margin-bottom: 1.675rem;

            // back button
            &:first-of-type {
              margin-right: 1rem;
              margin-left: 1rem;
              font-style: normal;
              font-size: 1rem;
            }

            a {
              text-transform: unset;
              font-family: $font-body; // questa-slab for these
              font-size: 0.9375rem;
              font-weight: normal;
            }
          }
        }

        // back button at top of menu (prepended in site.js file)
        #mobile-back-button {
          background: unset;
          border: unset;
          width: 100%;
          padding: 0.75rem 0;
          border-bottom: 1px solid $blue;
          text-align: left;
          color: $dark-text;
          font-family: $font-body, FontAwesome; // FontAwesome fallback for arrow
          font-size: 1rem;
          font-weight: 500;
          text-transform: uppercase;

          &:before {
            content: url('static/images/icons/arrow-left.svg');
            margin-right: 1rem;
            vertical-align: middle;
            color: $blue;
          }
        }

      }

      // end .menu-item-has-children
    }
    // end #primary-menu
  }
}
