// publications archive
.pub-container {
  max-width: 64.5rem;
  margin: 2.5rem auto 4rem;

  h2 {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem
  }

  &--recent {
    display: flex;
    flex-direction: column;
    max-width: 64.5rem;
    justify-content: center;
    align-items: center;
    margin: 2.5rem auto 0;
    padding: 0 1rem;

    @include bp(860px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    h4 > a {
      font-family: $font-body;
      font-weight: bold;
      color: $light-black;
      &:hover { text-decoration: underline; }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul li {
      font-size: 0.875rem;
      margin-bottom: 0.25rem;
      padding-bottom: 0;

      &:before {
        content: '\00B7'; // &middot;
        font-size: 150%;
        color: $light-black;
        margin-right: 0.25rem;
      }
    }

    .featured-pub-post {
      display: flex;
      max-width: 27.25rem;
      padding: 0 1rem 1.25rem;
      border-bottom: 1px solid $steel-grey;
      flex-direction: column;
      @include bp(650px) { flex-direction: row; }
    }

    .pub-featured {
      margin: 0 auto;
      max-width: 27.25rem;
      @include bp(860px) { margin-right: 2.5rem; }

      h4 { margin-top: 0.75rem; }
    }

    .pub-regular {
      display: flex;
      max-width: 27.25rem;
      width: 100%;
      padding-bottom: 1.25rem;
      border-bottom: 1px solid $steel-grey;
      flex-direction: column;
      @include bp(650px) { flex-direction: row; }

      &:nth-of-type(1) {
        margin-top: 2.5rem;
        @include bp(860px) { margin-top: 0; }
      }

      &:nth-of-type(2) { padding-top: 1.25rem; }

      img {
        width: 13.2rem;
        margin-right: 1.5rem;
        @include bp(650px) { align-self: flex-start; }
      }

      &__content {
        margin-left: 1.5rem;

        @media screen and (max-width: 650px ){
          margin-left: 0;
        }
      }
    }
  } // end &__recent

  .button-container {
    margin-top: 2.25rem;

    .primary-button {
      &--border { margin-right: 1.5rem; }
    }
  }
} // end pub-container

.grey-background {
  max-width: 100%;
  background-color: $off-white;
  padding: 3.125rem 0;

  h2 {
    max-width: 64.5rem;
    margin: 0 auto;
    padding: 0 1rem
  }
}

.link-row {
  display: flex;
  max-width: 64.5rem;
  margin: 5rem auto;
  padding: 0 1rem 5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $steel-grey;

  &__link {
    max-width: 10.25rem;

    span:not(.link-text) {
      display: block;
      margin: 0 auto 0.75rem;
      text-align: center;
      font-size: 1.65rem;
      color: $blue;
    }

    .link-text {
      color: $light-black;
      font-size: 0.875rem;
    }

    &:hover {
      .link-text { text-decoration: underline;}
    }
  }
}
// .archive-container in [_archive-global.scss]

// both publication archive containers
.publication-container {
  display: flex;
  margin-bottom: 2.7rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 35.25rem;
  width: 100%;

  @include bp(680px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .faith-img { max-width: 10rem; }

  .the-register-img {
    max-width: 20rem;
    margin-right: 0;

    @include bp(680px) { margin-right: 1.25rem; }
  }

  .faith-content {
    display: block;
    max-width: 14rem;
    width: 100%;

    @media screen and (max-width: 650px ){
      max-width: 20rem;
      margin: 20px 0;
    }

  }

  ul {
    position: relative;
    margin: 0.9rem 0 1rem;
    padding: 0;
    list-style: none;
    font-family: $font-body;

    li {
      position: relative;
      margin-left: 0.5rem;

      &:before {
        display: block;
        content: '⋅';
        position: absolute;
        left: -0.5rem;
      }
    }
  }

  button {
    background: unset;
    border: unset;
    &:hover { cursor: pointer; }
  }

}

.year-divider {
  border-bottom: 1px solid $steel-grey;
  padding-bottom: 10px;
  margin-bottom: 2.5rem!important;

  &:not(:nth-child(1)) {
    margin-top: 4rem;
  }
}

.link.js-more {
  background: transparent;
  border: none;
  color: $blue;
  font-size: 12px;
  line-height: 3.8333rem;
  font-weight: bold;
  font-family: $font-body;
  padding: 0;
  cursor: pointer;

  &:focus, &:active {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }


  @media screen and (max-width:650px){

    display: none;
  }
}
