/* reusable components for single posts */

// aside area for sub offices and first 2 directory entries
.child-items-section {
	max-width: 15.25rem;
	flex-shrink: 0;
	margin-top: 2rem;
	margin-left: 0;

	@include bp(sm) {
		margin-top: 0;
		margin-left: 3.5rem;
	}

	h4 {
		font-family: $font-body;
	}

	.child-link-list { // <ul>
		margin: 1.5rem 0 2.75rem;
		padding: 0;
		list-style: none;

		li {
			border-bottom: 1px solid $steel-grey;
			&:first-of-type { border-top: 1px solid $steel-grey; }
		}

		&__link {
			display: block;
			color: $light-black !important;
			padding: 1.375rem 0;
			font-weight: normal !important;
		}
	}
}

.shared_counts  {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-family: $font-body;

	&__blurb {
		white-space: nowrap;
		color: $light-blue;
		font-weight: bold;
		margin-right: 1rem;
	}

	.shared-counts-wrap {
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;

		a {
			display: flex  !important;
			align-items: center;
			justify-content: center;

			.shared-counts-icon {
				display: flex  !important;
				align-items: center;
				justify-content: center;
			}
		}
	}
}