.profile-container, .adjust-bio {
	display: flex;
	max-width: 64.5rem;
	margin: 0 auto 3.5rem;
	padding: 0 1rem;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;

	@include bp(sm) {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}

	.profile-information {
		max-width: 17.75rem;
		margin-right: 0;
		@include bp(sm) { margin-right: 1.5rem; } // on shrink keep apart

		img, h4, p { margin-bottom: 0.75rem; }

		div:not(.locations-information) {
			margin-top: 1.25rem;
			padding-top: 1.25rem;
			border-top: 1px solid $gold;
		}

		a {
			display: block;
			margin-bottom: 1.25rem;
			color: $light-black;
			font-size: 0.875rem;
			&:hover { text-decoration: underline $gold; }

			span {
				color: $gold;
				margin-right: 1rem;
			}
		}

		// schools/ offices / parishes associated with person
		.locations-information {
			text-align: left;

			p {
				display: block;

				a {
					display: inline-block;
					margin-bottom: 0;
					text-decoration: none;
					text-align: left;
				}
			}
		}
	}

	.profile-posts {
		max-width: 40rem;

		.bio {
			padding-bottom: 2.25rem;
			margin-bottom: 2.25rem;
			border-bottom: 1px solid $steel-grey;
			@include bp(sm) { margin-bottom: 4.25rem; }
		}
	}
}

// special case bios that are super short
.adjust-bio {
	.profile-posts {
		max-width: 17.75rem;
		@include bp(sm) { max-width: 40rem; }

		.bio {
			border-bottom: unset;
			margin-bottom: unset;
			padding-bottom: unset;

			@include bp(sm) {
				padding-bottom: 2.25rem;
				margin-bottom: 4.25rem;
				border-bottom: 1px solid $steel-grey;
			}
		}
	}

	@include bp(sm) {
		justify-content: flex-start;
		.profile-information { margin-right: 3.5rem; }
		.profile-posts { width: 100%; }
	}
}