.single-news {
	font-family: $font-body;

	.header-wrapper {
		margin-bottom: 0;
	}
}

.news__single-categories {
	text-align: center;
	font-weight: bold;
	color: $light-black;
}

.news__date {
	text-align: center;
	font-weight: bold;
	color: $light-black;
	margin-top: .5rem;
	font-size: 12px;
}

.news__featured-image {
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.news__content {
	max-width: 50rem;
	margin: 2.5rem auto;
	padding: .5rem;

	h1, h2, h3, h4, h5, h6 {
		max-width: 36.875rem;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		max-width: 36.875rem;
		margin-left: auto;
		margin-right: auto;
	}

	img { border-radius: 5px !important; }

  .wp-block-embed-youtube, .wp-block-embed__wrapper {
    max-width: 36.875rem;
    margin-left: auto;
    margin-right: auto;
  }

}

.news__footer {
	padding: .5rem;
	max-width: 64.5rem;
	border-top: 1px solid #B6BDC5;
	margin: 2.5rem auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 2rem;
}

.news__author {
	padding: 2.5rem 0;
	display: flex;

	&-image {
		align-self: flex-start;
	}

	&-info {
		max-width: 10rem;
		margin-left: 1rem;
	}

	.author-title {
		margin: .5rem 0;
		font-size: 14px;
	}
}

.obj-fit {
  max-width: 100px;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  overflow: hidden;

  .obj-fit__wrapper & {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    position: relative;
    padding-bottom: 26.25%;
    width: 100px;
  }
}
