// main page content
.ps-container {
	max-width: 64.5rem;
	margin: 0 auto;
	padding: 0 1rem;

	.parish-info {
		display: flex;
		max-width: 100%;
		margin: 5rem 0;
		flex-wrap: wrap;

		@include bp(sm) {
			grid-template-columns: repeat(auto-fit, 14.5rem);
			column-gap: 7.5rem;
			row-gap: 2.5rem; // on wrapping
		}

		// make all boxes have a right margin to avoid collisions
		&__contact, &__mass, &__confession {
			margin-right: 4.5rem;
			@include bp(sm) { margin-right: 1.5rem; }
		}

		&__confession {
			margin-top: 2rem;
			@include bp(494px) { margin-top: 0; }
		}

		&__contact, &__mass,
		&__confession, .mission-parishes {
			max-width: 14.5rem;
		}


		.time-container {
			padding-top: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid $grey-five;

			h6 {
				font-family: $font-body;
				color: $light-black;
			}

			p { margin-bottom: 0; }
		}

		// contact section specific
		&__contact {
			padding-bottom: 1rem;
			h3 { margin-bottom: 1rem; }
		}

		// all icon links
		.info-link {
			display: inline-block;
			font-size: 0.875rem;
			font-weight: normal;
			margin-left: 1rem;
			color: $light-black;

			span {
				margin-top: 0;
			}
		}

		.fas {
			width: 1.25rem;
			font-size: 1.2rem;
			color: $gold;
			text-align: center;
		}

		.fa-map-marker-alt, .fa-phone,
		.fa-envelope, .fa-globe, .fa-fax {
			position: relative;
		}

		// icon alignment
		.fa-map-marker-alt {
			font-size: 1.3rem;
			top: -0.5rem;
		}

		.fa-envelope { top: 0.15rem; }
		.fa-globe { top: 0.2rem; }
		.fa-fax { top: 0.15rem; }

		// schools
		.social-icon-row {
			padding: 0.7rem 0;

			.fab {
				color: $gold;
				font-size: 1.25rem;
				margin-right: 1rem;
			}
		}

		// donate section
		.donate-box {
			padding-top: 1.25rem;
		}

		.mission-parishes {
			margin-top: 1.5rem;
			text-align: left;

			a {
				display: inline-block;
				text-align: left;
				margin-bottom: 0.75rem; // 12px
			}
		}

		.mp-schools { margin-top: 0; }
	}

	.featured-employees {
		display: grid;
		max-width: 100%;
		margin-bottom: 4.125rem;
		grid-template-columns: repeat(auto-fit, 15.25rem);
		column-gap: 3.75rem;
		row-gap: 2rem;

		// <a>
		&--listing {
			padding: 1.25rem 1.5rem;
			border-radius: 5px;
			background-color: $off-white;
			&:hover { box-shadow: 0 0 3px 0 $gold; }

			img, h4, h5 {
				margin-bottom: 0.5rem;
			}

			h5 {
				font-family: $font-body;
				font-size: 0.875rem;
				text-transform: uppercase;
				letter-spacing: 4px;
			}

			h4 {
				font-family: $font-body;
				font-size: 1rem;
				color: $light-black;
				margin-bottom: 0.25rem;
			}

			img { border-radius: unset; }
		}
	}
}

// reused .news-events on _front-page.scss - reduce padding and adjust spacing from home layout
.adjust-layout {
	padding: 3.75rem 1rem 5rem;
	margin: 5rem auto 0;

	.sideways-header { top: 10.5rem; }
}