.single-event {
	font-family: $font-body;

	&__back {
		position: relative;
		top: -2rem;
		color: $light-black;
		@include bp(sm) { top: -4rem; }
	}

	&__featured-image {
		display: block;
		width: 100%;
		height: auto;
		border-radius: 5px;
		margin-top: 0.5rem;
		margin-bottom: 2.5rem;
		box-shadow: 0 10px 15px -10px rgba($black, 0.5);
	}

	&__info {
		border-bottom: 1px solid $steel-grey;
		margin-bottom: 2.5rem;
		padding-bottom: 2rem;
		@include mq($tablet){ display: flex; }
	}

	&__info-sidebar {
		width: 100%;
		max-width: 14rem;
		flex: 1 0 auto;
		margin-right: 1.5rem;
		font-size: 14px;
		margin-bottom: 2rem;

		// FontAwesome clases
		.far, .fas {
			display: inline-block;
			margin-right: 0.75rem;
			max-width: 1rem;
			color: $gold;

			&::before {
				position: relative;
				top: 0.2rem;
			}
		}

		> * + * {
			margin-top: 1rem;
			padding-top: 1rem;
			border-top: 1px solid #B6BDC5;
		}

		.icon-flex {
			display: flex;
			justify-content: left;
			max-width: 100%;
		}
	} // end .single-event__info-sidebar

	.shared_counts { margin-bottom: 3.5rem; }
}