// basic font styles
a, p, span, address, blockquote {
	font-family: $font-body;
	font-weight: normal;
	font-style: normal;
	font-size: 0.875rem; // 14px

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari 
	font-feature-settings: "lnum" 1; // standard for browsers (last 5 versions as of June 1, 2020)
}

a {
	text-decoration: none;
	transition: 0.2s ease-out;

	&:hover {
		transition: 0.2s ease-out;
		text-decoration: none;
	}
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
	color: $light-black;
	line-height: 1.6; // 23px
	@include bp(sm) { margin-bottom: 1.5rem; }
}

table {
	font-family: $font-body;
	font-size: 0.875rem;
}

small {
	font-family: $font-body;
	font-size: 0.875rem; // 14px
	font-style: italic;
	color: $light-black;
}

time {
	display: block;
	padding-top: 0.75rem;
	font-family: $font-body;
	font-size: 0.875rem; // 14px
	color: $light-black;
}

ul, ol {
	margin-top: -0.25rem;
	margin-bottom: 2.25rem;
	font-family: $font-body;
	font-size: 0.875rem; // 14px
	color: $light-black;

	li {
		margin-bottom: 0.25rem;
		line-height: 1.3;
	}

	// no margin reduction on inner menu items
	ul { margin-top: 0; }
}

// heading styles
h1, h2, h3,
h4, h5, h6 {
	display: block;
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: $font-head;
	color: $blue;

	&.dark-text {
		font-family: $font-body;
		color: $light-black;
	}
}

h1, .h1-white {
	font-size: 2rem;
	font-weight: bold;
	@include bp(xs) { font-size: 2.25rem; }
	@include bp(sm) { font-size: 2.75rem; }
	@include bp(md) { font-size: 3.75rem; } // 60px max

	&.hero {
		font-size: 3rem;
		font-style: italic;
		font-weight: bold;
		@include bp(xs) { font-size: 3.5rem; }
		@include bp(sm) { font-size: 4.5rem; }
		@include bp(md) { font-size: 6.25rem; } // 100px
	}
}

h2, .h2-white {
	font-size: 1.85rem;
	font-weight: 600; // semibold
	@include bp(xs) { font-size: 2.25rem; }
	@include bp(sm) { font-size: 2.75rem; } // 44px max
}

h3, .h3-white {
	font-size: 1.5rem;
	font-weight: 600; // semibold
	@include bp(sm) { font-size: 1.5625rem; } // 25px max
}

h4, .h4-white {
	font-family: $font-body;
	font-size: 1rem; // 16px max
	font-weight: bold;
}

h5, .h5-white {
	font-size: 0.9375rem; // 15px max
	font-weight: bold;
}

h6, .h6-white {
	font-size: 0.875rem; // 14px max
	font-weight: 600; // semibold
}

// white header classes
.h1-white, .h2-white, .h3-white,
.h4-white, .h5-white, .h6-white
{ color: $white; }