.content-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.content-container {
	max-width: 64.5rem;
	margin: 0 auto 5rem;
	padding: 0 1rem;
}

.site-container {
	max-width: 75rem;
	margin: 0 auto;
	padding: 1rem;
}

.default-container {
	max-width: 75rem;
	margin: 0 auto;
	padding: 1rem;

	// base links for default pages
	a:not(.plain-link):not(.primary-button--plain) {
		color: $blue;
		font-size: 0.875rem; // 14px
		font-weight: bold;
		text-decoration: none;
		&:hover { text-decoration: underline;}
	}
}

.main-post-wrapper {
	max-width: 100%; // each block controls its own padding (allows for full-width blocks & padding-less elements)
	margin: 0 auto;

	// main image setup for main post wrapper
	img {
		display: block;
		border-radius: 5px;
	}

	.hero-image {
		max-width: 62.5rem;
		width: 100%;
		margin: 0 auto 3.5rem;
		border-radius: 0;
		@include bp(1000px) { border-radius: 5px; }
	}

	// base links for default pages ( make all links the same using color palette - accounts for most page classes utilized by the theme
	p a:not(.plain-link):not(.primary-button--plain),
	li a:not(.plain-link):not(.primary-button--plain) {
		color: $blue;
		font-size: 0.875rem; // 14px
		font-weight: bold;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}

	.back-to-parent {
		max-width: 64.5rem;
		padding: 0 1rem;
		margin: -2rem auto 5rem;
		@include bp(sm) { margin: -4.5rem auto 5rem; }
	}
}

// base link styles
.plain-link {
	color: $light-black;
	font-size: 0.875rem; // 14px
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

// global page links to account for special use cases on links
p .rank-math-link, strong .rank-math-link {
	color: $blue;
	font-size: 0.875rem; // 14px
	font-weight: bold;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

// remove excerpt/preview read-more link
a.read-more { display: none; }

.font-bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.relative {
	position: relative;
}

.text-blue {
	color: $light-blue;
}

.block {
	display: block;
}

.ml-1 {
	margin-left: 1rem;
}

.mr-1 {
	margin-right: 1rem;
}


.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-4 {
	margin-top: 4rem;
}

.-mt-2 {
	margin-top: -2rem;
}

.-mt-4 {
	margin-top: -4rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.text-base {
	font-size: 16px;
}

.text-lg {
	font-size: 25px;
}

.inline-block {
	display: inline-block;
}

.font-sans {
	font-family: $font-body;
}

// rankmath breadcrumbs add-in (shortcode used)
.breadcrumbs {
	max-width: 64.5rem;
	margin: -2.5rem auto 2.75rem;
	padding: 0 1rem;
	color: $light-black;
	@include bp(sm) { margin: -5rem auto 2.75rem; }

	a {
		color: $light-black;
		&:hover {
			color: $light-blue;
			text-decoration: underline $light-blue;
		}
	}
}

// table styles
.wp-block-table {
	margin-bottom: 2.5rem;
	margin-left: 0; // align table with content

	table {
		border-collapse: collapse;
		font-family: $font-body;
	}

	table, tr, td {
		border: 1px solid $steel-grey;

		td {
			padding: 0.5rem;
			color: $light-black;

			a {
				display: block;
				color: $blue;
				font-weight: bold;
				margin: 0.4rem 0;
				&:hover { text-decoration: underline $blue; }
			}
		}
	}
}

// coblocks accordion overrides
.wp-block-coblocks-accordion-item {
	summary { margin-bottom: 0; }

	&__title {
		@extend h4;
		background-color: $off-white;
		&:hover { cursor: pointer; }
	}

	// fix border
	&__content {
		border: 1px solid rgba($blue, 0.1);
		border-radius: unset;
	}
}

// for below global search bar
.line-break {
	display: block;
	max-width: 14.75rem;
	height: 1px;
	margin: 1.5rem 0;
	background-color: $gold;
}

// cobblocks fix (keeps gallery inline with titles)
figure.coblocks-gallery--figure { margin-top: 0; }