// standard colors
$black: #000;
$dark-text: #454545;
$light-black: #303030;
$white: #FFF;
$off-white: #E3E9F1;
$grey-one: #8A8A8A;
$grey-two: #515151;
$grey-three: #979797;
$grey-four: #9B9B9B;
$grey-five: #D8D8D8;
$menu-grey: #D0D4CC;
$steel-grey: #B6BDC5;
$nav-fill: #F7F7F7;
$grey-100: #798BA1;

// social icon colors
$twitter-blue: #0084FF;
$facebook-blue: #3B5998;
$google-red: #D34836;

// brand colors
$blue: #0A396B;
$light-blue: #00438A;
$pale-blue: #AFC0D1;
$gold: #BF9F70;

// fonts
$font-body: 'brother-1816', sans-serif;
$font-head: 'span', serif;

// alt mq sizes
$iphone678: 375px;
$small-tablet: 400px;
$iphonex: 414px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1200px;
$tv: 2000px;

// mq mixin
@mixin bp($size) {
  @if $size == xs {
    @media (min-width: 480px) { @content; }
  } @else if $size == sm {
    @media (min-width: 768px) { @content; }
  } @else if $size == md {
    @media (min-width: 1023px) { @content; }
  } @else if $size == lg {
    @media (min-width: 1200px) { @content; }
  } @else if $size == xl {
    @media (min-width: 1340px) { @content; }
  } @else {
    @media (min-width: $size) { @content; }
  }
}
