.editor-button-block {
	display: inline-block;
	padding: 0.5rem 0.75rem 0.6rem;
	font-family: $font-body;
	font-weight: normal;
	font-size: 1rem;
	text-align: center;
	line-height: 1; // reduce extra space amount
	margin-bottom: 2.75rem;

	// transparent and white blocks will blend into page with white background (not added)
	&__border-blue, &__solid-white, &__solid-blue { @extend .editor-button-block; }

	&__border-blue {
		background-color: transparent;
		color: $blue;
		border: 1px solid $blue;
		border-radius: 5px;
		font-weight: bold;
		transition: 0.1s ease-in;

		&:hover {
			background-color: $blue;
			color: $white;
			transition: 0.1s ease-out;
		}
	}

	// blue initial background
	&__solid-blue {
		background-color: $blue;
		color: $white;
		font-weight: bold;

		&:hover {
			background-color: $white;
			color: $blue;
		}
	}

	// white initial background
	&__solid-white {
		background-color: $white;
		color: $blue;
		font-weight: bold;

		&:hover {
			background-color: $blue;
			color: $white;
		}
	}
}