// colors for headings in the block editor
$colors:
(blue, $blue),
(grey, $light-black),
(gold, $gold);

// options
@each $name, $color in $colors {
	.has-#{$name}-color {
		color: $color;
	}

	// since we cannot disable background colors AND have text colors, we will override it
	.has-#{$name}-background-color {
		background-color: transparent !important;
	}
}