.standard-dropdown-container {
	max-width: 63.25rem;
	margin: 2.5rem auto 0;
	padding: 0 1rem;

	.dropdown-block-title {
		// font-size controlled by class [.h4-heading]
		display: block;
		position: relative;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $off-white;
		color: $blue;
		font-weight: bold;

		&:hover { cursor: pointer; }

		// add arrow down after heading
		&:after {
			content: '\f063';
			position: absolute;
			top: 1.05rem;
			font-size: 15px;
			margin-left: 2rem;
			font-weight: normal;
			font-family: FontAwesome;
			transition: 0.3s ease-in;
		}
	}

	// rotate the chevron (class applied via js)
	.chevron-rotate:after {
		transform: rotate(180deg);
		transition: 0.3s ease-in;
	}
}