.important-note {
	display: flex;
	max-width: 50rem;
	margin: 5rem auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include bp(600px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__box {
		max-width: 25rem;
		background-color: $off-white;
		border-radius: 5px;
		padding: 1.4rem 0.875rem 1.1rem;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 1.75rem;
		flex-shrink: 0;

		@include bp(600px) {
			margin-right: 1.25rem;
			max-width: 17.75rem;
			margin-top: 0.25rem;
			margin-bottom: unset;
		}

		h5 {
			font-family: $font-body;
			letter-spacing: 4px;
			text-transform: uppercase;
			font-size: 0.875rem;
			margin-bottom: 1.5rem;
		}

		p {
			margin-bottom: 0;
			@include bp(600px) { max-width: 14rem; }
		}
	}

	&__text {
		max-width: 31.5rem;
	}
}