// this is here as it is an optional block on the page
.ps-header-block {
	max-width: 64.5rem;
	margin: 3.5rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include bp(sm) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.post-cropped-image {
		background-repeat: no-repat;
		background-size: cover;
		background-position: center;
		max-height: 25rem; // 400px
	}

	// with image right
	&__text {
		max-width: 36rem;
		margin-top: 3.5rem;
		font-size: 0.875rem;
		color: $light-black;
		@include bp(sm) { max-width: 24.125rem; margin-top: 0; }
	}

	// no image right
	&__text-wide {
		max-width: 48.5rem;
		padding: 0 1rem;
		margin-top: 0;
	}
}