.resources-block {
	max-width: 100%;
	margin: 4rem auto;

	.even-odd-grid {
		display: grid;
		margin-top: 1.375rem; // 22px
		grid-template-columns: repeat(auto-fill, minmax(12rem, 17.625rem)); // 282px max
		column-gap: 7rem; // 125px

		@include bp(560px) {
			grid-template-columns: repeat(2, minmax(12rem, 17.625rem)); // 282px max
			justify-content: unset;
		}
	}

	.resource {
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		padding: 0.75rem 0.15rem;
		border-bottom: 1px solid $steel-grey;
		&:hover { background-color: rgba($light-blue, 0.1); }

		// max width to keep off of icon
		span:not(.fas) {
			max-width: 16rem;
			color: $light-black;
		}
	}

	.fas {
		color: #798BA1;
		font-size: 0.875rem;
	}
}