{% extends 'base.twig' %}

{% block content %}

{% set loopCount = 1 %}

<div class="main-post-wrapper">
	<section class="menu-grid-wrapper">
		<div class="menu-grid">
			<div class="menu-grid__column">
			{% for office in offices %}
				{# get all the offices plus their children if there is data #}
					{% if office.parent == false %}
					{% if loopCount % cols == 0 %}
					</div><div class="menu-grid__column">
					{% endif %}
					<div class="menu-grid__grid-item">
						<h4 class="dropdown-block-title set-border" role="button" aria-pressed="false">
							{{ office.title }}
						</h4>
						<div class="dropdown-content" role="region" aria-expanded="false">
							<a class="office-child-link" href="{{ office.link }}">{{ office.title }}</a>
							{% for child_office in office.get_children('office') %}
								<a class="office-child-link" href="{{ child_office.link }}">{{ child_office.title }}</a>
							{% endfor %}
						</div>
					</div>
					{% set loopCount = loopCount + 1 %}
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</section>
</div>
{% endblock %}
