{% extends 'base.twig' %}

{% set months = [] %}
{% block content %}
    <div class="archive-events site-container">
        <h1 class="text-lg">Featured Events</h1>
        <div class="archive-events__featured mt-2">
            {% for ev in featured %}
                <div class="archive-events__featured-single">
                    {% if ev.thumbnail %}
                        <img class="image" src="{{ ev.thumbnail('large') }}" alt="{{ ev.thumbnail.alt }}"/>
                    {% endif %}
                    <div class="info">
                        <div class="archive-events__featured-single-title">{{ ev.title }}</div>
                        <div class="archive-events__featured-single-date">
                            <span class="far fa-calendar"></span>
                            {{ ev.event_date ? ev.event_date|date('F j, Y') }}
                            {{ ev.event_end_date ? '&mdash;' ~ ev.event_end_date|date('F j, Y') }}
                            {% if ev.meta('all_day') %}
                                &mdash; All Day
                            {% else %}
                                {{ ev.event_time ? '@ ' ~ ev.meta('event_time')|upper : '@ TBD' }}
                            {% endif %}
                        </div>

                        <div class="archive-events__featured-single-location">
                            {% if ev.meta('location') %}
                                <span class="fas fa-map-marker-alt"></span>
                                {{ ev.meta('location') }}
                            {% endif %}
                            {# We leave this here to render the line in the layout. An empty element would collapse. #}
                            <span>&nbsp;</span>
                        </div>

                        <div>
                            <a class="primary-button--plain" href="{{ ev.link }}">View Event Details
                                <span class="fas fa-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="main-post-wrapper">
            <section class="archive-container">

                {% include 'search-module.twig' %}

                <div class="inner">
                    <div class="results-wrapper js-wrapper-list">
                        <section class="results-wrapper__events facetwp-template">
                            {% for ev in events %}
                                {% set month = ev.meta('event_date')|date('F Y') %}
                                {% if month not in months %}
                                    <h3 class="month-divider mt-3"
                                        style="width: 100%; margin-bottom: 1rem; font-weight: bold;">{{ month }}</h3>
                                {% endif %}
                                {% set months = months|merge([month]) %}

                                <article class="archive-events__single">
                                    <div class="info">
                                        <div class="archive-events__single-title font-bold">{{ ev.title }}</div>
                                        <div class="archive-events__single-date mt-1">
                                            <span class="far fa-calendar text-blue"></span>
                                            {{ ev.event_date ? ev.event_date|date('F j, Y') }}
                                            {{ ev.event_end_date ? ' &mdash; ' ~ ev.event_end_date|date('F j, Y') }}
                                            {% if ev.meta('all_day') %}
                                                &mdash; All Day
                                            {% else %}
                                                {{ ev.event_time ? '@ ' ~ ev.meta('event_time')|upper : '@ TBD' }}
                                            {% endif %}
                                        </div>

                                        <div class="archive-events__single-location mt-1">
                                            {% if ev.meta('location') %}
                                                <span class="fas fa-map-marker-alt text-blue"></span>
                                                {{ ev.meta('location') }}
                                            {% endif %}
                                             <span>&nbsp;</span>
                                        </div>

                                        <div class="mt-1">
                                            <a class=" primary-button--plain" href=" {{ ev.link }} ">View Event Details
                                                <span class="fas fa-chevron-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                    {% if ev.thumbnail %}
                                        <img class="image" src="{{ ev.thumbnail.src }}" alt="{{ ev.thumbnail.alt }}"/>
                                    {% endif %}
                                </article>
                            {% endfor %}
                        </section>
                        <div class="pagination">
                            {{ function('do_shortcode', '[facetwp facet="global_pager_facet"]') }}
                        </div>
                    </div>

                    <div class="js-wrapper-calendar css-wrapper-calendar">
                        <div id='calendar'></div>

                    </div>

                </div>
            </section>
        </div>
    </div>
{% endblock %}
