{% extends 'base.twig' %}

{% block content %}
    <div class="news-archive">

        <div class="news-archive__featured">
            <div class="news-archive__featured-xl">
                <a href="{{ featured_xl.get_field('pdf_file') ? featured_xl.get_field('pdf_file').url : featured_xl.link }}"
                   class="block" style="text-align: center;"
                   target="{{ featured_xl.get_field('pdf_file') ? '_blank' : '_self' }}">
                    <img class="image" style="height: 400px;" src="{{ featured_xl.thumbnail.src('large') }}" alt="{{ featured_xl.thumbnail.alt }}" />
                    <div class="news-archive__featured-xl--title font-bold">{{ featured_xl.title }}</div>
                </a>
            </div>
            <div class="news-archive__featured-side">
                {% for p in featured %}
                    <a href="{{ p.get_field('pdf_file') ? p.get_field('pdf_file').url : p.link }}"
                       class="block news-archive__featured-side-article"
                       target="{{ p.get_field('pdf_file') ? '_blank' : '_self' }}">
                        <img class="image" style="height: 100px;" src="{{ p.thumbnail.src('medium') }}" alt="{{ p.thumbnail.alt }}" />
                        <div class="info">
                            <div class="top">
                                <div class="heading">{{ p.title }}</div>
                                <div>
                                    {% for author in Post(p.author.employee_relationship) %}
                                        {{ author.title }}
                                    {% endfor %}
                                </div>
                            </div>
                            <div>
                                <span class="primary-button--plain">Read <span class="fas fa-chevron-right"></span></span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="main-post-wrapper">
            <section class="archive-container">

                {% include 'search-module.twig' %}

                <div class="results-wrapper">
                    <section class="results-wrapper__news facetwp-template">
                        {% for p in posts %}
                            <article class="news-archive__single">
                                {% if p.thumbnail %}
                                    <img class="image" src="{{ p.thumbnail.src }}" alt="{{ p.thumbnail.alt }}" />
                                {% else %}
                                    <div class="image"></div>
                                {% endif %}
                                <div class="news-archive__single-text">
                                    {% if not p.upload_pdf %} {# Default #}
                                        <a href="{{ p.link }}"><h4 class="heading">{{ p.title }}</h4></a>
                                    {% else %}
                                        <a href="{{ p.get_field('pdf_file').url }}" target="_blank" rel="noopener"><h4 class="heading">{{ p.title }}</h4></a>
                                    {% endif %}
                                    <div>
                                        {% for author in Post(p.author.employee_relationship) %}
                                            {{ author.title }}
                                        {% endfor %}
                                    </div>
                                    {% if not p.upload_pdf %} {# Default #}
                                        <div class="mt-1 preview">{{ p.preview }}</div>
                                        <a class="primary-button--plain mt-1" href="{{ p.link }}">Read <span class="fas fa-chevron-right"></span></a>
                                    {% else %}
                                        {% if p.preview %}
                                            <div class="mt-1 preview">{{ p.preview }}</div>
                                        {% endif %}
                                        <a class="primary-button--plain mt-1" href="{{ p.get_field('pdf_file').url }}" target="_blank" rel="noopener">Read <span class="fas fa-chevron-right"></span></a>
                                    {% endif %}
                                    {# Client can copy PDF content into the Block Editor, Uncheck the PDF option, and it will link to a normal news page #}
                                </div>
                            </article>
                        {% endfor %}
                    </section>
                    <div class="pagination">
                        {{ function('do_shortcode', '[facetwp facet="global_pager_facet"]') }}
                    </div>
                </div>

            </section>
        </div>

    </div>

{% endblock %}
