{% extends 'base.twig' %}

{% block content %}
    <div class="breadcrumbs">{{ fn('do_shortcode', '[rank_math_breadcrumb]') }}</div>
    <div class="main-post-wrapper">
        {# "The Register" publication #}
        <section class="pub-container">
            <h2>The Register</h2>
            <div class="pub-container--recent">
                <div class="featured-pub-post">
                    {% for featured in register_publications %}
                        {% if loop.first %}
                            {% set link = featured.pdf_or_website ? featured.get_field('publication_pdf').url : featured.get_field('publication_url') %}
                            {% set target = featured.pdf_or_website ? '_blank' : '_target' %}
                            <div class="pub-featured">
                                <a href="{{ link }}" target="_blank"
                                   rel="noreferrer">
                                    <img src="{{ featured.thumbnail.src }}" alt="{{ featured.thumbnail.alt }}"/>
                                </a>
                                <h4>
                                    <a href="{{ link }}" target="{{ target }}"
                                       rel="noreferrer">{{ featured.title }}</a>
                                </h4>
                                <ul>
                                    {% for highlight in featured.get_field('publication_highlights') %}
                                        <li>{{ highlight.highlight }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div>
                    {% for register in register_publications %}
                        {% if not loop.first %}
                            {% set link = register.pdf_or_website ? register.get_field('publication_pdf').url : register.get_field('publication_url') %}
                            {% set target = register.pdf_or_website ? '_blank' : '_target' %}
                            <div class="pub-regular">
                                <a href="{{ link }}" target="{{ target }}" rel="noreferrer">
                                    <img src="{{ register.thumbnail.src }}" alt="{{ register.thumbnail.alt }}"/>
                                </a>
                                <div class="pub-regular__content">
                                    <h4>
                                        <a href="{{ link }}" target="{{ target }}"
                                           rel="noreferrer">{{ register.title }}</a>
                                    </h4>
                                    <ul>
                                        {% for highlight in register.get_field('publication_highlights') %}
                                            <li>{{ highlight.highlight }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="button-container">
                        <a class="primary-button--border" href="/the-register">View Past Issues</a>
                        <a class="primary-button--plain" href="/about-the-register">About The Register <span
                                    class="fas fa-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </section>

        {# "faith" publication #}
        <section class="pub-container grey-background">
            <h2>faith</h2>
            <div class="pub-container--recent">
                <div> {# container for parent flex (&--recet) #}
                    {% for faith in faith_publications %}
                        {% if loop.first %}
                            {% set link = faith.pdf_or_website ? faith.get_field('publication_pdf').url : faith.get_field('publication_url') %}
                            {% set target = faith.pdf_or_website ? '_blank' : '_target' %}
                            <div class="pub-featured">
                                <a href="{{ link }}" target="{{ target }}" rel="noreferrer">
                                    <img src="{{ faith.thumbnail.src }}" alt="{{ faith.thumbnail.alt }}"/>
                                </a>
                                <h4>
                                    <a href="{{ link }}" target="{{ target }}" rel="noreferrer">{{ faith.title }} - {{ faith.date('m/d/Y') }}</a>
                                </h4>
                                <ul>
                                    {% for highlight in faith.get_field('publication_highlights') %}
                                        <li>{{ highlight.highlight }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>


                <div> {# container for parent flex (&--recent) #}
                    {% for faith in faith_publications %}
                        {% if not loop.first %}
                            {% set link = faith.pdf_or_website ? faith.get_field('publication_pdf').url : faith.get_field('publication_url') %}
                            {% set target = faith.pdf_or_website ? '_blank' : '_target' %}
                            <div class="pub-regular">
                                <a href="{{ link }}" target="{{ target }}" rel="noreferrer">
                                    <img src="{{ faith.thumbnail.src }}" alt="{{ faith.thumbnail.alt }}"/>
                                </a>
                                <div class="pub-regular__content">
                                    <h4>
                                        <a href="{{ link }}" target="{{ target }}" rel="noreferrer">{{ faith.title }} - {{ faith.date('m/d/Y') }}</a>
                                    </h4>
                                    <ul>
                                        {% for highlight in faith.get_field('publication_highlights') %}
                                            <li>{{ highlight.highlight }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="button-container">
                        <a class="primary-button--border" href="/faith">View Past Issues</a>
                        <a class="primary-button--plain" href="/publications/about-faith">About Faith <span
                                    class="fas fa-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </section> {# /.pub-container -- /.grey-background #}

        {# link row - ACF added on publications archive template page directly #}
        <div class="link-row">
            {% for ilink in post.get_field('icon_link_row') %}
                <a class="link-row__link" href="{{ ilink.link_url }}">
                    <span class="fas {{ ilink.link_icon }}"></span>
                    <span class="link-text">{{ ilink.link_text }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
