{% extends 'base.twig' %}

{% block content %}
	{% set alphabet = [] %}
	<div class="main-post-wrapper">

		<section class="archive-container">
			{% include 'search-module.twig' %}

			<div class="results-wrapper facetwp-template">
				<section class="results-wrapper__employee">
					{% for emp in directory_listings %}
						{% set letter = emp.last_name|slice(0,1) %}
						{% if letter not in alphabet %}
							<div class="letter-divider">{{ letter }}</div>
						{% endif %}
						{% set alphabet = alphabet|merge([letter]) %}
						<article class="emp-listing">
							{# import looks for an image name as a string 'firstname-lastname.jpg' in the media library #}
							{% if emp.thumbnail.src %}
								<img src="{{ emp.thumbnail.src }}" alt="{{ emp.thumbnail.alt }}" />
							{% else %}
								<img src="{{ theme.link }}/static/images/mystery_avatar.webp" alt="{{ emp.title }}" />
							{% endif %}
							<div class="emp-text-content">
								<h4>{{ emp.title }}</h4>
								<span>{{ emp.emp_title }}</span>
								<a class="primary-button--plain" href="{{ emp.link }}">View Profile
									<span class="fas fa-chevron-right"></span>
								</a>
							</div>
						</article>
					{% endfor %}
				</section> {# /.results-wrapper__employee #}
			</div> {# /.results-wrapper #}
		</section>
		{{ fn('do_shortcode', '[facetwp facet="global_pager_facet"]') }}
	</div>
{% endblock %}
